<p>Bejaarden kunnen niet overgelaten worden aan de solidariteit binnen de familie, omdat deze in de huidige samenleving
    onmogelijk op voldoende wijze de bejaarden kunnen opvangen wegens tijds &ndash;en werkdruk. Daarom moet de nodige
    infrastructuur voor deze leeftijdsgroep worden voorzien, echter op een wijze die hen in de &ldquo;normale&rdquo;
    maatschappij inschakelt, en niet uitschakelt. Zo denken wij aan bejaardenflats in een wijk met de nodige diensten
    voor geneeskundige of familiale hulp. Dit is natuurlijk gerelateerd aan een versterkte sociale woningbouw. Wat het
    pensioen betreft moeten we streven naar een geleidelijke overgang naar een eenheidspensioen voor allen, zodat
    niemands grootouders ooit nog in armoede zullen leven.</p>
<p>De arbeidsmarkt wordt steeds complexer en het komt steeds vaker voor dat mensen meerdere statuten tijdens hun
    loopbaan gehad hebben, wat het berekenen van het pensioen niet bepaald makkelijker maakt. Bovendien zijn er ook
    steeds meer (schijn)zelfstandigen en consultants die een slechte sociale bescherming genieten. Meteen zeggen we
    erbij dat we het eenheidspensioen niet als breekijzer willen gebruiken om het ambtenarenpensioen af te zwakken,
    maar net om het als uitgangspunt te nemen voor ieders pensioen. <strong>Een eenheidspensioen impliceert dus de
        harmonisering van de sociale rechten van alle statuten naar boven toe. </strong></p>
<p>Een allereerste maatregel die wij onvoorwaardelijk stellen is dat de wettelijke pensioenleeftijd teruggebracht wordt
    tot 65 jaar. Geen enkele burger heeft gestemd voor de verhoging tot 67 jaar, ook niet diegenen die voor een van de
    regeringspartijen gestemd hebben. In al hun programma&rsquo;s voor de federale verkiezingen stond dat ze niet aan
    de wettelijke pensioenleeftijd van 65 zouden raken, en de eerste regeringsdaad van Michel I was deze belofte
    breken. De pensioenleeftijd weer laten zakken? Waanzin hoor ik u denken: hoe gaan we dat betalen?</p>
<p>Het probleem van de pensioenen moeten we relateren aan de gestegen productiviteit van de Belgische economie. Met
    nieuwe methoden van arbeids- en werkpostanalyse zoals arbeidstijdmeting en procesmodellering gingen de werkgevers
    in de afgelopen decennia op zoek naar de nog niet gevulde pori&euml;n van de arbeid. &nbsp;In 1988 lag de omzet per
    hoofd van de bevolking op 14 269 euro (1189 euro per maand), en per werkend hoofd van de bevolking op 38 134 euro
    (3177 euro per maand). Wanneer we dan naar de re&euml;le cijfers bijna 30 jaar later gaan kijken, zien we dat elke
    Belg gemiddeld 33 280 euro aan omzet produceerde in 2016. <a href="https://data.worldbank.org/indicator/NY.GDP.PCAP.CD?locations=BE"
        matTooltip="Cijfers van de wereldbank" matTooltipPosition="above">[131]</a> Dat is 2773 euro per maand. <strong>Elke
    </strong><strong><em>werkende</em></strong><strong> Belg produceerde gemiddeld 94 261 euro aan omzet in 2016.
    </strong> <a matTooltip="Wij komen tot dit cijfer door het Belgisch BNP in 2016 (428 miljard euro) te delen door het aantal werkenden in 2016(4,54 miljoen mensen)."
        matTooltipPosition="above"> [132] </a> <strong>Dit wil zeggen dat tussen 1988 en 2016, de tijdspanne van een
        generatie, de productiviteit in de Belgische economie verdubbelde. </strong> <a href="http://imf.org/external/pubs/ft/weo/2009/02/weodata/weoselgr.aspx"
        matTooltip="Cijfers van het IMF" matTooltipPosition="above">[133]</a></p>