<p>In 2008 waren er 1 819 726 mensen van 65 jaar of ouder. Een wettelijk pensioen van 1500 netto wil dus zeggen een
    kost van 2,3 miljard per maand, 32,7 miljard euro per jaar. Na 20 jaar staat de teller op 655 miljard euro. Dit
    lijkt een gigantisch bedrag, maar we moeten de paniekzaaiers rond de vergrijzing teleurstellen: in 2008 lag het
    Belgisch BBP op 343 miljard euro. We produceerden in 2008 met zijn allen dus al 52% van het benodigde bedrag om
    elke gepensioneerde in ons land een pensioen van 1500 euro te geven tot 2028. In 2016 waren er 2 062&nbsp;561 van
    65 jaar of ouder. Een wettelijk pensioen van 1500 netto wil dus zeggen een kost van 3,1 miljard per maand, 37,1
    miljard euro per jaar. Na 20 jaar staat de teller op 742,5 miljard euro. Het Belgisch BNP in 2016 was 428 miljard
    euro: we produceerden in 2016 met zijn allen dus 57,6% van het benodigde bedrag om elke gepensioneerde in ons land
    een pensioen van 1500 euro te geven tot 2038. Bovendien &lsquo;verslechtert&rsquo; de demografische situatie
    slechts tot 2030. Amper twaalf jaar nog dus. Daarna is de vergrijzingsgolf voorbij en dalen de kosten opnieuw.</p>
<p>Bij al deze scenario's gaan we nog niet eens uit van de te verwachten productiestijging per hoofd van de bevolking,
    laat staan dat onze voorstellen voor een eerlijke fiscaliteit (belastingen op vermogens!), de oprichting van een
    staatsbank of de overname van dominante economische spelers uitgevoerd worden. <strong>Dit bedoelen we met
        duidelijke politieke keuzes.</strong></p>
<p>Een pertinente vraag die de socialistische partij zich dient te stellen, en inderdaad als dooddoener vaak gesteld
    wordt: <strong>is er dan geen geld in Belgi&euml; voor sociale eisen?</strong> Uit een onderzoek van De Tijd<a
        matTooltip="De Tijd, Belgische miljardenbedrijven, er zijn er meer dan u denkt, 13/05/2017." matTooltipPosition="above">
        [137] </a>, toch niet de meest Socialistisch gezinde krant van het land, telt Belgi&euml; 36 bedrijven met meer
    dan 1 miljard euro omzet. Samen hadden ze in 2016 een omzet van 144 miljard euro. Wanneer we correct de rijken
    zouden belasten zou het al helemaal een peulschil zijn, De Tijd meldde in maart 2018 dat de 100 rijkste Belgen 48
    miljard in Luxemburg hebben geparkeerd.<a matTooltip="De Tijd, 100 rijkste Belgen parkeren 48 miljard in Luxemburg, 27/03/2018."
        matTooltipPosition="above"> [138] </a></p>
<p>Kortom, het spook van de vergrijzing dat door Europa waart is niet meer dan een populistische stormram voor rechts
    om te doen bereiken wat ze altijd al willen doen: het uitkleden van de sociale zekerheid.</p>
<p>De vergrijzingsgolf is dus geen vloedgolf maar een gewone golf<strong>. Het is iets wat we aankunnen.</strong> Een
    correcte en rechtvaardige inning van belastingen zou al m&eacute;&eacute;r dan volstaan. Net als het overnemen van
    een van de grote banken. We hoeven er dus zeker geen angstpsychose rond te cre&euml;ren. Toch gebeurt dat. Waarom?
    <strong>Omdat de &eacute;chte inzet van de strijd niet is of we de vergrijzing kunnen betalen, maar </strong><strong><em>wie</em></strong><strong>
        ze zal betalen. </strong>Omdat de discussie in werkelijkheid gaat over de concurrentiekracht van zeer grote
    bedrijven op de wereldmarkt. Het is een onvergeeflijke schande is dat men ons sociale zekerheidssysteem en onze
    pensioenen als wisselmunt gebruikt in een internationale economische oorlog. <strong>Indien we als socialisten
        opnieuw een progressieve en ontvoogdende rol in de geschiedenis willen spelen moeten we dit aan de kaak durven
        stellen en voor een wettelijk pensioen op 65 jaar gaan met een ge&iuml;ndexeerd pensioen van 1500 euro.</strong></p>