<p>Voor we over dit onderwerp beginnen dient opgemerkt te worden dat kleine aandeelhouders, gewone mensen dus, nooit
    een belangrijke kapitaalinbreng in de industrie hebben vertegenwoordigd. In ieder geval zullen de <strong>kleine
        aandeelhouders schadeloos gesteld worden</strong>. Om in het taaltje van de NV-A te blijven: het zijn immers de
    grote vissen die we in onze pan willen. De verzameling van een kapitaal, machines en gebouwen kwam, en komt nog
    steeds, tot stand via het simpele kapitalistische schema dat we hierboven hebben uitgelegd: de werknemer krijgt
    slechts een deel van wat hij produceert. De winst geproduceerd door de werkenden leidt tot investeringen, maar ook
    tot kapitaalsophoping zoals blijkt uit de concentratie van steeds meer geld bij de superrijken. Het stelsel van
    priv&eacute; bezit van de grote bedrijven, dat het toe-eigenen van de winst door enkelen mogelijk maakt, is
    eigenlijk <strong>een permanente diefstal. </strong>Men beloont de aandeelhouders, die investeerders die zogezegd
    alle risico&rsquo;s nemen. <a matTooltip=" De banken moeten hier als grote uitzondering worden vermeld natuurlijk, toen alles fout ging rekenden ze niet op de vrije markt maar wel op ons belastinggeld.
"
        matTooltipPosition="above"> [43] </a> Dit is slechts een drogreden waarachter de realiteit schuilgaat: de
    verrijking van de grootkapitaalbezitters op de kosten en de rug van de werknemers. Wat is dit anders dan
    uitbuiting? Daarop baseert men dan het recht om quasi willekeurig over het lot van elke werknemer te beslissen: heb
    ik morgen werk, een inkomen? Kan ik mij gezondheidszorg permitteren en kan ik het huis afbetalen?</p>
<p>Niet alleen de werknemers worden uitgebuit. Een belangrijk deel van de winsten wordt gerealiseerd door de
    onderaannemers en de toeleveranciers onder druk te zetten, al dan niet onder de vorm van schijnzelfstandigheid.
    <strong>Naast de werknemers worden dus evengoed de kleine ondernemers en de zelfstandigen uitgebuit.</strong> Wat
    is dit anders dan machtsmisbruik?</p>
<p>Een concreet voorbeeld zegt echter meer: zoals we hierboven schreven maakten enkel en alleen al de 36 grootste
    Belgische bedrijven in de periode 2011-2016 samen zo&rsquo;n 72 miljard euro winst. Dat komt neer op 6.344 euro per
    Belg, of 1.268 euro per Belg per jaar. Indien deze bedrijven openbaar zouden zijn zou dit geld kunnen dienen voor
    het verbeteren van onderwijs, gezondheidszorg, arbeidsduurvermindering of het invoeren van een maximumfactuur voor
    energie. Kortom, het zou naar de gemeenschap gaan en niet naar de zakken van de rijkste families in Belgi&euml;.</p>
<p>Ten gevolge van de politieke krachtsverhoudingen en de degradatie van de publieke opinie door het ideologische
    overwicht van rechts is het zeer moeilijk om momenteel de nationalisatie van hele economische sectoren te
    bepleiten, hoewel daar vanuit rationeel oogpunt wel wat voor valt te zeggen. Maar de huidige privatiseringsgolf,
    die zich nog steeds voortzet in de richting van het openbaar vervoer moet op zijn minst worden gestopt en gekeerd.
    Er kan geen sprake van zijn de overheidsbank Belfius te privatiseren. Dat zou getuigen van een kortzichtige, ja
    zelfs zwakzinnige ideologisch gemotiveerde politiek: privatiseren omwille van het principe zelf, of omwille van een
    kortzichtige doelstelling van schulden afbouw. Belfius werd uit de klauwen van de private sector gered door het
    infuus van miljarden aan belastinggeld. En nu zouden we deze bank opnieuw verpatsen aan de private sector, verzaken
    aan de dividenden die ze zou opleveren en aan een instrument om de economie te laten functioneren in het belang van
    de samenleving? <strong>Een instrument waarmee we onze zelfstandigen en KMO&rsquo;s kunnen ondersteunen om de weg
        van de duurzaamheid in te slaan?</strong></p>
<p>Ons voorstel is dus simpel: aangezien de private sector ondanks hoge winsten en omzet niet wil of kan investeren in
    banen en een duurzame ontwikkeling moet de gemeenschap het voor hen doen. We willen dit doen door hun winsten beter
    te investeren vanuit een maatschappelijke nood. We viseren daarbij in het bijzonder de sectoren waar een
    gediversifieerd aanbod van consumptiegoederen door verschillende producenten geen maatschappelijke meerwaarde
    oplevert maar die wel essentieel zijn voor het functioneren van een moderne samenleving. De overheid moet zich niet
    bezighouden met de productie van schoenen. Maar energie bijvoorbeeld heeft geur, kleur noch smaak. Het is enkel van
    belang dat de bevoorrading verzekerd is, de prijs betaalbaar en de productiewijze duurzaam. <strong>De creatie van
        een &lsquo;vrije&rsquo; energiemarkt, zogezegd goed voor de consument omdat de prijzen zouden dalen door de de
        concurrentie, heeft geen enkele maatschappelijke meerwaarde opgeleverd. Wat ze wel heeft opgeleverd zijn
        stijgende prijzen zoals we hieronder aantonen. </strong>We blijven afhankelijk van private buitenlandse
    investeringen en van de nucleaire lobby, en jaar na jaar dreigen er blackouts door een gebrek aan coherent
    energiebeleid. De energiemarkt heeft al decennia nood aan een sterke publieke speler. Hetzelfde geldt voor de
    financi&euml;le sector en telecom. Proximus kan geen overheidsbedrijf meer worden genoemd. Op die manier kunnen we
    voor de maatschappelijke noden beginnen te produceren. Wantoestanden als Opel Antwerpen, waarbij een winstgevende
    fabriek die groene auto&rsquo;s zou kunnen produceren en die louter op basis van motieven van winstmaximalisatie
    gesloten werd in 2010, zouden tot het verleden kunnen behoren als we beschikken over een sterke openbare bank en
    een investeringsmaatschappij. Deze instrumenten zijn ook onontbeerlijk voor de creatie van een duurzame economie.
    We komen daar later op terug.</p>
<p>We nemen hier een motie op die de sp.a afdeling Hemiksem in 2010 al schreef, omdat we het zelf niet beter zouden
    kunnen zeggen:</p>
<p><em>Geachte voorzitter, beste Caroline, &nbsp;&nbsp;</em><br />
    <em>Geachte leden van de Vlaamse Raad, </em><br />
    <em>Waarde kameraden en gezellinnen,</em></p>
<p><em>Wij, militanten en bestuursleden van de &nbsp;sp.a-afdeling van Hemiksem vinden dat de</em>
    <em>werknemers van Opel Antwerpen onze volle steun verdienen. Het Opel-dossier gaat om </em>
    <em>meer dan het redden van jobs alleen. Het gaat immers ook over de vraag welke economie </em>
    <em>we willen, en over het op een maatschappelijk verantwoorde manier aanwenden van </em>
    <em>technologische innovatie. Het gaat m.a.w. over de &nbsp;&nbsp;industri&euml;le toekomst van Belgi&euml; en </em>
    <em>Vlaanderen. Het is daarom niet enkel een strijd van de werknemers van Opel alleen, maar </em>
    <em>van ons allemaal. Dit dossier verdient daarom een breed sociaal en politiek front. </em></p>
<p><em>Wij willen jullie dan ook vragen om duidelijk en ondubbelzinnig te pleiten voor een kordaat </em>
    <em>overheidsingrijpen: de Vlaamse regering moet de Opel-fabriek overnemen en ori&euml;nteren </em>
    <em>naar een ecologische en duurzame autoproductie. &nbsp;</em></p>
<p><em>We kunnen stellen dat de fabriek in Antwerpen reeds van de gemeenschap is, aangezien er </em>
    <em>sedert 1996 27,8 miljoen euro overheidssteun via allerlei subsidies naartoe gegaan is. </em></p>
<p><em>Bovendien beschikken we over een Vlaamse begrotingskrediet ter waarde van 500 miljoen </em>
    <em>euro voor Opel. We hebben publieke investeringsmaatschappijen die een overheidsholding </em>
    <em>voor de auto-industrie kunnen oprichten en de fabriek kunnen overnemen. Wij verwijzen </em>
    <em>hierbij naar Nederland dat reeds in 1991 hetzelfde deed na het faillissement van DAF met de </em>
    <em>oprichting van NedCar. De Nederlandse overheid heeft de infrastructuur van DAF gebruikt </em>
    <em>om er buitenlandse modellen op te assembleren. &nbsp;Als we ook de financi&euml;le steun </em>
    <em>meerekenen die General Motors kreeg van de Amerikaanse en Duitse regering kunnen we </em>
    <em>onze stelling aanscherpen: zonder de (Amerikaanse en Duitse) overheden was er geen </em>
    <em>sprake meer van General Motors. </em></p>
<p><em>Op deze manier kunnen we Opel op korte termijn redden. Op langere termijn moet er </em>
    <em>nagedacht worden over duurzame reconversie naar elektrische wagens. In Belgi&euml; is daarover </em>
    <em>reeds bijzonder veel technologie aanwezig op onze universiteiten. &nbsp;</em></p>
<p><em>Wij willen onze sp.a-parlementsleden dan ook oproepen om de nationalisatie van Opel als </em>
    <em>politieke oplossing naar voren te schuiven. Onze openlijke steun uitspreken in persberichten </em>
    <em>is mooi en terecht, maar de huidige situatie verlangt meer dan woorden alleen. Het is tijd </em>
    <em>om daadkrachtig oplossingen voor te stellen en hiervoor ook actie te voeren! </em></p>
<p>De Amerikaanse autobouwer General Motors wou voor de sanering van Opel in Europa ongeveer 2,7 miljard euro aan
    staatshulp. GM wou 600 miljoen euro zelf ophoesten, de rest van de 3,3 miljard euro kosten voor de sanering moest
    van de Europese belastingbetaler komen. Dit is dan belastinggeld van ons allemaal om mensen te kunnen ontslaan,
    bovenop alle belastingkortingen en voordelen die dergelijke bedrijven al krijgen. De arrogantie van het patronaat
    kent werkelijk geen grenzen. <a matTooltip="De Morgen, 02/12/2009" matTooltipPosition="above"> [44] </a> </p>
<p>Nationalisatie van grote economische spelers is daarom vaak de enige uitweg. We willen daarbij zorgen voor voldoende
    tegemoetkoming aan de kleine aandeelhouders. <strong>Aan de eigendom van kleine handelaars en ondernemers wordt
        niet geraakt: we zijn geen voorstanders van een superketen van kleine staatscaf&eacute;s.</strong></p>
<p>Zijn staatsbedrijven dan niet log en ineffici&euml;nt? In de lijst van de 25 grootste bedrijven naar omzet vinden we
    5 staatsbedrijven terug, dus dat valt al mee. Echter, iedereen die in een groot bedrijf in de private sector heeft
    gewerkt kan vertellen dat dit vaak zelf niet bepaald toonbeelden zijn van snelle beslissingen of effici&euml;ntie.
    <strong>Dat neemt niet weg dat we aan een bestuursmodel voor overheidsbedrijven moeten werken.</strong> De manier
    waarop Belfius nu wordt geleid en functioneert volstaat niet. In wezen is dit nog steeds een bedrijf dat
    gestructureerd is rond het maken van financi&euml;le winst. We moeten sleutelen aan een democratische aansturing
    door alle &lsquo;stakeholders&rsquo;: klanten, werknemers en het algemeen belang moeten daarin allemaal hun zeg
    hebben. Bovendien is er geen ongeschreven regel die zegt dat openbare bedrijven op het niveau van de
    &lsquo;staat&rsquo; moeten worden georganiseerd.</p>
<p>Democratisch aangestuurde bedrijven h&oacute;even niet in &eacute;&eacute;n adem te worden genoemd met
    &lsquo;centralisme&rsquo;, maar kunnen volgens het subsidiariteitsprincipe georganiseerd worden, op het niveau dat
    het dichtst bij haar stakeholders ligt. Het Fins onderwijsmodel toont ons bijvoorbeeld hoe toegankelijk onderwijs
    georganiseerd kan worden op lokaal niveau, met een hoge mate van onafhankelijkheid. <a matTooltip="Pasi Sahlberg (2015), Finnish Lessons 2.0, Teachers College: Columbia University, 237 p.
"
        matTooltipPosition="above"> [45] </a> En bij recente ontwikkelingen in steden als Hamburg zien we hoe
    energieproductie en -distributie &lsquo;gehermunicipaliseerd&rsquo; wordt. Voortaan wordt de energievoorziening in
    de grootste havenstad van Duitsland op stedelijk niveau uitgebaat. <a matTooltip="The Guardian, Hamburg at forefront of global drive to reverse privatisation of city services, 12/11/2014"
        matTooltipPosition="above"> [46] </a></p>
<p>Kan er wettelijk gezien wel genationaliseerd worden? Laat ons eens over de grenzen kijken. Slowakije heeft sinds
    november 2009 de mogelijkheid om strategisch belangrijke ondernemingen, desnoods tegen de wil van hun eigenaars, te
    nationaliseren. Dat heeft het parlement in Bratislava beslist. De wet is uitdrukkelijk bedoeld als <strong>maatregel
        tegen de crisis</strong>. Als "strategisch belangrijk" definieert men bedrijven met minstens 500 werknemers en
    waarvan andere bedrijven of een hele regio afhankelijk zijn, zoals bijvoorbeeld energiebedrijven.<a matTooltip="De Morgen, 05/11/2009"
        matTooltipPosition="above"> [47] </a> Ondertussen heeft de sociaaldemocratische partij in Slowakije een
    absolute meerderheid, en zijn er plannen om de gezondheidszorg te nationaliseren. Het is dus geen extremistische
    politiek die wij voorstellen, maar het vergt wel politieke moed.</p>
<p>Al het bovenstaande toont wat er mogelijk zou zijn indien overheden bereid zijn belangrijke economische sectoren
    over te nemen. De inperking van het priv&eacute;bezit van de productiemiddelen blijft vandaag de noodzakelijke
    voorwaarde voor de verwezenlijking van een meer rechtvaardige maatschappij waarin we op planmatige wijze de
    problemen kunnen aanpakken. <strong>Wat men wil plannen moet men controleren, en wat men wil controleren moet men
        bezitten.</strong> In ons programmatorisch onderdeel zullen wij verder ingaan welke nationalisaties wij
    wenselijk achten.</p>
<p><strong>Nationalisatie alleen is echter geen voldoende middel.</strong> De negatieve ervaringen in het voormalige
    Oostblok bewijzen dat nationalisaties niet automatisch leiden naar een maatschappij waarin de rijkdommen op een
    gelijke manier verdeeld worden, en waar het volk zijn eigen lot bepaalt. De uitschakeling van het kapitalisme kwam
    in het Oosten niet zozeer de bevolking ten goede dan wel een bureaucratische en technocratische elite die de
    kapitalistische klasse verving. Wil men zulke ontwikkelingen vermijden, dan dient het principe van nationalisatie
    van de productiekrachten door twee andere principes aangevuld worden. In de eerste plaats moet de productie gericht
    worden op de bevrediging van menselijke en maatschappelijke noden. Hierbij wordt uitgegaan van het principe dat
    ieder mens, ieder lid van de gemeenschap, ongeacht zijn bekwaamheden en prestaties, recht heeft op een
    gelijkwaardige bevrediging van zijn noden. <strong>Dit leidt er ons toe de principes van gelijkheid en zelfbeheer
        centraal te stellen.</strong></p>