<p><strong>Tegenover het gangbare dogma stellen we vast dat de markteconomie niet de meest aangepaste en
        effici&euml;nte manier is om te voorzien in de bevrediging van de behoeften van mens, milieu en maatschappij</strong>.
    Het dogma stelt dat de liberalisering van de economie ten dienste staat van de consument: dit brengt meer
    concurrentie met zich mee en leidt tot lagere prijzen. Wat die tendens naar concurrentie betreft kunnen we kort
    zijn, er is nog nooit zo&rsquo;n sterke monopolievorming geweest als vandaag. Daarover hebben we het al eerder
    gehad.</p>
<p>Dat liberalisering tot lagere prijzen leidt werd trouwens doorprikt door niemand minder dan een van de goeroes van
    het Belgische patronaat zelf. Dit is wat Suez-bestuurder Etienne Davignon aan De Tijd vertelde: <em>&ldquo;De
        perceptie is dat de energieprijzen zullen zakken als er meer concurrentie komt in Belgi&euml;. Ik ben overtuigd
        van het tegendeel.&rdquo;</em><a matTooltip="De Tijd, 05/09/2007" matTooltipPosition="above"> [48] </a> Hij
    heeft spijtig genoeg gelijk: sinds de liberalisering van de energiemarkt in 2007 is de energieprijs voor Belgische
    gezinnen in de periode 2007-2016 met 44,09% gestegen. Voor Vlaamse gezinnen gaat het zelfs om 60,87% aldus de
    federale energieregulator Creg.<a matTooltip="De Tijd, Stroomfactuur in Vlaanderen 61 procent hoger dan in 2007, 15/03/2016"
        matTooltipPosition="above"> [49] </a></p>
<p>Veel mensen denken dat de vrije markt garant staat voor een vrije keuze tussen een brede waaier van producten.
    <strong>Een echte vrije keuze is volgens ons echter niet mogelijk in een economie die steeds grotere ongelijkheid
        in inkomen veroorzaakt.</strong> Het jaarboek Armoede In Belgi&euml; 2018, dat in opdracht van de POD
    Maatschappelijke Integratie en in samenwerking met de universiteiten van Gent en Bergen werd opgesteld, geeft voor
    het zevende jaar op rij een overzicht van de armoedecijfers in Belgi&euml;.</p>
<p>De armoede in ons land is nog steeds hallucinant: In 2018 dreigt in Belgi&euml; een situatie van armoede en sociale
    uitsluiting voor 2&nbsp;232 000 mensen. Zowel het aantal mensen in inkomensarmoede (14,9%) als het aantal mensen in
    risico op armoede of sociale uitsluiting (21,1%) blijft onveranderd. Voor vele Belgen blijft het leven een
    overleven, luidt het. Kinderen, eenoudergezinnen, personen in een huishouden met een lage tewerkstellingsgraad en
    laaggeschoolden vormen de grootste risicogroepen.</p>
<p>&ldquo;<em>Het is onmiskenbaar zo dat het beleid, de media en zelfs het onderzoek structurele en institutionele
        factoren terzijde lijken te schuiven en meer dan voorheen hun heil zoeken in persoonlijke verklaringen en
        oplossingen</em>&rdquo;, stellen de onderzoekers vast. Ze hekelen het feit dat de sociale grondrechten, die in
    1994 in de grondwet werden opgenomen, steeds meer een &ldquo;<em>plichtenverhaal</em>&rdquo; worden. &ldquo;<em>Mensen
        in armoede moeten worden gestimuleerd om kansen te grijpen om zichzelf zo uit de armoede te tillen</em>&rdquo;,
    luidt het. Maar &ldquo;<em>met alleen welgemeende duwtjes in de rug raken ze niet over de drempels heen waarmee ze
        worden geconfronteerd</em>&rdquo;.</p>
<p>De auteurs halen bijvoorbeeld het arbeidsmarktbeleid aan, dat &ldquo;<em>eerder een strijd tegen mensen in armoede
        dan wel armoedebestrijding lijkt</em>&rdquo;. Ook het huisvestingsbeleid biedt onvoldoende kansen, met naar
    schatting 17.000 tot 50.000 mensen die dakloos zijn en wachtlijsten voor sociale woningen die steeds langer worden.
    Tegelijk brokkelt de sociale bescherming af en slinkt de ambitie om mensen die in armoede leven te integreren in de
    sociale zekerheid.</p>
<p><strong>Dit zijn alarmerende trends en cijfers. </strong>In het jaarboek wordt ook aangestipt dat een
    &ldquo;niet-verwaarloosbare&rdquo; populatie van uitgesloten personen onzichtbaar wordt: doordat de regels om
    aanspraak te kunnen maken op sociale uitkeringen en voorzieningen worden aangescherpt, worden die mensen niet gevat
    in de cijfers.<a matTooltip="Metro, Jaarboek Armoede in België bijzonder kritisch voor responsabiliserend armoedebeleid, 11/10/2017"
        matTooltipPosition="above"> [50] </a></p>
<p>Het wordt nog erger: in 2017 klopten maar liefst 157.151 mensen aan bij een Belgische voedselbank, een absoluut
    record in de dertig jaar dat ze bestaan. Het gaat om personen met een klein pensioen, nieuwe werklozen en
    alleenstaande ouders. Ook meer en meer jongeren moeten het redden met beperkte middelen, vaak omdat ze weinig
    ervaring hebben en moeilijk aan werk geraken.<a matTooltip="De Standaard, Belgische voedselbanken kennen recordaantal gebruikers, 19/01/2018.
"
        matTooltipPosition="above"> [51] </a> Het gaat dus om 1,3% van de Belgen, indien al deze mensen een stad zouden
    vormen zou deze zich tussen Brugge en Brussel op de 6de plaats van de lijst meest bevolkte steden in Belgi&euml;
    bevinden.<a href="https://nl.wikipedia.org/wiki/Lijst_van_steden_in_Belgie" [matTooltip]="belgischeSteden"
        matTooltipPosition="above"> [52] </a></p>
<p><strong>Over welke vrije aanschaf van producten beschikken de mensen in armoede in een zogenaamde vrije markt?</strong>
    Echte vrije keuze betekent dat de mensen over een grotere koopkracht beschikken en dat we een permanente
    democratische controle kunnen uitoefenen over wat en hoe er wordt geproduceerd. Als we armoede effici&euml;nt
    willen aanpakken moeten we bereid zijn de strijd aan te binden met de grootste bedrijven, onder ogen zien dat de
    werkende Belg gemiddeld erg veel aan zijn baas oplevert, en vooral zorgen voor een bijna volledige tewerkstelling
    door te pleiten voor een verkorting van de werkweek. Het overnemen van de belangrijkste sectoren van de economie
    zal er ook voor zorgen dat de winsten kunnen gebruikt worden om te investeren in allerlei sociale maatregelen.</p>
<p><strong>De markteconomie leidt naar een bestendiging van de ongelijkheid</strong>, maakt de rijken relatief rijker,
    en de armen relatief armer: dit geldt niet enkel voor personen en families, maar voor hele streken, landen en
    continenten. Dit is moreel verwerpelijk en strijdig met het oude socialistisch ideaal. Zolang er schaarste is,
    zolang de vraag het aanbod overtreft, is er vanzelfsprekend een beperking van gelijkheid onder een of andere vorm:
    er is immers niet genoeg voor iedereen. <strong>Het perverse aan heel het systeem is echter dat het objectief
        gezien niet nodig is</strong>: er is genoeg voor iedereen, er is meer dan genoeg productiecapaciteit om
    iedereen op aarde een menswaardig bestaan te geven. Een meer geplande economie maakt het mogelijk om beschikbare
    goederen en diensten te verdelen op een wijze die niet alleen rechtvaardiger is, maar ook effici&euml;nter. Er kan
    alvast begonnen worden met het volledig en principieel verwerpen van de markteconomie in die sectoren waarmee zij
    onverenigbaar is. Kan men bijvoorbeeld onderwijs of gezondheidszorg als koopwaar beschouwen, en daarmee de
    bevrediging van fundamentele menselijke noden als fysiek welzijn en geestelijke ontwikkeling afhankelijk maken van
    het inkomen? Dat is nochtans de toestand van onze maatschappij, en daar kan slechts een einde aan gemaakt worden
    door ernaar te streven onderwijs en geneeskunde werkelijk gratis ter beschikking van allen te stellen, om gelijke
    kansen op menswaardig leven en ontwikkeling te garanderen.</p>
<p>Dat is echter niet genoeg. De opsplitsing van de maatschappij in werknemers en patronaat maakt het voor de
    meerderheid van de mensen moeilijk, zoniet onmogelijk, een leefpatroon dat hen vanaf de geboorte werd opgedrongen
    te doorbreken. Niet alleen in de Derde Wereld, maar ook bij ons is een groot deel van de bevolking gedoemd het
    systeem te ondergaan, een systeem dat een zeer ongelijke verloning van werk huldigt, gekoppeld aan een elitair
    opvoedingssysteem. <strong>Zo zijn de kosten van het universitair onderwijs sterk gestegen</strong>:</p>
<p>De directe en indirecte studiekosten en de leefkosten van een kotstudent die geen recht heeft op een beurs,
    bedroegen in 2017 12.425 euro.<a matTooltip="HLN, Kotstudent kost 12.425 euro, 12/09/2017." matTooltipPosition="above">
        [53] </a> Dat heeft het CEBUD, het Centrum voor Budgetadvies en -onderzoek van de Thomas More-hogeschool,
    berekend. Wie pendelt, is financieel een pak beter af: zo&rsquo;n niet-beursstudent kost 8.076 euro. De
    belangrijkste reden voor het verschil zit natuurlijk in de huisvesting: een kotstudent betaalt daarvoor 4.067 euro
    per jaar extra. De gemiddelde maandprijs voor een priv&eacute;kamer met een lavabo met warm en koud water bedraagt
    332 euro.</p>
<p>Directe studiekosten zijn kosten die elke student moet maken om te kunnen studeren. De grootste uitgavenpost is het
    studiegeld. Inschrijven aan een hogeschool of universiteit kost: 890 euro voor niet-beursstudenten,&nbsp;470 euro
    voor bijna-beursstudenten en 105 euro voor beursstudenten.&nbsp;Een student die recht heeft op een studietoelage
    van de Vlaamse overheid betaalt veel minder inschrijvingsgeld en mag van die bedragen ongeveer 780 euro aftrekken.</p>
<p>Naast het studiegeld moet men ook de kosten voor cursussen, boeken, stages, labo&rsquo;s of ateliers, een computer,
    de nodige software en een printbudget rekenen. De hoogte van die kosten is zeer sterk afhankelijk van de gekozen
    studierichting. Gemiddeld bedragen ze 741 euro per jaar voor een bacheloropleiding aan de hogeschool.</p>
<p>Dan zijn er nog de leefkosten. Het gaat om het dagelijkse levensonderhoud met kosten voor voeding, kledij,
    ontspanning,&hellip; kosten die je ook maakt als je niet studeert. Volgens CEBUD bedragen deze leefkosten minimaal
    6.373 euro voor een kotstudent en 6.131 euro voor een pendelstudent. In het globale pakket van de leefkosten gaat
    ongeveer een derde naar voeding (2.143 euro voor kotstudenten en 1.946 euro voor pendelstudenten) en een iets
    groter aandeel naar ontspanning (2.271 euro). De overige leefkosten zijn o.a. kledij, gezondheid, persoonlijke
    hygi&euml;ne, mobiliteit en de kosten verbonden aan een eigen slaapkamer.<a matTooltip="Thomas More, Hoeveel kost een student? CEBUD zet de bedragen op een rij, 16/08/2017"
        matTooltipPosition="above"> [54] </a></p>
<p>Gezien die kostprijs is het dan ook niet toevallig dat Vlaanderen slecht scoort wat betreft gelijkheid in het
    onderwijs en de idee van sociale promotie via hogere studies. Ook het middelbaar scoort niet veel beter. Eind 2016
    werden de resultaten bekend gemaakt van PISA 2015 (Program for International Student Assessment), een vergelijkend
    onderzoek dat in 2015 bij 15-jarige leerlingen uit 48 landen werd uitgevoerd onder de auspici&euml;n van de OESO.</p>
<p><br /><br /></p>
<p><img src="assets/images/image31.png" alt="" /></p>
<p>In het Vlaams onderwijs bestaat er een gigantische kloof tussen de gemiddelde prestaties van de leerlingen
    naargelang de onderwijsvorm en de studierichting. Voor &lsquo;wetenschappelijke geletterdheid&rsquo; bedraagt de
    gemiddelde score in PISA 2015 voor een Vlaamse leerling 515 punten. Maar achter dit gemiddelde schuilen grote
    verschillen zoals ze uit bovenstaande tabel kunnen zien<a matTooltip="Universiteit Gent, Wetenschappelijke geletterdheid bij 15 jarigen, overzicht van de eerste Vlaamse resultaten van Pisa 2015, p.21."
        matTooltipPosition="above"> [55] </a>: 582 punten in het ASO (algemeen secundair onderwijs), 508 punten in het
    TSO (technisch secundair onderwijs), 523 punten in het KSO (kunst secundair onderwijs), 402 punten in het BSO
    (beroeps secundair onderwijs), 358 punten in het BuSO (buitengewoon secundair onderwijs). Het verschil tussen de
    gemiddelde score van een 15-jarige ASO- en een 15-jarige BSO-leerling bedraagt dus 180 punten, bijna tweemaal de
    standaardafwijking. Dat betekent dat de ASO-leerlingen met de slechtste scores het beter doen dan de BSO-leerlingen
    met de beste scores.</p>
<p>De sociale samenstelling van het ASO en het BSO is totaal verschillend. In elk land halen leerlingen uit gezinnen
    met een hogere socio-economische status (SES) een hogere score dan leerlingen uit gezinnen met een lagere status.
    De samenhang tussen SES en prestatie verschilt echter aanzienlijk tussen de landen. Overheen de OESO-landen wordt
    12,9% van de variantie in de wetenschappenscores verklaard door de sociaal-economische thuissituatie van de
    leerlingen. In Vlaanderen verklaart het thuismilieu 17,6% van de variatie in wetenschappenscores. Wij combineren
    een hoog gemiddeld prestatieniveau met een (zeer) sterke samenhang tussen de prestatie en de socio-economische
    achtergrond van de leerlingen.<a matTooltip="Ibid., 15." matTooltipPosition="above"> [56] </a></p>
<p>De combinatie van beide vaststellingen betekent dat ons onderwijs met zijn hi&euml;rarchische onderwijsvormen (en
    studierichtingen) letterlijk een klasse-onderwijs is. Naargelang de sociale afkomst lopen de resultaten statistisch
    gezien enorm uiteen. <strong>Het doet ons wel vragen stellen over de zogenaamde democratisering van het onderwijs.</strong></p>
<p><strong>Als socialisten verwerpen wij een ongelijke waardering van de verschillende talenten die mensen bezitten</strong>.
    Wij beschouwen ook de verwaarlozing van lichaam of geest van om het even welke persoon als een verlies voor de
    ontwikkeling van de hele gemeenschap: daarom moeten de talenten die in iedere mens aanwezig zijn, bewust gemaakt,
    gestimuleerd en ontplooid worden. <strong>Dit is naast investering immers de motor van maatschappelijke
        vooruitgang. </strong>Daarom pleiten wij ook voor gelijke en zo ruim mogelijke kansen voor iedereen. Dat wil
    niet zeggen dat onderwijs en opvoeding iedereen over dezelfde kam moeten scheren. <strong>Gelijke maatregelen in
        een ongelijke maatschappij bestendigen alleen maar de ongelijkheid. </strong>De sociale barri&egrave;res, een
    rechtstreeks gevolg van de bestaande maatschappelijke verhoudingen, moeten via het onderwijs en de opvoeding
    opgeheven worden. De enige oplossing om dat te doen is de verschillen in bezit, milieu en (vaak) dus intellectueel
    peil op te vangen door een sterk ge&iuml;ndividualiseerd onderwijs &ndash;en opvoedingssysteem. Alleen op die
    manier, gekoppeld aan de gelijktijdige actie om het milieu van het kind buiten de school om te vormen en te
    verbeteren, kan de voorschoolse discriminatie verholpen worden.</p>
<p><strong>Is gelijkheid een utopie in een ontwikkelde maatschappij als de onze?</strong> Is een maatschappij van rang
    en stand, een ongelijke maatschappij waarin sociale positie, inkomsten en economische macht grotendeels
    samenvallen, onvermijdelijk? Op dergelijke vragen kan men slechts antwoorden dat <strong>het socialisme stoelt op
        een diep menselijke drang naar gelijkheid en rechtvaardigheid,</strong> dat de sociale strijd steeds de
    gelijkheid als inzet heeft (gelijk loon voor gelijk werk, centen en geen procenten, vermindering van de kloof
    tussen hoge en lage lonen,&hellip;).</p>
<p>Opnieuw zijn wij niet de enigen die deze idee&euml;n opperen: <em>&ldquo;ziekenhuisschoonmakers hebben meer waarde
        voor de maatschappij dan (top)bankiers, reclamejongens en belastingconsulenten. Dat blijkt uit het rapport "A
        Bit Rich?" van The New Economics Foundation dat pleit voor een "fundamentele heroverweging" van de manier
        waarop de waarde van werk wordt erkend en beloond. Het rapport gaat uit van een nieuwe methode om de waarde van
        verschillende jobs te berekenen. De denktank zegt dat haar studie enkele van de mythes om hoge lonen te
        rechtvaardigen, verbrijzeld heeft. TNEF argumenteert dat arbeiders zoals ziekenhuisschoonmakers of arbeiders
        die afval recycleren, meer waarde cre&euml;ren voor de maatschappij: "Voor elke euro die kinderverzorgers
        betaald worden, produceren ze tussen 7,76 en 10,53 euro aan voordelen voor de maatschappij." In het rapport
        staat dat "hoge lonen die voortkomen uit buitengewone winsten mogelijk gemaakt zijn doordat bedrijven niet de
        volle kostprijs van hun activiteiten betalen". Zo zijn sommige productiekosten moeilijk om te zien, zoals de
        uitstoot van broeikasgassen of de impact van harde arbeid. "Maar iemand draait ervoor op - nu of in de
        toekomst", aldus The New Economics Foundation. Het rapport concludeert dat "tot het moment dat de prijzen van
        goederen en diensten de echte kosten van hun productie weerspiegelen, prestaties fout gewaardeerd zullen
        worden. Dit betekent dat schadelijke activiteiten relatief goedkoop en winstgevend zullen zijn, terwijl het
        uitvoeren van positieve activiteiten ontmoedigd wordt."</em><a matTooltip="De Morgen, Werk poetsvrouwen heeft meer waarde dan dat van een bankier, 14/12/09"
        matTooltipPosition="above"> [57] </a></p>
<p>We zijn eens naar dat onderzoek <a matTooltip="http://neweconomics.org/2009/12/a-bit-rich/ New Economics,
        A Bit Rich"
        matTooltipPosition="above"> [58] </a> gaan kijken, en hebben hier een paar categorie&euml;n
    beroepen opgenomen waarbij de conclusie hoogst interessant is:</p>
<p><em>Bankiers</em></p>
<p><em>Bankiers van investeringsbanken in Londen behoren tot de best betaalde mensen in de economie. De lonen die ze
        krijgen en de winsten die ze maken hebben een hoge kostprijs gezien de sociale schade die deze financi&euml;le
        activiteiten veroorzaken. We kwamen tot de constatatie dat ze niet de motors van de welvaart zijn waarvoor ze
        altijd aanzien worden, maar net zeer goed betaald werden en toch het globaal financi&euml;le systeem tot de
        rand van de afgrond brachten. Hoewel ze lonen tussen 500.000 en 10 miljoen pond opstreken, vernietigden ze 7
        pond aan waarde voor elke pond die ze genereerden.</em></p>
<p><em>Ouders en kinderopvang</em></p>
<p><em>Zowel voor gezinnen als voor de maatschappij in haar geheel kan het oppassen op kinderen niet belangrijker zijn.
        Niet alleen wordt een nuttige dienst aangeboden voor gezinnen, maar kinderverzorgers stellen ouders ook in
        staat om te gaan werken, wat op zich weer meer inkomsten genereert. Voor elke pond die ze betaald worden
        genereren kinderverzorgers tussen de 7 en 9,5 pond aan waarde voor de maatschappij.</em></p>
<p><em>Marketing directeur</em></p>
<p><em>Hoewel marketing directeur een beroep met een hoge status is, is de reclameindustrie zelf altijd controversieel
        geweest. Deze industrie moedigt meer uitgaven aan door consumenten en draagt bij tot schuldvorming. Ze draagt
        bij tot behoeften die niet altijd vervuld kunnen worden, wat leidt tot gevoelens van ontevredenheid,
        minderwaardigheid en stress. In ons economisch model maken we een schatting van de sociale schade en de milieu
        impact die voortkomt uit overconsumptie door marketing. Voor een salaris tussen 50.000 en 12 miljoen pond
        vernietigen marketing directeurs 11 pond aan waarde voor elke pond die ze betaald krijgen.</em></p>
<p><em>Schoonmaakpersoneel ziekenhuizen</em></p>
<p><em>Schoonmakers hebben een vitale rol in ziekenhuizen. Niet alleen kuisen ze, maar ze zorgen voor het behouden van
        hoge hygi&euml;nische standaarden die beschermen tegen infecties. Het belang van deze mensen wordt vaak
        onderschat en ondergewaardeerd in hun loon en in de manier waarop ze behandeld worden. We schatten dat ze voor
        elke pond die ze betaald worden 10 pond in sociale waarde voortbrengen.</em></p>
<p><em>Belastingconsulent</em></p>
<p><em>Het bepalen van de juiste belastingsom is een gespecialiseerde vaardigheid en vergt professionals. Zeer goed
        betaalde belastingconsulenten zijn echter fulltime bezig met het helpen van rijken en bedrijven om zo min
        mogelijk belasting te betalen. We stelden vast dat de baten van deze activiteiten voor de maatschappij
        verwaarloosbaar zijn. Elke pond die vermeden werd te betalen is een pond die anders naar de belastingen en dus
        de gemeenschap zou gegaan zijn. In ons model bekeken we hoe deze verloren opbrengsten beter zouden uitgegeven
        kunnen worden.</em></p>
<p><em>Voor een salaris tussen 75.000 en 200.000 pond vernietigen belastingsboekhouders 47 pond aan waarde voor elke
        pond die ze genereren.</em></p>
<p><em>Recyclage arbeider</em></p>
<p><em>Recyclage arbeiders doen allerlei jobs die te maken hebben met het verwerken van afval en het promoten van
        recyclage. De CO</em><em>2</em><em>-uitstoot wordt gevoelig verlaagd wanneer goederen gerecycleerd worden in
        plaats van ze te verbranden of te dumpen. Er ook een waarde in het hergebruik van goederen, en die hebben we in
        ons model opgenomen. Voor elke pond aan loon brengt de recyclage arbeider 12 pond aan waarde voort.</em></p>
<p><br /><br /></p>
<p>Dit alles plaatst wel wat vraagtekens bij onze waardering en beloning van verschillende types van arbeid. Als
    socialistische partij moeten wij de kampioenen van gelijkheid zijn, niet enkel in woorden, maar vooral in daden.
    Zelfs de beste chirurg is niet in staat zijn eigen voedsel te verbouwen, zijn eigen energie op te wekken, zijn
    eigen vervoer te produceren,... <strong>het individualisme is een illusie: niemand staat op zichzelf.</strong></p>