<p>We hebben zeer veel electorale pluimen verloren op thema&rsquo;s als migratie, samenlevingsproblemen,
    veiligheid&hellip; als socialisten moeten we de moed hebben te vertellen dat niemand beter wordt van overspannen
    identitaire verzuchtingen rond hoofddoeken aan overheidsloketten of boerkini&rsquo;s op het strand. Niemand, en al
    zeker niet de moslims zelf die mede door de acties van een kleine gepolitiseerde groep verder gestigmatiseerd
    worden.</p>
<p>De tijden vereisen dat we de nadruk leggen op alles wat ons verenigt, niet op wat ons onderscheidt. Dat we tegelijk
    het grootste respect betonen voor het individu, wat ons dan weer onderscheidt van bepaalde communistische maar ook
    religieuze stromingen die niet willen aanvaarden dat bijvoorbeeld godsdienstvrijheid impliceert dat men als
    individu ook het recht heeft om uit een godsdienst te treden. De Universele Verklaring van de Rechten van de Mens
    (die in december 2018 haar 70ste verjaardag viert) is niet voor niets universeel genoemd en daar is strijd voor
    gevoerd. Haar loslaten zou catastrofale gevolgen hebben, en we mogen niet onverschillig staan tegenover de
    aanvallen die erop worden uitgevoerd door het cultuurrelativisme en door de religie. Ook het secularisme is met
    pijn en smarten bevochten. Het blijft nog steeds het beste platform om de toegang van zoveel mogelijk mensen tot
    overheidsdiensten en &ndash;goederen te garanderen. <strong>Een socialistische partij is een seculiere partij.</strong>&nbsp;</p>
<p>Het wordt wel tijd om lijnen te trekken over waar gemeenschappelijke waarden primeren, om te beginnen in de scholen
    waar leerkrachten moeite hebben met het onderwijzen van de evolutietheorie (zoals onder George W. Bush, ook
    religieus ge&iuml;nspireerd). Gelijkheid van man en vrouw, dierenrechten en andere moderne verwezenlijkingen horen
    voor te gaan op diverse religieuze praktijken. Daar zouden socialisten ondubbelzinnig voor moeten strijden.</p>
<p><em>&ldquo;De werkliedenpartij beschouwt zich als de vertegenwoordiger niet alleen van de arbeidersklasse, maar van
        alle verdrukten, zonder onderscheid van nationaliteit, godsdienst, ras of geslacht.&rdquo;</em><a matTooltip="Charter van Quaregnon, VII, 1."
        matTooltipPosition="above"> [59] </a></p>
<p>Op deze manier opgevat, als een strijd die zich tegelijk richt tegen de drie fundamenten waarop de uitbuiting en de
    vervreemding van onze maatschappij berust, namelijk het priv&eacute;bezit van de productiemiddelen, de totale vrije
    markt en het democratisch deficit, kan het socialisme opnieuw de generaties van vandaag en morgen aanspreken.
    <strong>Het alternatief dat wij tegenover de kapitalistische maatschappij stellen, een socialistische maatschappij
        steunend op secularisme, gelijkheid en zelfbeheer, is van die aard dat de meerderheid van de bevolking
        overtuigd en aangesproken kan worden.</strong></p>
<p><strong>In de volgende bladzijden zullen we proberen concreter te omschrijven wat wij aan de maatschappij willen
        verbeteren, en hoe we daarbij te werk zullen gaan. Een dergelijk programma op lange termijn heeft een
        specifieke betekenis in een socialistische strategie. Het vormt als het ware <strong>de brug tussen de actie
            van iedere dag en het uiteindelijke doel dat we nastreven</strong>. Zonder die tussenschakel verzandt de
        actie van elke dag in het opportunisme en het pragmatisme, terwijl de ideologie dode letter blijft, een doekje
        voor het bloeden voor een verre en onbereikbare toekomst. Hoe verlammend een dergelijke tegenstelling kan
        werken op de socialistische strijd hebben wij in het verleden voldoende ervaren, niet in het minst bij de
        houding van de partij ten tijde van het generatiepact en de oorverdovende stilte toen de economische crisis
        losbrak. Het programma op lange termijn, dat in feite een overgangsprogramma is naar het socialisme, maakt het
        mogelijk die tegenstelling te overbruggen en geeft zin, betekenis en richting aan de actie die wij voeren.</strong></p>