<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <app-inleiding-b></app-inleiding-b>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-b-1-nationalisatie></app-b-1-nationalisatie>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-b-2-gelijkheid></app-b-2-gelijkheid>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-b-3-zelfbeheer></app-b-3-zelfbeheer>
    </ng-template>
    <ng-template [appTemplate]="chapters[3].title">
        <app-b-4-secularisme></app-b-4-secularisme>
    </ng-template>
</app-subject>