<p>Het is duidelijk dat de socialistische beweging, en vooral de partij, in haar huidige vorm niet gewapend is om voor
    het programma hierboven te strijden, laat staan uit te voeren. <strong>De partij heeft een diepgaande interne
        revolutie nodig.</strong></p>
<p>Het addertje onder het gras is dat de Vlaamse sociaaldemocratie in de afgelopen decennia bijzonder ver mee is gegaan
    in de ideologie van de rechterzijde: ze privatiseerden mee de ASLK en nog een hele reeks andere
    overheidsinstellingen. Ze gingen mee in het onjuiste verhaal dat we allemaal langer moeten werken om de pensioenen
    betaalbaar te houden. Om onze geloofwaardigheid te herstellen moeten we van bepaalde episodes uit het verleden
    afstand durven nemen, ook al betekent dit het desavoueren van bepaalde iconen zoals Johan Vande Lanotte.</p>
<p><strong>Zowel lokaal als bovenlokaal oogt de partij nog te vaak als de optelsom van verschillende
        carri&egrave;replanningen.</strong> Wie mee aan de leiding staat van de partij moet beseffen dat ons een
    langere periode van oppositie voeren te wachten staat. De beste manier om die periode zoveel mogelijk in te korten
    is een goede en geloofwaardige oppositie voeren. Plannen om minister, staatssecretaris of Europees commissaris te
    worden kunnen beter eventjes worden opgeborgen.</p>
<p><strong>Een partij is slechts geloofwaardig in de mate dat ze reeds een spiegel is van de maatschappij waaraan ze
        gestalte wil geven</strong>: in ons geval moet zij dus gebaseerd zijn op het principe van zelfbeheer. Wij
    wijzen dus de organisatievorm af waarbij de democratie louter formeel is, de organisatievorm waarbij de
    partijleiding alles zelf beslist en er zich toe beperkt de passieve instemming van de leden (bij handgeklap!) met
    dit beleid te vragen&hellip;niet zelden nadat het beleid al een aanvang genomen heeft of in de pers verschenen is!
    Wat wij willen is een organisatie die werkelijk democratisch is, <strong>waar de basis het beleid bepaalt en de
        partijleiding uitvoert</strong>, waar er niet alleen top-down gewerkt wordt, maar vooral bottom-up. Deze
    opmerking geldt trouwens voor hele socialistische beweging: vakbond en mutualiteit inclusief.</p>
<p><strong>Het gaat niet op zich naar buiten toe op te stellen als de grote democraten en pleitbezorgers van
        emancipatie en ontvoogding, maar dit intern te negeren.</strong> Het ondermijnt trouwens de positie van de
    socialistische beweging als hun representativiteit in twijfel kan worden getrokken door tegenstanders wegens een
    gebrek aan interne democratie. Onze geloofwaardigheid komt zeer sterk in gedrang wanneer we worden vertegenwoordigd
    door leiders die vaak niets eens democratisch werden verkozen, of waarvan de verkiezing een zuivere formaliteit
    was. <strong>Dit effect neemt nog eens sterk toe als deze leiders dan ook nog eens standpunten gaan verkondigen die
        niet vertolken wat de achterban denkt</strong>, omdat die achterban vaak niet of op karikaturale wijze
    geraadpleegd werd! Helemaal potsierlijk wordt het wanneer mandatarissen ge&iuml;nterviewd worden over BMW&rsquo;s,
    boten, onterechte subsidies voor eigen zonnepanelen of gesjoemel in raden van bestuur. Daarom is de democratisering
    van de socialistische organisaties (democratische verkiezing en besluitvorming vanuit de basis) de grondvoorwaarde
    voor een doeltreffende socialistische actie in de maatschappij.</p>
<p>De socialistische strijd verliest trouwens alle zin als de werknemers in die organisaties die zijn opgericht om hun
    belangen te verdedigen worden gebruikt en gemanipuleerd voor doelstellingen die de hunne niet zijn. <strong>De
        socialistische strijd verliest alle zin als die organisaties in plaats van middelen tot een doel tot doel zelf
        worden, en later, een middel om de doelstellingen van de leiding te bereiken</strong>. Dit weegt als een
    molensteen rond de nek van de socialistische strijd en daarom drukken wij zo sterk op het principe dat de
    socialistische organisaties een model en een leerschool moeten zijn wat zelfbeheer betreft.</p>