<p>De strijd voor een meer rechtvaardige maatschappij wordt niet enkel op het politieke, parlementaire vlak
    uitgevochten. Dat vlak is zelfs niet het belangrijkste. Een vluchtige blik op de geschiedenis leert ons dat in ons
    land de grote hervormingen steeds werden afgedwongen door de directe actie van burgers, van de georganiseerde
    werknemers, door de vakbeweging, en nadien pas door parlement en regering werden bekrachtigd en verstevigd. Het is
    dus wel degelijk de <strong>vakbeweging</strong> die <strong>de stuwende kracht</strong> moet zijn van het
    progressief front waarin naast de partij ook andere burgerplatformen hun plaats hebben, elk met hetzelfde doel op
    hun deelterrein: mutualiteiten, consumentenorganisaties, progressieve actiegroepen,&hellip; <strong>Wij zijn van
        mening dat ons programma nagenoeg de oude tandem partij-vakbond volledig zal herstellen, aangevuld met diverse
        burgerplatforms.</strong></p>
<p>Het front moet gestructureerd worden op een manier die de doeltreffende samenwerking mogelijk maakt, op basis van
    een gemeenschappelijke strategie. Het is echter belangrijk dat binnen dit kader elke organisatie zijn eigen
    autonomie behoudt. Zo moet bijvoorbeeld de vakbeweging onafhankelijk blijven om de specifieke belangen van de
    werknemers te verdedigen, ook en zelfs tegen een progressieve regering in indien nodig. Hetzelfde geldt voor de
    andere organisaties op hun terrein. <strong>Om die zelfstandigheid te waarborgen dient de cumulatie van mandaten in
        verschillende organisaties dan ook verboden te worden.</strong></p>
<p>De socialistische beweging is groot geworden door mensen te organiseren: in vakbonden, mutualiteiten en
    co&ouml;peratieven. Waarom doen we dit vandaag niet meer? Er is niks mis mee om het aanrekenen van
    betalingsherinneringen door watermaatschappijen aan te klagen. Maar organiseer de mensen dan om er iets tegen te
    doen. Er zijn nogal wat mensen die dit niet doen uit protest, en dit zonder enig verder negatief gevolg. Het kan
    dus niet zo moeilijk zijn om mensen op te roepen om dergelijke ongefundeerde extra kosten niet te betalen en hen
    desnoods juridische ondersteuning aan te bieden. Socialisten moeten al eens subversief durven zijn.</p>