<p><em>&ldquo;De socialisten van alle landen moeten solidair zijn, want de ontvoogding der arbeiders is geen nationale
        maar een internationale aangelegenheid.&rdquo;</em><a matTooltip="Charter van Quaregnon, VII, 1."
        matTooltipPosition="above"> [4] </a></p>
<p>Ongewoon in deze tijden van nationalistisch discours over Vlaanderen, vluchtelingencrises en internationaal
    rechts-populisme willen we een vaak vergeten kenmerk van het kapitalisme op de eerste plaats zetten. Het gaat niet
    enkel om een systeem van uitbuiting, maar een <strong>wereldwijd</strong> systeem van uitbuiting: het kapitalisme
    steunt op de uitbuiting van de miljarden mensen in de Derde Wereld. In plaats van de kloof tussen arm en rijk te
    verkleinen, vergroot deze juist: tussen de mensen onderling, maar ook tussen landen. Dit zorgt voor enorme armoede,
    economische achterstelling en werkloosheid in de Derde Wereld, vaak verergerd door een oorlog waar bijna even vaak
    Westerse wapens bij betrokken zijn. Niet alleen op de mens, maar ook op de natuur wordt genadeloos roofbouw
    gepleegd. Het kapitalistische systeem kan alleen bestaan door de toe-eigening van natuurlijke rijkdommen, en door
    ongeremde productie en expansie. Een bedrijf dat ertoe besluit om haar productie duurzaam en planmatig te
    organiseren, en haar re&euml;le productiekost (zijnde het loon van de arbeiders &eacute;n de kost aan
    natuurvervuiling) te vertalen naar de prijs van haar product, houdt het in dit systeem geen dag uit.</p>
<p>In recente jaren zijn miljoenen mensen gedood, verwond of ontheemd geworden door oorlog, terrorisme en militaire
    interventies, veel in het Midden-Oosten en Afrika. In Syri&euml; alleen al zijn er meer dan 400.000 mensen gedood.
    Dat is meer dan tien keer het aantal doden die er bij de atoombom op Nagasaki vielen (39.000 doden).<br /><br /></p>
<p>Die omstandigheden zorgen voor de migratiestromen richting het rijke Westen.</p>
<img src="assets/images/image23.png">
<p>Sinds het begin van de financi&euml;le en economische crisis in 2008 zijn er 18,2 miljoen meer mensen zonder baan.
    In 2007 bedroeg de wereldwijde werkloosheid 179,5 miljoen mensen, terwijl deze in 2016 reeds 197,7 miljoen mensen
    &nbsp;bedroeg. Dit aantal zal voor 2017 en 2018 verder blijven stijgen tot 203,8 miljoen mensen, zo voorspelt de
    Internationale Arbeidsorganisatie (IAO). <a matTooltip="Cijfers voor 2007 uit ILO, Global employment trends january 2009, p.29. Cijfers voor 2016-2018 uit ILO, World Employment and Social Outlook: Trends 2017, p.6."
        matTooltipPosition="above"> [5] </a></p>
<p>De IAO is vooral ook bezorgd over de kwaliteit van de jobs. De IAO voorspelt dat in 2017 kwetsbare
    tewerkstellingsvormen - het gaat bijvoorbeeld om personen in het gezin die meehelpen, personen die als
    schijnzelfstandige voor 1 bedrijf voor eigen rekening werken en mensen met flexibele contracten van korte duur
    &nbsp;- meer dan 42 procent van de totale tewerkstelling zullen uitmaken. Bijna &eacute;&eacute;n op de twee
    werknemers in de groeilanden, en meer dan vier op de vijf werknemers in ontwikkelingslanden, doen dit type van
    werk, klinkt het bij de IAO. Een gebrek aan waardig werk vormt de basis voor sociaal ongenoegen en migratie in
    verschillende delen van de wereld, aldus nog de IAO. <a matTooltip="Het nieuwsblad, 12/01/2017" matTooltipPosition="above">
        [6] </a></p>
<p>De wereldwijde ongelijkheidscrisis is veel groter dan gevreesd: de Wereldbank is duidelijk dat haar doelstelling om
    extreme armoede tegen 2030 uit te roeien niet gehaald kan worden indien wereldleiders geen stappen nemen om globale
    ongelijkheid tegen te gaan. <a matTooltip="World Bank, Tackling Inequality Vital to Ending Extreme Poverty by 2030, 02/10/2016."
        matTooltipPosition="above"> [7] </a></p>
<p>De grote bedrijven en de rijken spelen een sleutelrol in de toename van de globale ongelijkheid. De rijken gebruiken
    een netwerk van belastingparadijzen om te voorkomen dat ze hun deel van de belastingen zouden betalen. Ze jagen de
    lonen van hun tewerkgestelde mensen ook naar beneden, net als de prijs die ze hun leveranciers betalen. Ze
    investeren ook steeds minder in hun bedrijven zoals blijkt uit de cijfers van macro-economische databank van de
    Europese Commissie Ameco: van 560 miljard euro netto kapitaalsformatie <a matTooltip="Dit zijn de vaste activa: machines, land, gebouwen, kantoormiddelen, … kortom, investeringen."
        matTooltipPosition="above"> [8] </a> in 2001 naar 483,7 miljard euro in 2017. Tot slot wenden ze al hun
    connecties aan om ervoor te zorgen dat overheden, wetten en beleid voor hen werken, en niet voor de maatschappij.</p>
<img src="assets/images/image26.png">
<p>Er is een enorme kloof - tussen de superrijken en de rest van de wereldpopulatie - die miljoenen mensen vastzet in
    armoede, onze samenleving atomiseert en onze democratie ondermijnt. Deze kloof zorgt ervoor dat steeds meer mensen
    in angst leven, en steeds minder mensen in hoop.</p>
<img src="assets/images/image25.png">
<p>Sinds 2017 bezitten de acht rijkste mensen evenveel als de armste 50% van de wereld. <a matTooltip="Oxfam, An Economy For the 1%: How privilege and power in the economy drive extreme inequality and how this can be stopped, p.3."
        matTooltipPosition="above"> [9] </a>
    Volgens Forbes zijn dit Bill Gates (Microsoft), Amancio Ortega (Zara), Warren Buffett (belegger, Berkshire
    Hathaway), Carlos Slim Hel&uacute; (Mexicaans telecom tycoon, Grupo Carso), Jeff Bezos (Amazon), Mark Zuckerberg
    (Facebook), Larry Ellison (Oracle) en Michael Bloomberg (voormalig burgemeester van New York en eigenaar van
    Bloomberg News). In 2010 waren het nog de 388 rijkste mensen die evenveel bezaten als de armste 50% van de wereld,
    in 2016 was dit al gereduceerd tot de 62 rijkste mensen.</p>
<p>De rijksten vergaren weelde aan zo&rsquo;n oogverblindende vaart dat de wereld zijn eerste biljonair zou kunnen zien
    in minder dan 25 jaar. Om dit in perspectief te plaatsen: om 1 biljoen (1.000 miljard!) uit te geven zou je elke
    dag een miljoen moeten uitgeven, en dit 2.738 jaar lang.</p>
<p>Volgens Oxfam leven 7 op de 10 mensen in een land dat de voorbije 30 jaar toegenomen ongelijkheid heeft gekend, en
    volgens UNCTAD, de VN-raad voor handel en ontwikkeling, verliezen ontwikkelingslanden minstens 100 miljard euro per
    jaar aan belastinginkomsten door belastingsontduikingen. <a matTooltip="UNCTAD, World Investment Report 2015, p.200."
        matTooltipPosition="above"> [10] </a> Dat zou genoeg geld zijn om 124 miljoen kinderen die nu niet naar school
    gaan van onderwijs te voorzien, alsook om de dood van 6 miljoen kinderen te voorkomen dankzij verbeterde
    gezondheidsvoorzieningen.</p>
<p>Dit is de realiteit van de zo geroemde effici&euml;nte van de vrije markt op wereldschaal. Is dit echt het beste dat
    we kunnen doen als mensheid anno 2018? Al deze omstandigheden zorgen voor de migratiestromen richting het rijke
    Westen. We kunnen die mensen natuurlijk niet kwalijk nemen dat ze een beter leven proberen te zoeken, maar we
    moeten erkennen dat dit voor samenlevingsproblemen zorgt. Vaak stellen die problemen zich dan nog eens in de armere
    wijken van onze centrumsteden, wat de pil dubbel zo bitter maakt voor ons traditioneel electoraat. Zolang we dit
    probleem niet onder ogen durven zien zullen we het in het defensief zijn voor extreem-rechts.</p>