<app-subject [chapters]="chapters" [next]="next">
    <ng-template [appTemplate]="'introduction'">
        <app-a-inleiding></app-a-inleiding>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-a-1-kloof></app-a-1-kloof>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-a-2-vrijemarkt>
        </app-a-2-vrijemarkt>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-a-3-economisch></app-a-3-economisch>
    </ng-template>
    <ng-template [appTemplate]="chapters[3].title">
        <app-a-4-transfer></app-a-4-transfer>
    </ng-template>
</app-subject>