<app-scroll-view>
    <div class="subject" content>
        <div class="subject__content">
            <div class="text subject__chapters">
                <br />
                <mat-card>
                    <ng-template *ngTemplateOutlet="introductionTemplate">

                    </ng-template>
                </mat-card>
                <mat-accordion multi="true">
                    <mat-expansion-panel class="panel" *ngFor="let chapter of chapters">
                        <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
                            <mat-panel-title class="panel__title text-left">
                                {{chapter.title}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template *ngTemplateOutlet="chapterTemplates[chapter.title]">
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="flex flex-row subject__footer">
                <div class="flex-column flex-align-items-left" *ngIf="previous">
                    <div class="flex-row">
                        <a class="footer__icon" [routerLink]="previous.route">
                            <fa-icon [icon]="faChevronLeft" *ngIf="previous.route"></fa-icon>
                        </a>
                        <a class="text-left" [routerLink]="previous.route" replaceUrl="true">
                            {{previous.text}}
                        </a>
                    </div>
                </div>
                <div class="flex-column flex-align-items-center">
                    <a class="text-center" routerLink="/" fragment="tiles">
                        <fa-icon style="font-size: 150%;" [icon]="faHome"></fa-icon>
                    </a>
                </div>
                <div class="flex-column flex-align-items-right" *ngIf="next">
                    <div class="flex-row">
                        <a class="text-right" [routerLink]="next.route" replaceUrl="true">
                            {{next.text}}
                        </a>
                        <a class="footer__icon" [routerLink]="next.route">
                            <fa-icon [icon]="faChevronRight" *ngIf="next.route"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-scroll-view>