<p><strong>De weg naar een maatschappij van echte gelijkheid loopt over de nationalisatie van de productiemiddelen.</strong>
    In ons land zitten de productiemiddelen in de greep van het financi&euml;le kapitalisme, van een kleine groep grote
    aandeelhouders die onze economie beheersen via holdings en monopolies. Zij zetelen rechtstreeks in de
    beleidsorganen van deze structuren of van de ondernemingen die ervan afhangen, of laten zich daarin
    vertegenwoordigen door personen die van hen afhankelijk zijn. Zij maken alle belangrijke economische beslissingen,
    be&iuml;nvloeden rechtstreeks of onrechtstreeks via bepaalde ministers en parlementairen de politiek. <strong>Zij
        be&iuml;nvloeden ook zeer sterk via de beheersing van de persgroepen de opinievorming in ons land</strong>. Men
    mag immers niet vergeten dat de Vlaamse media naast de VRT bijna volledig in handen is van de Persgroep, eigendom
    van de familie Van Thillo: de Persgroep concentreert na een reeks overnames onder andere Het Laatste Nieuws, De
    Morgen en VTM samen in een enkel bedrijf. Samen met concurrent Mediahuis heeft De Persgroep zo goed als alle
    Vlaamse kranten in portefeuille. <a matTooltip="De Tijd, Belgische miljardenbedrijven, er zijn er meer dan u denkt, 13/05/2017"
        matTooltipPosition="above">[70]</a></p>
<p>Naast de verkorting van de werkweek is de andere belangrijke hervorming die wij nastreven dan ook de uitschakeling
    van de macht van de grote aandeelhouders, van het financi&euml;le kapitalisme. <strong>De nationalisering van de
        financi&euml;le sector heeft dus prioriteit. </strong>De belangrijke oorzaak voor de verrijking en
    machtstoename van de grote aandeelhouders ligt precies in financi&euml;le speculatie, vaak met ons spaargeld. Het
    is dan ook een feit dat de financi&euml;le sector min of meer vrij investeert naargelang de winsten die ze kunnen
    boeken, zonder rekening te houden met de werkelijke belangen van de bevolking of onze economie. Vermits men in het
    duister tast over de politiek die deze financi&euml;le organisaties voeren, kunnen de planinstellingen geen
    duidelijk inzicht krijgen en geen degelijke prognoses maken. De nationalisatie van de financi&euml;le sector zal
    niet alleen de planinstellingen in staat stellen een degelijk plan op te maken, maar ook en vooral aan de overheid
    de nodige macht geven om dit plan te verwezenlijken: de economie werkt immers op investeringen, en om te investeren
    heeft men kredieten nodig.</p>
<p><img src="assets/images/image10.jpg"><br /><br /></p>
<p>De nationalisatie van de financi&euml;le sector zal het mogelijk maken structuurhervormingen door te voeren in de
    sleutelsectoren van de economie: dit kan indien de overheid zich niet beperkt tot het verstrekken van kredieten,
    maar overgaat tot meerderheidsparticipaties. Enkel op die manier kunnen we een ecologische transitie van onze
    economische structuren inzetten. <strong>De nationalisatie van de financi&euml;le sector is de sleutel tot een
        economie die in het teken staat van het welzijn van de bevolking. Laat ons ook niet vergeten dat we met zijn
        allen al fors betaald hebben om deze banken te redden. </strong>Belgi&euml; keurde in de periode 2008-2014 voor
    347,8 miljard euro aan maatregelen goed, voornamelijk in garanties voor risicokapitaal. Het gaf daar 89,4 miljard
    ook effectief van uit in diezelfde periode, <strong>12,85 miljard euro per jaar</strong>. De Europese unie in haar
    geheel keurde in dezelfde periode 4966 miljard euro goed aan steunmaatregelen voor de banken, en gaf 1947 miljard
    euro effectief uit, <strong>278,14 miljard euro per jaar.</strong> <a href="http://ec.europa.eu/competition/state_aid/scoreboard/index_en.html#crisis"
        matTooltip="Cijfers van de Europese Commissie, State Aid Scoreboard 2016" matTooltipPosition="above">[71]</a></p>
<p>Tot de financi&euml;le sector behoren de depositobanken, de holdings, de spaarfondsen, de verzekeringsmaatschappijen
    en diverse hypotheek &ndash;en kapitaalsmaatschappijen, maatschappijen voor persoonlijke leningen en verkoop op
    afbetalingen. We bezitten met zijn allen via ons spaargeld al een belangrijk stuk van de banken: de
    spaardeposito&rsquo;s stegen in 2016 tot een recordhoogte van 265 miljard euro. <a matTooltip="De Tijd, Recordbedrag op spaarboekjes, 05/10/2016"
        matTooltipPosition="above"> [72] </a> De toegenomen spaardrift is opmerkelijk omdat een spaarboekje nauwelijks
    nog rente opbrengt: veel banken verlaagden de spaarrente naar het wettelijk minimum van 0,11 procent. <strong>De
        banken krijgen dus bijna gratis al ons spaargeld binnen.</strong></p>
<p><strong>Wat ons betreft is er dus al ruimschoots betaald om deze sector te nationaliseren en terug onder een
        democratische controle van de maatschappij te brengen. </strong>&nbsp;Een eerste stap daartoe is het oprichten
    van een openbare bank, een ASLK van de 21e eeuw. Deze openbare bank moet de nodige financi&euml;le middelen
    verkrijgen als aanloop naar de volwaardige nationalisatie van de hele financi&euml;le sector: dit moet dienen om
    zowel openbare industri&euml;le activiteiten te financieren als om meerderheidsparticipaties te nemen in
    priv&eacute;-sectoren en bedrijven die expansief en winstgevend zijn. Dit is geen wereldvreemde eis. <strong>Onze
        natuurlijke bondgenoten, het ABVV, stellen zelf voor een openbare bank op te richten</strong> om een
    relanceplan voor de economie te financieren alsook de vermindering van de arbeidsduur.</p>
<p>De federale overheid en de deelstaten moeten samen een nationale&nbsp;ontwikkelingsbank oprichten die het
    strategisch investeringsbeleid op lange termijn&nbsp;concretiseert, financiert, co&ouml;rdineert en faciliteert.
    Deze publieke instelling&nbsp;moet een krachtige financi&euml;le arm worden die duidelijk de richting aangeeft
    aan&nbsp;alle betrokken publieke en private actoren: lokale besturen, bedrijven,&nbsp;investeerders, huishoudens,
    de regionale en federale investeringsmaatschappijen,&nbsp;de Europese Investeringsbank&hellip;&nbsp;Deze instelling
    moet prioritair worden ingezet voor&nbsp;investeringen in grote infrastructuurnetwerken: energie-, mobiliteits- en
    digitale&nbsp;netwerken.</p>
<p>De bank Belfius heeft een aantal interessante kenmerken die uitermate geschikt&nbsp;zijn voor een dergelijke
    instelling: voor 100% in staatshanden, expertise in&nbsp;financiering van lokale besturen en social profit, nauwe
    samenwerking met&nbsp;Europese Investeringsbank, een zekere maatschappelijke missie... In plaats van&nbsp;Belfius
    zomaar te verkopen, zou deze kunnen uitgroeien tot de nationale&nbsp;ontwikkelingsbank die Belgi&euml; nodig
    heeft.&nbsp;</p>
<p>Bovendien heeft een overheidsbedrijf in de eerste plaats een publieke verantwoording af te leggen aan de
    maatschappij. Aandeelhouders, daarentegen, doen maar wat hun best om te ontsnappen aan die publieke verantwoording.
    Want hoe je het ook draait of keert: aandeelhouders van private bedrijven zijn gefocust op winstbejag, iets wat
    vaak niet spoort met het algemeen belang van de burgers. Aandeelhouders stellen het algemeen belang gelijk aan de
    beurskoers van hun aandelen, de winstprojecties van hun bedrijven en de groei van hun dividendenuitkering. Voor hen
    zijn de openbare diensten en de overheidsbedrijven slechts economische activa die zoveel mogelijk moeten opbrengen
    en na verkoop op de aandelenmarkten ook nog een mooie meerwaarde moeten opleveren. Belastingvrij, uiteraard.</p>
<p>Laat ons echter enkele concrete voorbeelden geven van verbeteringen die met een openbare bank uitgevoerd kunnen
    worden: vaak betalen mensen die een woning of appartement huren evenveel of meer dan wanneer zij een lening zouden
    aangaan om een woning of appartement te kopen. Het probleem is echter dat zij geen lening kunnen krijgen van onze
    private banken omdat zij niet genoeg zekerheid kunnen bieden over de terugbetaling ervan, ook al zijn ze wel in
    staat maandelijks huurgeld te betalen. Dat dit garant staat voor een toenemende ongelijkheid in onze maatschappij
    hoeven we niet uit te leggen, zeker wanneer na 20 jaar voor de gelukkigen de factor woonkost grotendeels wegvalt.
    Dit is een mooi en welverdiend appeltje voor de dorst eens men in pensioen is, maar de realiteit is dat dit voor
    steeds meer jonge mensen een onhaalbare droom is geworden tenzij zij op de een of andere manier geld krijgen, via
    de ouders of via een erfenis. <strong>Met een overheidsbank kan er echter voorrang gegeven worden aan het
        verstrekken van krediet aan alle gewone mensen en starters om te voldoen in een van hun basisbehoeften, een
        eigen woonst.</strong></p>
<p>Een tweede voorbeeld: wie zijn huis zo milieuvriendelijk mogelijk wilt maken installeert een goede isolatie,
    zonnepanelen,... maar moet daarvoor fors investeren. Voor wie dit geld heeft is er geen probleem, de overheid
    betaalt nadien terug. Voor wie dit geld niet heeft is er nog altijd geen oplossing uitgedokterd. Dit is een
    schande. In dit geval zou een overheidsbank kunnen inspringen met een renteloze lening van het bedrag dat nadien
    toch terugbetaald wordt. <strong>Hier wordt geldelijk misschien geen winst op gemaakt door de bank, maar op
        milieuvlak zijn de voordelen z&eacute;&eacute;r winstgevend, en daar worden we met zijn allen beter van.</strong></p>
<p>Het belangrijkste voorbeeld is echter het begin van een broodnodige modernisering van al onze infrastructuur op vlak
    van openbaar vervoer, wegen, telecom, energie en water: enkel op die manier kunnen we een ecologische transitie van
    onze economische structuren inzetten.</p>
<p><strong>Prioriteit dient ook verleend te worden aan de nationalisatie van de energiesector</strong>: de productie en
    distributie van elektriciteit, de distributie van aardgas, opwekken van kernenergie en de oliesector. De beoogde
    prijsdalingen sinds de liberalisering van de energiemarkt in 2007 zijn totaal mislukt: de energieprijs voor
    Belgische gezinnen is in de periode 2007-2016 met 44,09% gestegen. Voor Vlaamse gezinnen gaat het zelfs om 60,87%
    aldus de federale energieregulator Creg.<a matTooltip="De Tijd, Stroomfactuur in Vlaanderen 61 procent hoger dan in 2007, 15/03/2016"
        matTooltipPosition="above"> [73] </a> Gezien deze energie-inflatie en de onderinvesteringen in groene
    alternatieve energie ondanks de megawinsten behoeft een verder betoog weinig uitleg om het falen van de
    priv&eacute; markt in deze sector aan te tonen. <strong>Energie is geen koopwaar</strong>, en enkel de overheid kan
    de belangen van de gemeenschap via research en productie van groene energie laten primeren op de kortzichtige
    belangen van de priv&eacute; aandeelhouders.</p>
<p>Ook pleiten specifieke redenen waarop we later terugkomen voor de <strong>nationalisatie op korte termijn van de
        farmaceutische sector, alsook het terugdraaien van de liberalisering van het openbaar vervoer</strong>.</p>