<p>Integrale planning is alleen mogelijk in een socialistische maatschappij waar de productiemiddelen in handen zijn
    van de gemeenschap en dus kunnen worden gericht op de bevrediging van de menselijke noden. In onze kapitalistische
    maatschappij is planning niet veel meer dan een globalisatie en veralgemening van de winstoogmerken van de
    priv&eacute;-sector, en niet de bevrediging van de menselijke noden. Nochtans zou na de doorvoering van de
    nationalisaties die we vernoemd hebben <strong>de gemeenschap reeds de belangrijkste hefbomen van het economisch
        leven in handen hebben en dus aan ernstige planning kunnen gaan doen</strong>.</p>
<p>Zeer belangrijk <strong>is dat de doelen die de maatschappij zich stelt op een zo democratisch mogelijke manier
        bepaald worden</strong>. Ten eerste moet de bevolking op een zo ruim mogelijke manier worden voorgelicht over
    de verschillende opties die er zijn binnen een gesteld kader. Hierin hebben onderwijs, politiek en media een
    belangrijke informatieve en vormende rol te spelen. Ten tweede moet de bevolking op een democratische manier haar
    voorkeur kenbaar kunnen maken voor een bepaalde optie. Hierbij stelt zich het probleem hoe de raadpleging van de
    bevolking zo breed mogelijk kan worden georganiseerd. Volgens ons zijn daarvoor de technische middelen beschikbaar
    die kunnen gaan van traditioneel of elektronisch stemmen tot raadpleging via internet met een elektronische
    identiteitskaart. Een ander voorstel is het laten samenvallen van het stemmen over de economische plannen met de
    respectievelijke lokale of federale verkiezingen, en dat de verschillende politieke partijen van de economische
    opties de inzet maken van de verkiezingsstrijd. De legislatuur zou dan samenvallen met de uitvoer van het plan,
    terwijl de opties die door de meerderheid van de bevolking worden voorgestaan worden gerealiseerd.</p>
<p>De planning moet aan volgende voorwaardes voldoen:</p>
<p>- Ze moet <strong>bindend</strong> zijn, in die zin dat de overheid borg staat voor de uitvoering van de gestelde
    doeleinden</p>
<p>- Ze moet <strong>soepel</strong> zijn, om het plan te kunnen aanpassen aan veranderende omstandigheden</p>
<p>- Ze moet <strong>zo</strong><strong>eenvoudig mogelijk</strong> zijn en niet vervallen in een technocratisch
    wartaaltje enkel geschikt voor vakidioten</p>
<p>- Ze mag <strong>niet centralistisch</strong> zijn, maar moet de nodige <strong>autonomie</strong> laten aan de
    bedrijven, aan de lokale gemeenschap en aan de mensen. De opties moeten eerst worden verzameld op lokaal vlak, dan
    op hoger niveau worden gecorrigeerd en gestroomlijnd voor het algemeen belang, enzovoort tot het hoogste niveau,
    met constante informatie naar onderen en controle naar boven.</p>