<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <div>
            <h2 class="subject__title">Economische democratie</h2>
            <p>Een collectieve verbetering in het dagelijks leven van de mensen als antwoord op de crisis zal ergens
                vandaan moeten komen. <strong>Daarom is de sociaal-economische tegenstelling tussen diegenen die werken
                    en
                    diegenen die rentenieren, de winstgevers en de winstnemers, de 99% versus de 1% nog steeds de
                    hefboom
                    om macht te verwerven en de samenleving te hervormen.</strong> Daarom zal een heropstanding van de
                linkerzijde
                de mobilisatie en het aanspreken van de ‘traditionele achterban’ vergen, in coalitie met de
                middenklasse die zelf ook veel te verliezen heeft bij een uitholling van de sociale zekerheid en te
                maken heeft met een steeds hogere werkdruk. De linkerzijde zal opnieuw maatschappijkritisch moeten
                worden, niet zozeer op het vlak van individueel gedrag maar op het vlak van de logica die vandaag
                allesoverheersend is, een economisch gebeuren gebaseerd op winstmaximalisatie. Zo plaatsen wij hierbij
                de idee van <strong>economische democratie</strong> voorop. Op die manier wordt duidelijk gemaakt op
                welk terrein er
                geen democratie bestaat maar amper een bepaalde vorm van cijnskiesrecht (hoe meer aandelen en geld, hoe
                meer beslissingsmacht). De belangen van de werkenden, omwonenden, gezinnen en gemeenschappen, kortom,
                van de samenleving, is van tweede of derde rangorde.

            </p>
        </div>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-alternatief></app-alternatief>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-gemeenschapsbezit></app-gemeenschapsbezit>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-werknemerscontrole></app-werknemerscontrole>
    </ng-template>
    <ng-template [appTemplate]="chapters[3].title">
        <app-democratische-planning></app-democratische-planning>
    </ng-template>
</app-subject>