<h2 class="subject__title">B. Het Socialistisch alternatief</h2>
<p>Uit bovenstaande analyse van het hedendaagse kapitalisme blijkt dat de socialistische kritiek van honderd jaar
    geleden vandaag even actueel blijft. We kunnen ons bijgevolg niet tevreden stellen met een menselijker of meer
    aanvaardbaar maken van het kapitalisme, noch met het afronden van de scherpe hoeken, laat staan met wat meer
    regulering. <strong>De Derde Weg is ontoereikend. </strong>We moeten de kern zelf van dit systeem durven
    bestrijden, namelijk het ongelimiteerde en alles overheersende winststreven van mega-ondernemingen.</p>