// General stuff
* {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Fixed header
.header {
  background-color: $darkerRed;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: $headerHeight;
  color: black !important;

  &--content {
    display: flex;
    text-align: center;
    height: $headerHeight;
    align-items: center;
  }
  a {
    color: white !important;
    text-decoration: none;
    &:hover {
      color: bisque !important;
    }
    width: max-content;
  }
}

.body {
  position: absolute;
  left: 0;
  top: $headerHeight;
  height: calc(100vh - #{$headerHeight});

  width: 100%;
}
