.subject {
  position: relative;
  min-height: calc(100vh - #{$borderWidth} * 2);

  border: solid $darkerRed;
  border-width: $borderWidth;
  border-top: none;

  &__title {
    text-align: center;
    color: $darkRed;
  }

  &__content {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    max-width: 600px;
    @include mq-md {
      max-width: 800px;
    }
    @include mq-lg {
      max-width: 1000px;
    }

    a {
      color: blue;
    }
  }

  &__footer {
    margin: $em-8 0;
    a,
    fa-icon {
      color: black;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: slategrey;
        transition: 0.2s;
      }
    }
  }
}

.mat-card {
  margin-bottom: $em-4;
}

.back-button {
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 200;
}
