table.table {
  border: 1px solid #1c6ea4;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.table td,
table.table th {
  border: 1px solid #aaaaaa;
  padding: 3px 3px;
}
table.table tbody td {
  font-size: 13px;
}
table.table tr:nth-child(even) {
  background: #d0e4f5;
}
table.table thead {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 66%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #ffffff 100%);
  border-bottom: 2px solid #444444;
}
table.table thead th {
  font-size: 13px;
  font-weight: bold;
  color: #1c6ea4;
  border-left: 2px solid #d0e4f5;
}
table.table thead th:first-child {
  border-left: none;
}

table.table tfoot td {
  font-size: 14px;
}
table.table tfoot .links {
  text-align: right;
}
table.table tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
