<img src="assets/images/image23.png">
<p>Om onze sociaal-economische verworvenheden veilig te stellen, moeten we streven naar de harmonisering ervan op
    Europees niveau. Dit wil zeggen: <strong>Europese sociale zekerheid op het niveau van het best scorende land,
        Europese vakbonden, een Europese progressieve fiscaliteit.</strong><strong>Alle huidige discussies over
        staatshervorming leiden ons niet alleen af van deze hoogstnoodzakelijke kwesties</strong>, het brengt ons
    daarbovenop nog verder van huis; wat federaal, en op moeizame manier, door de vakbonden en de arbeiders, de
    vrouwenbewegingen, is afgedwongen, kan niet zomaar herwonnen worden na een ontmanteling van bovenaf. Vechten tegen
    verdere opsplitsing in Belgi&euml; is dus eigenlijk een tussenstap naar een sociaal-economisch links programma voor
    Europa.</p>
<p>We wonen nog altijd in een zeer rijk land met een zeer hoge arbeidsproductiviteit en miljarden euro&rsquo;s aan
    buitenlandse investeringen en beleggingen vinden hun weg naar Belgi&euml;. Anderzijds stagneert de levensstandaard
    van zestig procent van de bevolking of gaat ze zelfs achteruit. Twintig procent gaat nu snel en uitgesproken
    achteruit, terwijl een andere twintig procent snel rijker wordt. We krijgen een samenleving op twee snelheden
    waarbij de middenklasse snel aan het verdampen is. De financi&euml;le problemen van de overheid raken maar niet
    opgelost. De levenskwaliteit in heel het land daalt door hogere stress, minder tijd voor onszelf, criminaliteit en
    agressie, een desintegrerend sociaal weefsel en een dalende milieu- en omgevingskwaliteit. De rijksten zijn
    verslaafd aan economische groei in termen van een voortdurende stijging van het bruto binnenlands product. De
    maatschappelijke kosten verbonden aan die economische groei worden echter afgewenteld op de samenleving.</p>
<p><strong>Niet zozeer de staat, maar vooral de economie moet dus hervormd worden</strong>. De vraag is dan echter hoe,
    en op welk niveau? De Belgische economie is relatief klein en zeer open. De economie is een wereldeconomie, en
    belangrijke economische beslissingen worden genomen op Europees niveau. <strong>Maar toch moet men niet te pas en
        te onpas en met gespeelde onmacht de Europese paraplu opentrekken</strong>. Op het nationale niveau kunnen nog
    altijd behoorlijk wat beslissingen worden genomen. <strong>Bovendien worstelt Europa in toenemende mate met een
        democratisch deficit</strong>. <strong>De mensen ervaren Europa immers vooral als een hardvochtig
        sociaal-economisch bestel</strong>. Dat is het ook: de Europese machinerie wordt aangestuurd volgens een
    neoliberale doctrine. Het &ldquo;mededingingsrecht&rdquo; staat centraal in alle pogingen om tot een
    gemeenschappelijk Europees handvest te komen, van Grondwet tot Hervormingsverdrag.</p>
<p>We moeten als socialisten durven zeggen dat ook wij niet blij zijn met een Europa dat allerlei beslissingen van
    bovenaf op ons laat neerdalen. Een Europa dat vindt dat we zoveel mogelijk openbare diensten moeten privatiseren en
    dat ervoor zorgt dat postkantoren in onze buurt sluiten bijvoorbeeld. Een Europa dat beslist heeft dat de
    wekelijkse arbeidsduur zelfs veel m&eacute;&eacute;r dan 48 uur per week mag bedragen. Een Europa dat niets doet
    aan de stijgende energieprijzen omdat de invloed van de private energiesector te groot is. Het Europa van de
    economische oorlog en van de concurrentie. Een Europa met een parlement dat nauwelijks iets te zeggen heeft. Een
    Europa dat de syndicale rechten en vrijheden wil inperken. Kijk naar de uitspraken van het Europese Hof van
    Justitie in de zaken &lsquo;Viking&rsquo;, &lsquo;Laval&rsquo; en &lsquo;Ruffert&rsquo;. Drie keer werd de Europese
    detacheringrichtlijn uit 1997 door het Hof ge&iuml;nterpreteerd in het nadeel van een syndicale tussenkomst.
    Vakbonden in economisch sterke landen zoals Finland, Zweden of Duitsland zijn blijkbaar niet in hun recht wanneer
    ze gelijke sociale rechten trachten af te dwingen voor ingeweken werknemers uit respectievelijk Estland, Letland of
    Polen. <strong>Moeten wij als socialisten dit Europa verkopen aan de mensen van Crown Cork, &nbsp;Opel, Carrefour?</strong>
    Zullen zij zich in deze juridische context niet pas &eacute;cht zorgen beginnen maken over de gevolgen van de
    migratie voor hun job en hun loon ? De terechte vrees van vele syndicalisten in Europa is dat elke keer dat een
    verdrag deze asociale gewoonten van de Europese wetgever bevestigt, de uitspraken van Europese rechters zwaarder
    gaan doorwegen. Het nieuwe Europese Hervormingsverdrag biedt geen garanties dat dergelijke zaken niet opnieuw
    zullen gebeuren. Integendeel. <strong>Het Verdrag is daardoor veeleer een werktuig in de handen van werkgevers, dan
        een ruggensteun voor de werkende bevolking.</strong></p>
<p><strong>Als Europa zich wil bewijzen als een sociaal en duurzaam project dan kan het beginnen met een grondige
        herziening van haar politiek rond havens en luchthavens.</strong> In 2004 gingen de Europese havenarbeiders in
    het verweer tegen de <em>zelfafhandeling</em>. Europa wou toestaan dat bemanningen van schepen voortaan ook schepen
    zouden kunnen lossen en laden. Het was een flagrante, open en brutale aanval op de arbeidsvoorwaarden van de
    havenarbeiders. De havenarbeiders sloegen die aanval af door harde syndicale actie. Er moet een offensief vervolg
    komen op deze strijd. Havenarbeiders worden blootgesteld aan meedogenloze concurrentie. Niet door havens in andere
    continenten, maar door Europese havens. Antwerpen wordt door het havenpatronaat uitgespeeld tegen Rotterdam en
    Zeebrugge, Rotterdam tegen Hamburg en Zeebrugge tegen Duinkerken. Men kan een Europese haven niet delokaliseren
    buiten Europa. Een container die gelost moet worden in Europa kan niet worden gelost in Singapore. Hetzelfde geldt
    voor de luchthavens. Zaventem moest het in het DHL-dossier afleggen tegen Leipzig. Europa speelt haar werknemers
    dus onderling tegen elkaar uit. Europa bewijst hiermee een louter patronaal project te zijn, en geen project van
    <em>Europa tegen de rest van de wereld</em> zoals men ons zo graag doet geloven. Havenarbeiders en
    luchthavenarbeiders hebben recht op werkzekerheid. Inwoners van steden met havens of luchthavens hebben bovendien
    recht op woon- en levenskwaliteit die niet voortdurend onder druk moet staan door het zoveelste uitbreidingsplan en
    altijd maar toenemende verkeersstromen. In Antwerpen werd het Deurganckdok nauwelijks gebruikt of men gooide het
    polderdorp Doel al tegen de vlakte voor de bouw van het Saeftinghedok. Dat alles in het kader van een <em>pre-emptive
        strike</em> tegen Rotterdam. <em>Als wij het niet doen dan doen zij het wel. </em>Is dat duurzame ontwikkeling?
    Is dat Europese samenwerking? Er moeten dringend afspraken komen rond een billijke en rationele werkverdeling
    tussen Europese havens en luchthavens met garanties op jobzekerheid voor de werknemers en op levenskwaliteit voor
    de omwonenden. <strong>De Europese haven- en luchthaveninfrastructuur moet worden </strong><strong><em>gepland</em></strong>.
    Dit is maar een van de vele voorbeelden waarbij economische planning nodig is om tot een duurzame economie van en
    voor de mensen te komen. <strong>Een socialistisch verhaal over Europa is geen verhaal over concurrentie en
        competitie, maar is wel een verhaal over internationalisme en planning.</strong></p>
<p>Een dergelijk socialistisch verhaal moet de Europese eenmaking zien in het perspectief van een vooruitstrevend
    socialistisch sociaal-economisch beleid. Een eerste concreet aandachtspunt kan bijvoorbeeld zijn <strong>het
        uitschakelen van de internationaal georganiseerde belastingsfraude</strong>, een probleem dat we al eerder
    aanhaalden. Dat is echter niet genoeg. Gewaagder is ons voorstel om te streven naar <strong>de vorming van een
        Europese openbare sector</strong>, vertrekkend van de promotie en co&ouml;rdinatie van de bestaande
    genationaliseerde bedrijven, een lijst waar we graag veel bedrijven aan zouden toevoegen, uiteraard onder
    werknemerscontrole! Naast het eerder aangehaalde havenbeleid zouden bijvoorbeeld het internationaal openbaar
    vervoer, alsook energie sectoren bij uitstek zijn die internationaal geco&ouml;rdineerd en gepland dienen te
    worden. <strong>Waarom ook geen democratisch gecontroleerd Europees planbureau dat uitgaat van de noden van de
        Europeanen en niet van de winstmaximalisatie van de multinationals</strong>?</p>
<p>We moeten ons ervoor hoeden dat de strijd voor een socialistisch Belgi&euml; op geen enkele manier mag afgezwakt
    worden door de tegenstelling met het liberale Europa. Deze strijd kan echter een uitgangspunt vormen voor de strijd
    voor een <strong>socialistische Europese Unie</strong>, als de linkse krachten in andere landen zich solidair
    opstellen en in eigen land voor dezelfde principes strijden. <strong>Dat is de betekenis van socialistisch
        internationalisme</strong>, een houding die natuurlijk haaks staat op eng flamingantisme. Precies daarom is de
    hergroepering van de linkse krachten in Europa, zowel ideologisch als organisatorisch, een belangrijke taak, ook
    voor de sp.a. Het opbouwen van een socialistisch tegenblok voor de krachten van het internationale kapitalisme die
    ons dreigen mee te sleuren in de onophoudelijke race naar beneden. Waarom kan de nieuwe sp.a daarin niet het
    voortouw nemen?</p>
<h4><em>Een Europese New Deal</em></h4>
<p>Daarnaast valt er zeker iets te zeggen voor de voorstellen <a href=" https://diem25.org/europese-new-deal/
"
        matTooltip="DIEM25, Europese New Deal" matTooltipPosition="above">[139]</a> van de Europese denktank <em>DIEM25,
    </em>een initiatief van de voormalige Griekse minister van financi&euml;n Yanis Varoufakis. Gebaseerd op de lessen
    die getrokken moeten worden uit de Griekse crisis, stelt deze groepering een aantal maatregelen voor om Europa te
    democratiseren en om tot een openbaar investerings- en relanceprogramma te komen. DIEM25 stelt vast dat Europa aan
    het uiteenvallen is, &ldquo;als gevolg van deze perfecte storm van een <em>structureel gebrek aan werkgelegenheid
    </em>en <em>onvrijwillige migratie</em>.&rdquo; Hun plan om Europa te redden van de desintegratie berust op vier
    pijlers:</p>
<ul>
    <li>Het recht van elke Europese burger op toegang tot basisvoorzieningen: voedsel, onderdak, mobiliteit en energie.</li>
    <li>Slapend kapitaal omzetten in duurzame investeringen</li>
    <li>Het vermaatschappelijken van de kapitaalopbrengsten</li>
    <li>Democratisch macro-economisch management</li>
</ul>
<p>Zeer interessant is ook hun voorstel om publieke digitale betaalplatformen op poten te zetten via de websites van de
    belastingdiensten van de onderscheiden lidstaten, om op die manier het monopolie van centrale- en private banken op
    geldtransacties en kapitaalverschaffing te doorbreken. De soevereiniteit van de lidstaten zou onder andere daardoor
    ten dele kunnen worden hersteld, en de Europese constructie zou daardoor transparanter en democratischer worden.
    Politiek gezien zou hiermee de wind uit de zeilen genomen worden van wat zij omschrijven als de <em>&ldquo;Nationalistische
        Internationale&rdquo;</em>. Sterk aan de voorstellen van deze groep is ook dat ze grotendeels realiseerbaar
    zijn binnen de bestaande instellingen en door gebruik te maken van reeds bestaande Europese verdragen. <a
        matTooltip="Ibid." matTooltipPosition="above"> [140] </a></p>