<p>In principe zijn wij als socialisten voor een wereld waarin iedereen vrij kan gaan en staan waar hij of zij wil. Om
    deze utopie in vervulling te zien gaan moet echter eerst aan heel wat voorwaarden voldaan zijn. Het overgrote deel
    van de migratie in de wereld bestaat uit gedwongen migratie. &rsquo;Ze&rsquo; <a matTooltip="We bedoelen hiermee de ‘ze’ uit de volksmond: ‘ze’, diegenen die moeten worden ‘teruggestuurd’ alsof het een verkeerd geadresseerd postpakket betreft."
        matTooltipPosition="above"> [145] </a> gaan of staan dus niet waar ze willen. &lsquo;Ze&rsquo; zouden doorgaans
    liever thuisblijven. De meeste migranten vertrekken uit hun land op zoek naar een betere toekomst, of uit puur
    lijfsbehoud. Ten gevolge van de opwarming van het klimaat zal deze tendens zich de komende decennia alleen maar
    doorzetten. Het huidige asiel- en migratiebeleid is daarom kortzichtig en perspectiefloos. Het is een populistische
    leugen van formaat, een reactionaire utopie. De staatssecretaris voor Asiel &amp; Migratie gedraagt zich als een
    klusjesman die voorstelt om onder een lekkend dak een emmer te zetten en die geregeld uit te gieten in de
    gootsteen. Ondertussen breiden de lekken in het dak zich alleen maar uit, maar d&agrave;t is dan weer de schuld van
    de anderen (sossen, Walen, Europa&hellip;) aldus onze klusjesman. Het versterkt alleen maar de racistische reflexen
    die leven bij een deel van de bevolking, en het leidt tot een ontmenselijking van de publieke opinie. De
    nationalistische rechterzijde wil de vluchtelingencrisis helemaal niet oplossen. Waarom zouden ze ook? Het is hun
    lang politiek leven. En de werkgevers kunnen in combinatie met deregulering en afbouw van sociale bescherming
    alleen maar profiteren van de instroom van goedkope arbeidskrachten die bereid zijn om het even welke precaire job
    aan te nemen om het hoofd boven water te kunnen houden.</p>
<p>Maar evenmin vinden we ons heil in de huidige &lsquo;alternatieven&rsquo; van een bepaald soort links dat vooral
    sterk staat in de PVDA en binnen Groen, maar dat ook structureel aanwezig is in de sp.a. Wij zijn absoluut geen
    voorstander van een open grenzen beleid, en evenmin van het cultuurrelativisme, waarbij de Universele Verklaring
    van de Rechten van de Mens wordt weggezet als zijnde antropocentristisch, en aanhangers van de Verlichting
    beschuldigd worden van cultureel racisme. Deze linkse gedachtenpolitie heeft driekwart van de Vlaamse bevolking
    vervreemd van de linkerzijde, terwijl het grootste deel van het overblijvende kwart alleen maar met de wasknijper
    op de neus op linkse partijen blijven stemmen, in de wetenschap dat het anders alleen maar van kwaad naar erger
    gaat met onze sociale voorzieningen en met het milieu. Het is bovendien een arrogante, vaak academisch getinte
    linkerzijde, die meent dat ze zelf de politieke agenda kan bepalen (hoofddoek, boerkini, Zwarte Piet,
    Efteling&hellip;) in plaats van dit over te laten aan de burger. <strong>Van deze linkerzijde willen we afscheid
        nemen. Ze heeft ons genoeg schade berokkend. </strong></p>
<p>Een open grenzen beleid brengt niet alleen sociale ontreddering teweeg in het land van aankomst. Het veroorzaakt ook
    een permanente aderlating (<em>braindrain</em>) in het land van herkomst, en maakt daarmee het gat in het dak
    alleen maar groter.</p>
<p>Wij stellen daarom voor om de bevolking eerst en vooral de waarheid te vertellen over de toestand van het dak. We
    moeten hen vertellen dat het vernietigen van landen zoals Irak en Libi&euml;, en de verdienstelijke maar mislukte
    poging om ook Syri&euml; te vernietigen, niet bepaald hebben bijgedragen aan het oplossen van het
    vluchtelingenprobleem. We moeten hen ook vertellen dat elke spotgoedkope T-shirt in de Primark een economische
    vluchteling verbergt, en dat het nieuw model smartphone dat ons elk half jaar met veel poeha wordt gepresenteerd in
    Congo een bloedige jacht op grondstoffen heeft ontketend. Misschien moeten we eerst maar eens die slechts
    schijnbaar goedkope producten, die knagen aan de poten van onze welvaart, &lsquo;terugsturen&rsquo; in plaats van
    de vluchtelingen. Wij zijn niet vies van een bepaalde mate van (Europees) protectionisme, waarbij de in de EU
    ingevoerde producten moeten voldoen aan een aantal sociale en ecologische criteria. Nu wordt deze kwestie volledig
    overgelaten aan de consument, die goed op de etiketjes moet letten, &eacute;n bereid moet zijn om vrijwillig een
    meerprijs te betalen. Laat ons die meerprijs maar meteen doorrekenen aan iedereen, en dit compenseren met een
    betere verloning en een sterkere sociale zekerheid, die in een meer rechtvaardige economische wereldorde zeker
    binnen bereik ligt.</p>
<p>Natuurlijk biedt dit geen oplossing op de korte termijn. De komende decennia zullen er miljoenen mensen richting
    Europa blijven migreren. Wie dat ontkent, of wie beweert dat eens eigenhandig te zullen oplossen met een
    terugstuurpolitiek, maakt de mensen iets wijs. Laten we het maar meteen onder ogen zien, en ons erop voorbereiden.
    Europa zou een politiek neutrale studie kunnen bestellen die inschat hoeveel migranten er de komende decennia naar
    Europa zullen afzakken, vanwaar ze komen, en waarom. Dat biedt ons de mogelijkheid om planmatig met deze
    vluchtelingenstroom om te gaan. Is het mogelijk deze stroom te keren, en hoe? Of indien niet, wat is er nodig om
    deze op een menswaardige manier af te remmen? Hoe kunnen we alsnog ingrijpen om deze mensen een menswaardig bestaan
    te bieden in hun vertrouwde culturele omgeving, en zonder dat ze have en goed en familie dienen op te geven?
    Hoeveel jobs, scholen, woningen en andere voorzieningen moeten er worden voorzien om de vele mensen die desondanks
    toch nog in Europa zullen arriveren, een waardig bestaan te bieden, waardoor ze ons sociaal weefsel en onze
    economie versterken in plaats van ze te ondermijnen?</p>
<p>Ook de migratiecrisis vergt dus een integrale en planmatige aanpak. Zonder te willen vooruitlopen op de resultaten
    van een dergelijke onafhankelijke studie, &nbsp;kunnen we in elk geval veronderstellen dat, naast oneerlijke
    handelsrelaties,(al dan niet door onszelf veroorzaakte) oorlogen en ecologische crisissen, ook de neoliberale
    deregulering en de criminele circuits inzake mensenhandel, prostitutie, huisjesmelkerij een zwartwerk de
    aantrekkingskracht van Europa op (relatief gefortuneerde) migranten verhoogt. We merken dit bvb. aan het fenomeen
    van de transmigranten, die in feite op weg zijn naar het Verenigd Koninkrijk. Waarom prefereren zij dit land als
    eindbestemming? Omdat de arbeidsmarkt er nog in hogere mate gedereguleerd is als in de rest van Europa, en er geen
    verplichting is tot het bezitten van een identiteitskaart. We moeten dus geen studie af te wachten om de strijd aan
    te binden met deze illegale praktijken, waarbij we ons vooral dienen te concentreren op de ontmanteling van de
    grote financi&euml;le circuits achter de schermen, en niet enkel op de kleine garnalen.</p>
<p>Tegelijk moet het in vraag stellen van onze open, seculiere, democratische en pluralistische samenleving stoppen.
    Wie ervoor opteert om naar Europa te trekken, verklaart zich akkoord met ons maatschappijmodel. Dit heeft niets te
    maken met een etnisch of cultureel superioriteitsgevoel, maar alles met het respect dat we hebben voor de sociale
    en institutionele verworvenheden die onze voorouders door klassenstrijd en ook intellectuele strijd (of een
    combinatie van beiden) hebben opgebouwd. &nbsp;</p>