<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <div>
            <h2 class="subject__title">Internationaal</h2>
            <p>In dit stuk pleiten we voor een harmonisering naar boven toe van de sociale zekerheid in Europa. We
                verzetten ons tegen het neoliberale Europa dat een democratisch deficit en stellen een alternatief
                voor. We pleiten voor een Europese new deal. We gaan dieper in op de noodzaak van ontwikkelingshulp, en
                linken de miserie van de wereld aan het economisch systeem. De globale economie globaliseert de
                menswaardigheid niet. Eerder het omgekeerde gebeurt. Ook dient een socialistisch België zijn
                handelsrelaties te herbekijken: het kan niet op dat wij handelsrelaties onderhouden met regimes die
                fundamentalisme actief ondersteunen. Wij pleiten voor een exit uit de Navo en het reduceren van het
                leger tot een nationale garde. Voor migratie bepleiten wij een integrale en planmatige aanpak.Tegelijk
                moet het in vraag stellen van onze open, seculiere, democratische en pluralistische samenleving
                stoppen. Wie ervoor opteert om naar Europa te trekken, verklaart zich akkoord met ons
                maatschappijmodel.
            </p>
        </div>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-h-1-europa></app-h-1-europa>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-h-2-derdewereld>
        </app-h-2-derdewereld>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-h-3-oorlog></app-h-3-oorlog>
    </ng-template>
    <ng-template [appTemplate]="chapters[3].title">
        <app-h-4-asiel></app-h-4-asiel>
    </ng-template>
</app-subject>