<app-scroll-view>
	<div class="main" content>
		<div class="main__top">
			<div class="main__top__inside">
				<div class="flex-row">
					<div class="flex-column flex-align-items-center">
						<h3 class="flex-row">{{topTitle}}</h3>
						<h1 class="flex-row">
							{{mainTitle}}
						</h1>
						<h3 class="flex-row">{{subTitle}}</h3>
						<a class="flex-row" href="/#tiles">
							<fa-icon [icon]="faChevronDown" class="largeIcon"></fa-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main__bottom" id="tiles">
			<div class="content">
				<mat-card>
					<h1 class="title">
						{{bottomTitle}}
					</h1>
					<div class="text">
						<p>
							Dit is onze visie voor een land dat voor iedereen werkt, en niet enkel voor de rijken. We willen een
							maatschappij bouwen waarbij we onze rijkdom investeren om iedereen de beste kansen te geven. Dit betekent
							arbeidsduurvermindering, een openbare bank, een eerlijke fiscaliteit, een radicale democratisering, een
							uitgesproken seculiere maatschappij... en veel meer!
							<a href="https://socialistischepartijrood.wordpress.com/2018/10/14/waarom-een-roodboek/">Waarom een roodboek?</a>
						</p>
						<p>
							Gebruik de tegels hieronder om ons Roodboek te verkennen en kom te weten hoe we een maatschappij willen opbouwen
							die voor iedereen werkt.
						</p>
					</div>
				</mat-card>
				<div class="tiles">
					<div *ngFor="let tile of tiles" class="tile flex-column" [ngStyle]="{'background': tile.color}" (click)="navigateToSubject(tile.link)">
						<fa-icon [icon]="tile.icon" class="flex-row largeIcon"></fa-icon>
						<br />
						<span class="flex-row">{{tile.text}}</span>
					</div>
				</div>
			</div>
			<div class="flex-column"></div>
		</div>
	</div>
</app-scroll-view>