<app-scroll-view>
    <div class="main" content>
        <div class="main--top scroll-view--content">
            <div class="flex-column flex-align-items-center">
                <h3 class="flex-row">{{topTitle}}</h3>
                <h1 class="flex-row">
                    {{mainTitle}}
                </h1>
                <h3 class="flex-row">{{subTitle}}</h3>
                <a class="flex-row" href="/#details">
                    <fa-icon [icon]="faChevronDown" style="color:white"></fa-icon>
                </a>
            </div>
        </div>
        <div class="main--bottom" id="details">
            <h2 class="title">
                {{bottomTitle}}
            </h2>
        </div>
    </div>
</app-scroll-view>