<p><a matTooltip=" voor dit stuk baseren wij ons uitgebreid op het opiniestuk van Ivo Flachet in Knack, Een deurwaarder die rechter mag spelen, is dat wel zo'n goed idee?, 16/10/15.
"
        matTooltipPosition="above"> [164] </a>Minister Geens voegt voor het eerst in de Belgische rechtsorde het
    principe in dat een deurwaarder een uitvoerbare titel kan verlenen ter invordering van schulden. Een uitvoerbare
    titel is een document, dat een deurwaarder de macht geeft om goederen of geldmiddelen in beslag te nemen om de
    schuld van zijn klant te innen. Een schuldeiser zal dus een uitvoerbare titel kunnen bekomen via zijn persoonlijke
    raadsman en zijn deurwaarder. <strong>Advocaten en deurwaarders zijn nochtans bij uitstek 2 beroepen die per
        definitie de belangen verdedigen van diegenen die hen (kunnen) betalen.</strong></p>
<p>Voordien gold het principe dat zolang een onafhankelijke rechter zich niet heeft gebogen over een geschil, een
    deurwaarder geen titel heeft om iemand tot iets te dwingen. Dat duidelijk onderscheid tussen de rechterlijke
    beslissing en de uitvoering ervan door een deurwaarder is nu dus weggevallen.</p>
<p>Deze evolutie naar het uitschakelen van een rechter is een verontrustende constante die we de laatste jaren ook
    tegenkomen in het administratief recht. Het meest recente voorbeeld is de procedure voor het opleggen van een
    Gemeentelijke Administratieve Sanctie (GAS). Het is een ambtenaar die die 'GAS-boete' oplegt, en niet de rechter.
    Gaat de burger niet in beroep, dan ontstaat er een uitvoerbare titel die de deurwaarder kan betekenen op vraag van
    de gemeente.</p>
<p>Koen Geens wil de besparing bij justitie onder meer realiseren door veralgemening van dit soort systemen. Dit is met
    andere woorden een graduele privatisering van het rechtssysteem. Hoe meer een ambtenaar of een deurwaarder zelf
    rechtstreeks een uitvoerbare titel kan afleveren, hoe minder justitie er natuurlijk aan te pas komt.</p>
<p><strong>Fundamenteel kunnen we ons vragen stellen bij de rol van een deurwaarder in de 21ste eeuw.</strong> Hun
    huidige rol heeft dikwijls tot gevolg dat een kleine schuld exponentieel groeit. Boven op de initi&euml;le schuld
    komen de dagvaardingskosten en de betekeningskosten. Waarom de gerechtelijke procedure tot invordering van een
    schuld niet gemakkelijker maken en ge&iuml;nformatiseerd? Ook de advocatenkosten zullen dan minder hoog oplopen en
    anderzijds blijft wel de garantie voor rechterlijke controle overeind.</p>
<p>In plaats van de macht van deurwaarders uit te breiden, zouden we die beter aan banden leggen. De regering zou
    bijvoorbeeld de noodzaak van een dure dagvaarding door een deurwaarder kunnen afschaffen. Dat zou de burger, zowel
    de schuldeiser als de schuldenaar, veel geld besparen. Ook de betekening van vonnissen zou uit hun takenpakket
    weggehaald kunnen worden. Een betekening is in feite niets meer dan een aangetekende brief met ontvangstbewijs. Dat
    kost bij de post een kleine 10 euro. Bij de deurwaarder 250 &agrave; 300 euro. In de feiten worden deurwaarders
    steeds meer priv&eacute; incassokantoren van de grootste bedrijven onder het motto "U vraagt, wij draaien". Is de
    rol van een deurwaarder, een beroep ontstaan in de 14e eeuw, niet aan herziening toe?</p>
<p><strong>In plaats van deze sluipende privatisering zou de overheid dringend moeten samenzitten met justitie en
        investeren waar nodig.</strong> Zoals Jean de Codt het hierboven verwoordde, rechtspraak is de oudste functie
    van een staat. Belgi&euml; besteedde amper 1,74 miljard euro (0,7% van de uitgaven) aan justitie in 2015 (vergelijk
    met de vele andere bedragen in dit boek voor andere zaken) en bekleedde daarmee de laatste plaats van alle landen
    aangesloten bij de Raad van Europa.<a matTooltip="De Standaard, Budget voor Justitie is in de verste verte niet toereikend, 02/12/2014."
        matTooltipPosition="above"> [165] </a> Het gemiddelde in de Europese Unie is 2,2%, bijna drie keer zoveel.
    Ondanks deze onderfinanciering heeft de regering Michel in de periode 2015-2018 verder bespaard op justitie.</p>
<p>In het neoliberaal denkkader van minister Geens wordt de rechterlijke macht herleid tot een verlengstuk van de
    uitvoerende macht. Dat gebeurt heel subtiel, maar niet minder dwingend. Als justitie minder middelen heeft, kan het
    geen complex onderzoek voeren naar financi&euml;le fraude of naar de overheid, die ook wel eens de wet durft
    schenden of serieus in haar voordeel interpreteren zoals we hieronder zullen zien.</p>