<p>In Noorwegen hanteert men het concept van restoratieve justitie: de nadruk ligt op het herstellen van het leed dat
    door criminaliteit veroorzaakt wordt, en niet op het straffen van mensen. <strong>Het uitgangspunt is dus het
        rehabiliteren van gevangenen en hen terug normaliseren voor leven in de maatschappij via open gevangenissen.</strong></p>
<p>Dit betekent geen tralies op ramen, keukens die volledig uitgerust zijn (inclusief scherpe objecten), en
    vriendschappen tussen cipiers en gevangenen. In Noorwegen is het wegnemen van mensen hun vrijheid al straf genoeg.
    Veel Noorse gevangenissen bereiden hun gedetineerden voor op een leven zonder tralies met allerlei
    programma&rsquo;s: houtbewerking, mechanica workshops en in het geval van paradepaardje Halden zelfs een opname
    studio. &nbsp;</p>
<p>Arne Wilson, directeur van de Bastoy gevangenis legt uit: &ldquo;<em>in klassieke gevangenissen worden mensen voor
        een aantal jaar opgesloten en laten we ze terug vrij. In de tussentijd krijgen gedetineerden geen echte
        verantwoordelijkheden aangeleerd om te werken of te koken. Wettelijk gezien heeft naar een gevangenis gestuurd
        worden niets te maken met iemand in een vreselijk gebouw te stoppen om hen te laten lijden. De straf is dat je
        je vrijheid verliest. Als je gedetineerden als dieren behandelt zullen ze zich waarschijnlijk ook zo gaan
        gedragen. In Noorwegen behandelen we hen als mensen.</em>&rdquo;<a matTooltip="Business Insider, Why Norway's prison system is so successful, 11/12/2014"
        matTooltipPosition="above"> [171] </a></p>
<p>Het Noorse systeem van de zwaarste straf, levenslang, toont ook hoe serieus het land het meent met haar unieke
    aanpak. Op enkele uitzonderingen na (dingen als genocide of oorlogsmisdaden) kunnen rechters een crimineel slechts
    veroordelen tot maximaal 21 jaar. Na het verstrijken van deze termijn kan er 5 jaar bijkomen, en na elke periode
    van 5 jaar kan dit herhaald worden indien het gevangeniswezen bepaald dat de gedetineerde niet gerehabiliteerd is.
    Zelfs Anders Behring Breivik die bij een terroristische aanval 77 mensen vermoordde in 2011 wordt op deze manier
    behandeld. <strong>Dit getuigt van een diepgeworteld humanisme, hoe erg de misdaad ook is.</strong></p>
<p>Het Noorse voorbeeld van Breivik kan ons ook iets leren over de antiterrorismewetten in Belgi&euml;. Wij zijn van
    mening dat het &ldquo;gewone&rdquo; strafrecht volstaat om wie willekeurig geweld tegen de burgerbevolking pleegt,
    aan te pakken. &nbsp;De strijd tegen het terrorisme mag niet worden misbruikt om organisaties aan te vallen die
    opkomen voor een andere maatschappij, of om de fundamentele rechten zoals het recht op vrijheid van meningsuiting
    of vereniging in te perken.</p>
<p>Bijna de helft van de Noorse gevangenispopulatie wordt een of ander lesprogramma aangeboden, en er wordt hulp
    aangeboden bij het vinden van huisvesting en het beheersen van de persoonlijke financi&euml;le situatie. De
    statistieken tonen aan dat deze gevangenispolitiek iets juist doet: Noorwegen heeft een laag aantal recidivisten,
    maar ook slechts 63 gevangenen per 100 000 Noren, en is daarmee van de best scorende landen ter wereld. Ter
    vergelijking: voor Belgi&euml; is dat 88 per 100 000 inwoners, voor Nederland 61, voor Duitsland 75 en voor
    Frankrijk 104. <a href="www.prisonstudies.org" matTooltip="World Prison Brief" matTooltipPosition="above">[172]</a></p>
<p>Ook Nederland doet het beduidend beter dan het gemiddelde en kende tussen 2006 en 2014 een daling van 20 463 naar 11
    603 gevangen door het legaliseren van een aantal drugs, een nadruk op rehabiliteren met persoonlijke
    programma&rsquo;s boven straffen, gemeenschapsdienst en een uitgebreid enkelbandsysteem waardoor veroordeelden snel
    terug konden inpikken in het dagdagelijkse werkleven. In tegenstelling tot Noorwegen is de kritiek hier dat een
    deel van de daling komt doordat er op de politiewerking in het algemeen bespaard werd en daardoor minder feiten
    geregistreerd werden.</p>
<p>Het grootste verschil is misschien nog dat cipiers zowel een bewakende als een rehabilitatieve rol spelen. Elke
    gedetineerde heeft een &ldquo;contactcipier&rdquo; die de vooruitgang naar een terugkeer tot de samenleving
    controleert en verder helpt. Noorwegen introduceerde dit om cipiers te helpen om te gaan met de schade die
    voortkwam bij het beoefenen van enkel een straffende functie: stress, hoge bloeddruk, alcoholisme, zelfmoord.<a
        matTooltip="The Atlantic, Why Scandinavian Prisons Are Superior, 24/09/2013." matTooltipPosition="above"> [173]
    </a>&nbsp;</p>
<p><strong>Al deze dingen zijn mogelijk omdat in Noorwegen, en Scandinavi&euml; in het algemeen, het strafrechtelijk
        beleid zelden of nooit het onderwerp is van politiek debat.</strong> Beslissingen over best practices worden
    overgelaten aan professionals in het veld zelf: getrainde criminologen met publicaties achter hun naam die nauw
    samenwerken met academische onderzoekers. Deze barri&egrave;re tussen politiek en resultaat gedreven
    gevangenissenbeleid wordt verder versterkt doordat de media misdaad niet sensationaliseren, als ze er al over
    berichten.</p>
<p>Kenneth Hartman, een gevangenisactivist en schrijver, maar ook levenslang veroordeeld voor moord in Californi&euml;,
    schrijft vanuit de gevangenis het volgende over zijn ervaringen: &ldquo;<em>De meeste gedetineerden zijn
        ongeschoold en worstelen met onopgeloste trauma&rsquo;s, slechte behandelde mentale gezondheidsproblemen en een
        laag zelfbeeld dat grenst aan het pathologische. Het overgrote deel heeft nooit degelijke (geestelijke)
        gezondheidszorg gekregen, een behandeling voor drugsproblematiek, degelijk onderwijs...laat staan een
        mogelijkheid om naar zichzelf als personen te kijken. Misschien indien een van deze minder draconische zaken
        geprobeerd was zouden veel van mijn medegevangenen een productiever leven leiden. We internaliseren de
        verwijdering uit de maatschappij, we nemen de &ldquo;minder dan&rdquo; status aan en houden onszelf een idiote
        trots voor om onze schaamte te verbergen. Uiteindelijk wordt de meerderheid van ons net zoals we gezien worden,
        zoals we gezegd worden te zijn: gewelddadig, irrationeel en onbekwaam om ons als volwassenen te gedragen. Het
        is een tragische opera met een voor de hand liggende uitkomst. Dat niets anders werkt is geen feitelijke
        uitspraak, het is de declaratie van een ideologie. Deze ideologie vertelt ons dat straffen, met als doel het
        doen voelen van pijn, de logische respons is voor alle wangedrag. Het is ook een verhaal dat goed uitkomt voor
        machtige lobbygroepen om achter te schuilen.</em>&rdquo;<a matTooltip="Kenneth Hartman in Doran Larson, Fourth City: Essays from the Prison in America, 2014."
        matTooltipPosition="above"> [174] </a></p>
<p>Vanuit een Amerikaans perspectief heeft Hartman hier een observatie die Black Power gevangenisschrijvers in de jaren
    &lsquo;60 en &lsquo;70 voor hem ook al maakten. <strong>Veroordeelde criminelen brengen een problematiek mee naar
        de gevangenis die direct voortkomt uit armoede en de traumatische gevolgen van armoede.</strong> Een leven vol
    misbruiken en gebroken huishoudens, gemeenschappen en scholen; mentale problemen, alcoholisme en verslavingen. In
    plaats van deze problemen aan te pakken neigen gevangenissen ernaar deze vast te zetten.</p>
<p>Tegenstanders zullen zeggen dat zo&rsquo;n open gevangenissen naar Noors model veel te soft zijn. <strong>Nochtans
        moeten we dit alles zien in het kader van een progressieve sociale politiek rond armoede die in de rest van het
        boek worden uitgelegd.</strong></p>
<p>Stel jezelf voor dat je in een cel zit zoals in Noorwegen. Je smartphone ligt naast je op een schap, naast een tv en
    een cd speler, dit alles in een gevangenis die je betaald werk of een studie laat doen. Er is geen grote
    gevangenismuur. Iemand van het gevangenispersoneel helpt je om pakweg een maand gemist huurgeld voor het
    appartement van je gezin te coveren. Nog iemand anders helpt je om werk te zoeken, of om een vervolg te breiden aan
    je opleiding. Stel jezelf voor dat je een gedetineerde bent die weet dat hij in de gevangenis zit voor hetgeen hij
    gedaan heeft, niet omwille van huidskleur, sociale klasse, armoede of gebrek aan juridische verdediging. Je leeft
    in deze cel maar je beseft elke minuut dat dit niet je huis is, dat de mensen rondom je niet je familie zijn, je
    vrienden, je kinderen, en dat je altijd slechts een misstap weg bent van een veel minder gunstig regime in een
    gesloten gevangenis. Je hebt een strikte avondklok. Buiten de muren moet je een enkelband dragen. Toch zal je
    moeten toegeven dat niets oneerlijk of onredelijk aanvoelt. Je hebt uiteindelijk nog steeds een zware misdaad
    begaan, zwaar genoeg om een reeks andere maatregelen uit te sluiten. Niets dat je gedurende je straf tegenkomt,
    geen enkele interactie met het personeel geeft je een reden om de schuld te geven aan of wrok te voelen jegens het
    systeem dat je hier bracht.</p>
<p>Dit is een gulden kooi, een zware straf. Elke emotionele stress, elk moment van spijt dat je zou kunnen afdekken met
    wrok jegens het systeem, alles dat je zou kunnen aangrijpen om weg te kruipen van je eigen persoonlijke
    verantwoordelijkheid glipt uit je vingers. Rechters en procureurs zijn onverkozen professionals die onder politieke
    druk staan om gevangenispopulaties te reduceren. Overal waar je kijkt en komt is de boodschap dezelfde: je hebt
    jezelf dit aangedaan. Je zit in een klasruimte, maar je draagt een geheim mee. Je bent niet als de anderen. Je
    lijkt net als hen, ze bekijken je geen tweede keer. Maar jij weet wel wat er is. Je staat onder quarantaine, voor
    het verleden dat je voor jezelf gemaakt hebt. Alles wordt eraan gedaan om je te helpen, je geheim op te klaren en
    terug te leven als anderen. Het gewicht van je daden rust uiteindelijk wel bij jou.</p>