<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <div>
            <h2 class="subject__title">Misdaad en Straf</h2>
            <p>In dit stuk overlopen we de kostprijs van de besparingen bij politie en gerecht, en stellen we dat
                veilige gemeenschappen ons iets mogen kosten. We verzetten ons tegen de besparingen die ons allen
                treffen in onze veiligheid, en contrasteren dit met de klassenjustitie die in België nog steeds
                bestaat. Het voorbeeld bij uitstek is de afkoopwet. We willen ook nadenken om de best practices rond
                rehabilitatie uit Scandinavië in België te introduceren zodat we het recidivisme scherp kunnen
                terugdringen. We willen een progressieve arbeidswetgeving verdedigen, en breken een lans voor een
                sterke rechtsstaat waarin de rechten van het individu gevrijwaard kunnen blijven.
            </p>
        </div>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-i-1-veilig></app-i-1-veilig>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-i-2-justitie>
        </app-i-2-justitie>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-i-3-schuld></app-i-3-schuld>
    </ng-template>
    <ng-template [appTemplate]="chapters[3].title">
        <app-i-4-afkoopwet></app-i-4-afkoopwet>
    </ng-template>
    <ng-template [appTemplate]="chapters[4].title">
        <app-i-5-gevangenis></app-i-5-gevangenis>
    </ng-template>
    <ng-template [appTemplate]="chapters[5].title">
        <app-i-6-arbeidswetgeving></app-i-6-arbeidswetgeving>
    </ng-template>
    <ng-template [appTemplate]="chapters[6].title">
        <app-i-7-scheiding></app-i-7-scheiding>
    </ng-template>
    <ng-template [appTemplate]="chapters[7].title">
        <app-i-8-besluit></app-i-8-besluit>
    </ng-template>
</app-subject>