<p>De zorgtoegankelijkheid boert er in dit land op achteruit. Ilse Weeghmans (Vlaams</p>
<p>Pati&euml;ntenplatform) op het symposium Medische Wereld: <em>&ldquo;In Brussel stellen zes op de tien chronisch
        zieken hun zorg uit, niet minder dan 55% schuift een consultatie bij de specialist op de lange baan. (&hellip;)
        Er wordt nogal gauw gesproken over de pati&euml;nt die &lsquo;shopt&rsquo;, maar wie gaat er voor zijn plezier
        in een wachtzaal zitten?&rdquo; <a matTooltip="De Specialist, daar is de lente, waar is de zorg?, 17/05/2017."
            matTooltipPosition="above">[114]</a></em></p>

<p>Een steekproef van Knack <em> <a matTooltip="Knack, 21 weken wachten op een gynaecoloog in Antwerpen of een oogarts in Limburg, 09/05/2017"
            matTooltipPosition="above">[115]</a></em> bij gynaecologen, dermatologen en oogartsen toont aan dat in ons
    land de wachtlijsten voor sommige specialismen onaanvaardbaar lang worden. Dat leidt tot een tweesporengeneeskunde
    <em>
        <a matTooltip="Hiermee bedoelen we een steeds meer geprivatiseerd en duur deel van de gezondheidssector voor hen met dure extra verzekeringen, en een ondergefinancierd deel met steeds langere wachtlijsten en mindere kwaliteit voor zij die slechts een basisdekking hebben"
            matTooltipPosition="above">[116]</a></em> en het komt de zorgtoegankelijkheid uiteraard niet ten goede.
    Onder de titel "Een oogarts nodig? Drie maanden geduld alstublieft", vat journaliste Ann Peuteman de resultaten van
    haar steekproef samen. Wachtlijsten voor sommige specialismen blijken ook bij ons een (groeiend) probleem terwijl
    dat fenomeen zich tot voor kort in de perceptie enkel over de grens - vooral in Nederland - voordeed. Niemand weet
    hoelang je in Vlaanderen gemiddeld op een afspraak moet wachten en welke medische disciplines het meest onder druk
    staan. <strong>In tegenstelling tot in Frankrijk en Nederland is dat bij ons nog niet onderzocht.</strong></p>

<p>De wachttijden voor een eerste contact met een gezondheidscentrum voor geestelijke gezondheidszorg zijn lang, wat
    wijst op problemen met toegankelijkheid en het aanbod van geestelijke gezondheidsdiensten. Ellenlange wachttijden
    zijn niet zonder gevaar. Niet alleen raken artsen overspannen, ook pati&euml;nten worden er gek van en lopen het
    risico dat hun kwaal erger wordt of dat een ernstige aandoening niet tijdig wordt gedetecteerd. Ook de
    spoeddiensten worden overbevraagd.</p>

<p>Terwijl de nood aan zorg toeneemt door de algemene vergrijzing van de bevolking, maar ook door de toenemende
    werkdruk, is er een tekort aan vakkundig personeel in de gezondheidssector. Het soberheidsbeleid dat momenteel in
    Europa wordt uitgevoerd heeft de gezondheidssystemen niet gespaard. Dit beleid leidt onder andere tot slechtere
    arbeidsvoorwaarden en minder kwaliteitsvolle zorg. Nochtans bestaat er een rechtstreeks verband tussen enerzijds de
    kwaliteit van de verstrekte zorg en anderzijds het beschikken over voldoende personeel en de kwaliteit van de
    arbeidsvoorwaarden in de gezondheidssector.</p>

<p>Een tekort aan personeel heeft onmiddellijke gevolgen voor de kwaliteit, maar ook voor de beschikbaarheid en
    toegankelijkheid van de zorgprestaties. De arbeidsvoorwaarden zijn bovendien bepalend voor het aantal nieuwe en in
    dienst zijnde personeelsleden. <strong>Het personeelsverloop wordt er grotendeels door be&iuml;nvloed: om aan
        iedereen meer kansen op kwaliteitsvolle zorg te bieden, moeten de arbeidsvoorwaarden verbeterd worden zodat er
        voldoende personeel op post blijft.</strong></p>

<p>In 2015 belichtte het ETUI <em> <a matTooltip="ETUI, HesaMag #11: The nursing world at tipping point, 2015."
            matTooltipPosition="above">[117]</a></em>, de European Trade Union Institute, de verslechtering van de
    arbeidsvoorwaarden en het tekort aan verplegend personeel in Europa : sluiting van ziekenhuizen, loonbevriezing,
    looninlevering, herstructureringen, privatiseringen, maar tevens personeelsinkrimping, afvloeiingen,
    niet-vervanging of niet-verlenging van contracten,... dit zijn maar een paar voorbeelden van wat er gebeurt wanneer
    lidstaten tot besparingen overgaan.</p>

<p>In Vlaanderen is dit niet anders: een enqu&ecirc;te bij 2.560 verpleegkundigen van beroepsvereniging NVKVV, vakbond
    ACV en Het Laatste Nieuws maakt duidelijk dat de sector op haar tandvlees zit door de toenemende werkdruk. Van de
    verpleegkundigen in ziekenhuizen zegt 88 procent dagelijks gebukt te gaan onder hoge werkdruk. Vooral de gezondheid
    van verpleegkundigen schiet erbij in. Zo geeft 15 procent aan dat ze dagelijks geneesmiddelen gebruiken om hun job
    aan te kunnen en nog eens 15 procent heeft het over wekelijks gebruik. <em> <a matTooltip="Het Nieuwsblad, Werkdruk weegt op verplegers: een op de drie slikt pillen om job aan te kunnen, 12/05/2018"
            matTooltipPosition="above">[118]</a></em></p>

<p>De werkdruk door de besparingen kost ook levens. Zeventig procent van de ondervraagde verpleegkundigen geeft toe dat
    ze op hun afdeling al fouten maakten omwille van de werkdruk. Negentig procent van die fouten waren volgens hen
    onschuldig, maar in tien procent van de gevallen ging het om missers die fysieke of mentale schade veroorzaakten.
    Zes verpleegkundigen gaven anoniem toe dat ze door de werkdruk al een fout maakten die het leven van een
    pati&euml;nt kostte. <em> <a matTooltip="De Morgen, Hoge werkdruk in ziekenhuizen eist levens, 14/05/2018"
            matTooltipPosition="above">[119]</a></em></p>

<p>De hakbijl zetten in de gezondheidsbegroting doet de kwaliteit van de zorg geen goed: stijging van medische
    nalatigheden, langere wachtlijsten, meer burn-outs bij de zorgverstrekkers. Volgens het RIZIV, Rijksinstituut voor
    ziekte- en invaliditeitsverzekering is <strong>het gemiddelde aantal pati&euml;nten per professionele
        verpleegkundige in acute ziekenhuizen een van de hoogste in Europa, </strong>wat een negatief effect heeft op
    de zorgkwaliteit. <em> <a matTooltip="Riziv 2016, Performantie van het Belgische gezondheidssysteem : rapport 2015."
            matTooltipPosition="above">[120]</a></em></p>

<p>Terwijl de openbare gezondheidssector verder afbrokkelt, over steeds minder middelen beschikt en steeds meer
    personeelsproblemen heeft, ontwikkelt er zich een aanbod aan private gezondheids- en welzijnsdiensten van
    commerci&euml;le aard die zich richten op een welgesteld client&egrave;le. Hierdoor beantwoordt de toegang tot
    kwaliteitsvolle geneeskunde niet aan wat in een ontwikkeld land zou mogen verwacht worden.</p>

<p>De hoofdreden daarvoor is dat alle zorgverstrekkers (instellingen en artsen) per prestatie worden betaald. Dit leidt
    naar de commercialisatie van de geneeskunde. De arts of de instelling hebben er financieel belang bij zoveel
    mogelijk pati&euml;nten te hebben, en zoveel mogelijk ingrepen of onderzoeken te verrichten, zelfs als ze medisch
    niet verantwoord zijn. Zoals het systeem momenteel georganiseerd is, is het grootste stuk van de inkomsten nodig om
    de ziekenhuizen in stand te houden. Zo zijn er ziekenhuizen waar besloten is om 30 tot 50% supplementen te vragen
    voor consultaties en die als investeringsfonds te gebruiken.</p>

<p>Daarentegen worden tijdrovende bezigheden die weinig of geen geld binnenbrengen verwaarloosd: grondige ondervraging
    van de zieke, bijhouden van een grondig medisch dossier, preventieve maatregelen en vroegtijdige opsporing van
    ziekten, voorlichting van zieken, zoeken naar de oorzaken van ziektes,&hellip; <strong>Door de betaling per
        prestatie worden financi&euml;le belangen van artsen en instellingen in het leven geroepen die tegenstrijdig
        zijn met het belang van de maatschappij op een goede gezondheidszorg.</strong></p>

<p>Ereloon- en materiaalsupplementen op de ziekenhuisfactuur of in de ambulante zorg zijn de belangrijkste reden waarom
    pati&euml;nten schulden moeten aangaan voor hun gezondheidszorg. Voor een dikkedarmoperatie betaal je in een
    ZNA-ziekenhuis (ex-OCMW ziekenhuis in Antwerpen) bijvoorbeeld aan RIZIV-tarief 458 euro uit eigen zak. Met
    ereloonsupplementen erbij is dat 3.343 euro. Door de torenhoge eigen bijdrage voor gezondheidszorg hebben vandaag
    8,2 miljoen Belgen naast hun ziekteverzekering een aanvullende hospitalisatieverzekering. 5,4 miljoen op de markt
    van de private verzekeringen en 2,8 miljoen via de ziekenfondsen. Maar 20% van de Belgen heeft geen aanvullende
    hospitalisatieverzekering.</p>

<p>De hoofdvoorwaarde om te komen tot een kwaliteitsgeneeskunde is dan ook de afschaffing van de betaling per prestatie
    en de vervanging ervan door een <strong>vast loon</strong> te betalen door de plaatselijke of nationale overheid.
    Dit volstaat echter niet om tot een kwaliteitsgeneeskunde te komen. Daartoe moet de concurrentie tussen artsen
    vervangen worden door samenwerking en onderlinge controle in de vorm van <strong>groepsgeneeskunde</strong>. Dit
    stelsel kan slechts werken als de artsen die tot een dergelijke praktijk behoren niet cumuleren met een tweede
    praktijk waar zij wel per prestatie betaald worden. Ook moet de organisatie van de gezondheidszorg zo sterk
    mogelijk <strong>gedecentraliseerd</strong> worden om zo dicht mogelijk bij de bevolking te staan. Dit moet dienen
    om bureaucratisering, onverantwoordelijkheid, verspillingen, traagheid, &hellip; uit te schakelen. Dit bestaat al
    voor een stuk in de vorm van wijkgezondheidscentra (WGC&rsquo;s) die in Belgi&euml; bijna 400.000 pati&euml;nten
    tellen, en eind jaren &lsquo;70 gelanceerd werden door Professor Jan De Maeseneer.</p>

<p>Er dient in de plaats gestreefd te worden naar de inrichting van plaatselijke organen voor gezondheidsbeleid, met
    een paritair beheer bestaande uit vertegenwoordigers van het openbaar bestuur, verzorgingsverstrekkers, en
    vertegenwoordigers van de &ldquo;pati&euml;ntklant&rdquo;. Dit zou zonder overdreven reglementering een permanente
    inspraak van de gemeenschap garanderen, alsook een groter begrip voor de noden van de pati&euml;nt en een betere
    inschakeling van de zorgverstrekkers in het maatschappelijk leven. Men dient tenslotte uit te gaan van het principe
    dat de bevolking recht heeft op een aangepaste gezondheidszorg, dat de overheid de plicht heeft dat recht te
    realiseren, wat dus <strong>het gratis maken van de geneeskunde</strong> inhoudt. In Noorwegen bestaat dit al voor
    een stuk: iedereen onder de 16 jaar krijgt in Noorwegen gratis gezondheidszorg. Wij moeten minstens even goed
    kunnen doen op de korte termijn, maar op de lange termijn dus streven naar het gratis maken van de geneeskunde via
    de uitbouw van wijkgezondheidscentra.</p>

<p>Voorwaarde voor de invoering van dit systeem is de verplichte inschrijving van de pati&euml;nt bij een arts naar
    keuze (met de mogelijkheid tot verandering na een bepaalde termijn). Het aantal pati&euml;nten per arts dient te
    worden vastgelegd tussen een maximum &ndash;en minimumcijfer, dit om artsen in gebieden met een lage
    bevolkingsdichtheid een behoorlijk inkomen te bezorgen en te voorkomen dat daar onderbezetting is, maar misschien
    nog belangrijker, <strong>om de levenskwaliteit en balans priv&eacute;-werk van alle artsen te garanderen. </strong>Vanzelfsprekend
    dient de arts een degelijk sociaal statuut te krijgen en moet bij zijn beloning door de overheid rekening worden
    gehouden met zijn anci&euml;nniteit en prestaties op wetenschappelijk gebied. Die beloning moet ook afhankelijk
    worden gemaakt van een regelmatige recyclage waarbij gecontroleerd wordt via een examen of de arts op de hoogte is
    van de laatste ontwikkelingen op medisch gebied in hun specialisatie.</p>

<p>Het uitoefenen van gespecialiseerde geneeskunde gebeurt het best in groepsverband op basis van een vaste wedde die
    aan de specialist wordt uitbetaald. Ziekenhuizen dienen te worden gebouwd en uitgebaat volgens een ernstige
    planning, die alleen met de noden van de volksgezondheid rekening houdt. Alle kosten moeten door de gemeenschap
    worden gedragen op basis van rationele normen en met uitsluiting van ieder winstoogmerk. Dit impliceert de
    overdracht van alle priv&eacute; ziekenhuizen aan de overheid.</p>

<p>De achterhaalde Orde Der Artsen dient te worden afgeschaft. De Orde Der Artsen verenigt alle artsen en verplicht hen
    zich aan te sluiten. De nationale raad van de Orde heeft wettelijk de taak om de algemene regels &lsquo;<em>betreffende
        de zedelijkheid, de eer, de bescheidenheid, de eerlijkheid, de waardigheid en de toewijding die onontbeerlijk
        zijn voor de uitoefening van het beroep</em>&rsquo; vast te leggen. Naast adviesverlening heeft de Orde vooral
    een disciplinaire functie en verschilt op dat vlak niet veel van het Kerkelijk of Militair recht in die zin dat ze
    een eigen tuchtprocedure hebben die los staat van de burgerlijke rechtspraak.</p>

<p>Dit leidt tot een aantal problemen: de Orde is vaak tegelijk rechter en tegenpartij in geschillen met haar leden.
    Wanneer pati&euml;nten of andere derden een arts aanklagen bij de Orde, worden zij hier niet bij betrokken: men
    wordt niet ingelicht over het besluit en men kan ook niet in beroep gaan. Dit komt de transparantie van de
    tuchtrechtspraak niet ten goede en kan de indruk wekken dat er dingen in de doofpot verdwijnen. Daarnaast treedt de
    orde niet streng genoeg op tegen beroepsfouten van haar leden en staat ze erg afwijzend en conservatief tegenover
    andere organisatievormen van de geneeskunde, met als bekendste voorbeeld "Geneeskunde voor het Volk" en de
    wijkgezondheidscentra die we eerder aanhaalden.</p>
<p><br />De Orde voldoet niet meer. De gezondheidszorgsector is een bij uitstek maatschappelijk gebeuren geworden en
    haar omvang en belang zijn sterk gegroeid: het aantal artsen is toegenomen, het beroep is gefeminiseerd en er is
    meer multidisciplinaire samenwerking. Ook de budgettaire impact van de uitgaven voor gezondheidszorg neemt steeds
    maar toe, zowel wat betreft het deel gedragen door de sociale zekerheid en/of de staat (7% van het bruto
    binnenlandse product) als het eigen aandeel van de pati&euml;nt, al dan niet gedeeltelijk gedekt door
    priv&eacute;verzekeringen. Daarnaast worden het aantal bio-ethische vraagstukken en hun maatschappelijke impact
    steeds groter als gevolg van de wetenschappelijke vooruitgang en de veranderende maatschappelijke context: abortus,
    euthanasie, medisch geassisteerde bevruchtingstechnieken, prenatale diagnostiek, pre&iuml;mplantatiediagnostiek,
    stamcel- en gentherapie, experimenten op mensen en embryo&rsquo;s enz. Ook de snel toenemende migratie van artsen
    en andere gezondheidswerkers zorgt voor bijkomende opdrachten (verificatie van diploma&rsquo;s en van het
    beroepsverleden). <strong>Men kan hieruit besluiten dat de gezondheidszorg, en bijgevolg de regulering ervan, een
        zaak dient te zijn van de hele maatschappij en niet alleen van de artsen in een verouderde structuur.</strong></p>