<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <div>
            <h2 class="subject__title">De gezondheidszorg</h2>
            <p>In dit stuk hebben we het over de verslechtering van de arbeidsvoorwaarden van het verplegend personeel,
                het afbrokkelen van de openbare gezondheidssector en de oprukkende privatisering in de vorm van
                betalingen per prestatie. Ook hebben we het over de noodzaak aan groepsgeneeskunde met de uitbouw van
                wijkgezondheidscentra, en denken we dat de verloning van artsen niet per prestatie moet gebeuren, maar
                aan een vast loon. Wat de farma betreft pleiten we voor het goedkoop namaken van een aantal dure
                medicijnen, maar ook het geleidelijk aan in gemeenschapshanden brengen van de farmareuzen. Tot slot
                behandelen we de toenemende stress in de maatschappij en linken deze met toenemende prestatiedruk,
                arbeidsduur en werkrelaties.
            </p>
        </div>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-e-1-gratis></app-e-1-gratis>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-e-2-farma>
        </app-e-2-farma>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-e-3-ziekte>
        </app-e-3-ziekte>
    </ng-template>
</app-subject>