<p>In een weekendinterview in De Standaard (van 1 september 2018) doet OESO-topman, en voormalig kabinetschef van Frank
    Vandenbroucke, Dirk Van Damme zijn beklag over de voornoemde PISA-resultaten. Hij wijst met de beschuldigende
    vinger vooral naar de beleidsmakers in het &lsquo;middenkader&rsquo;, te weten: de leerplancommissies, de
    inspectie, de lerarenopleiding. &lsquo;Ze hebben het gelijkekansenbeleid fout ge&iuml;nterpreteerd, door de
    minimumdoelstellingen in de eindtermen te herformuleren tot de na te streven lat.&rsquo;</p>
<p>Frank Vandenbroucke vond hij een schitterende Minister van Onderwijs, en ook huidig Minister Hilde Crevits krijgt
    van hem &lsquo;een onderscheiding&rsquo;. Zou het nu zijn omdat Van Damme zijn minister(s) uit de wind wil zetten,
    maar verrassend genoeg treft hen dus geen schuld. Toch valt het niet te ontkennen dat het de politiek is die het
    beleid bepaalt, en zowel de kwaliteit van het onderwijs als de sociaal-economische toestand van gezinnen aanstuurt.</p>
<p><strong>De onderwijshervormingen die we de afgelopen 10 jaar hebben meegemaakt zijn duidelijk politiek gestuurd, en
        wel op Europees niveau.</strong> Voor basis- en secundair onderwijs betekent dit besparingen op de
    werkingsmiddelen, grotere klassen, en toenemende werkdruk voor leerkrachten en directie. In het basisonderwijs ziet
    de situatie er dramatisch uit, zo zagen we onlangs nog in een Pano-reportage. <strong>Jonge leerkrachten overwerken
        zich, vallen uit, of stoppen na korte tijd met lesgeven.</strong> Het M-decreet betekent op het terrein dat de
    groepen n&oacute;g diverser worden. De leerkrachten die voorheen in het buitengewoon basisonderwijs stonden, en die
    voor kinderen konden zorgen met een specifieke problematiek, worden gevraagd om scholen af te schuimen om de
    scholen - niet de leerkrachten - te ondersteunen om om te gaan met kinderen met soms heel specifieke
    gedragsstoornissen. &lsquo;Het basisonderwijs kraakt&rsquo;, &lsquo;de leraar trekt het niet meer&rsquo;, zo zeggen
    de vakbonden in koor. Ook in het secundair onderwijs worden klasgroepen groter. Onderfinanciering betekent ook dat
    ouders nu zelfs voor middagtoezicht of het gebruik van de refter vaak moeten betalen.</p>
<p><strong>Je mag je eindtermen dan nog zo ambitieus formuleren als je wil, als er geen middelen tegenover staan, dan
        gaat de kwaliteit achteruit.</strong></p>
<p>Hoewel het niveau van onze leerlingen in de PISA-rankings daalt, worden hun schoolcarri&egrave;res er niet bepaald
    relaxter op! <strong>Het onderwijs is de afgelopen decennia ge&euml;volueerd naar een broednest voor de
        arbeidsmarkt.</strong> Talenkennis en creativiteit worden verdrongen door wetenschappen en ICT. De leerlingen
    worden niet genoeg algemeen gevormd - nochtans is dit de betekenis van het woord &lsquo;humaniora&rsquo; - maar
    worden in plaats daarvan klaargestoomd door een instrumentalistisch onderwijs voor een nietsontziende, krappe
    arbeidsmarkt.</p>
<p>Net zoals wat betreft het economische en arbeidsmarktbeleid, loopt ook voor onderwijs de Europese Unie het
    Amerikaanse model te hard na. Dit beleid focust op prestaties, bij leerlingen en leerkrachten, bij het bevoordelen
    van een geprivilegieerde klasse, en op besparingen. Wereldberoemd onderwijsexpert Pasi Sahlberg legt in zijn boek
    Finnish Lessons 2.0 haarfijn uit hoe de opeenvolgende Amerikaanse presidenten, George Bush en Barack Obama,
    getracht hebben om het onderwijs in de VS te verbeteren middels liberale recepten. Het resultaat staat hen
    ongetwijfeld niet aan: sinds 2003 is de gemiddelde Amerikaanse student er op het vlak van wetenschappelijke en
    wiskundige kennis, en op het vlak van leesvaardigheid op achteruit geboerd. Het land staat nu respectievelijk op de
    24ste, de 41ste en de 42ste plaats, in het geval van wiskunde onder het OESO-gemiddelde, en bijvoorbeeld onder het
    niveau van Canada, Ierland, Polen, Vietnam, Rusland, Australi&euml; en de Scandinavische landen.</p>
<p>Een onderwijs dat zich bedient van liberale recepten, bereidt zich niet voor op de toekomst. Het bestendigt en
    vergroot de kloof tussen arm en rijk, tussen elite en de rest, en gooit zowel leerlingen als leerkrachten te
    grabbel aan toenemende prestatiedruk en besparingen.</p>
<p>Het Vlaamse onderwijs was goed, en we moeten zeker niet het kind met het badwater weggooien, zoals andere stemmen
    ter linkerzijde misschien zullen opperen, maar volharden in steeds dezelfde recepten, en een ander resultaat
    verwachten, gaat de kwaliteit zeker niet redden, integendeel.</p>