<p>In het Vlaams secundair onderwijs moeten leerlingen al op hun 12de kiezen wat ze willen studeren. En zelfs ervoor
    wordt al over hun lot beslist, of ze naar de A-, dan wel de B-stroom gaan. Niettegenstaande de goede bedoelingen
    van de opeenvolgende Ministers van Onderwijs is het watervalsysteem nog steeds een realiteit, en bepaalt deze, in
    tegenstelling tot wat Dirk Van Damme beweert, in grote mate de levensloop van jongeren.</p>
<p>In het Fins onderwijs wordt gekozen voor een brede eerste cyclus. Tegenstanders zeggen dat de sterke studenten
    hierdoor een te grote achterstand oplopen, maar ze vergeten hierbij gemakkelijkshalve die andere kinderen die, net
    omwille van het watervalsysteem, hun talenten verloren zien gaan omdat ze die nooit gaan kunnen benutten. <strong>Dit
        soort onderwijs emancipeert niet, maar bouwt alleen voort op de geprivilegieerden. </strong></p>
<p>Leerlingen die na hun 16de jaar genoeg hebben gehad van school, kunnen in Finland gaan werken, stage gaan lopen of
    een beroepsopleiding volgen. Op deze leeftijd kan een kind al een veel bewustere keuze maken. In de jaren daaraan
    voorafgaand maken scholieren kennis met zowel theoretische als praktische vakken. Met wetenschappen en talen. Met
    cultuur en houtbewerking. Een brede eerste graad doet precies dit: het geeft &aacute;lle kinderen de mogelijkheid
    om met vanalles kennis te maken en een bewuste keuze te maken.</p>
<p>Een ander gevolg van het onderwijssysteem in Finland is dat de leerlingen die na hun 16de kiezen voor een hogere
    opleiding ook &eacute;cht gemotiveerd zijn. <strong>Finland heeft in veel mindere mate te kampen met schooluitval
        of schoolmoeheid, precies om deze reden.</strong> Zij die dan doorstromen naar het voortgezet onderwijs zijn de
    academici, de ingenieurs, de wetenschappers, en &hellip; de leerkrachten van de toekomst.</p>
<p>Wij pleiten in dit alles dus helemaal niet voor het afschaffen van punten of het verlagen van de lat. Het Finse
    model toont hoe we het onderwijs zo kunnen hervormen dat we kinderen gelijker kunnen opvoeden, en hen de
    mogelijkheid kunnen bieden om op een latere leeftijd een bewustere keuze te maken. Dit is de ethische imperatief
    van een onderwijshervorming. De economische gevolgen van zo&rsquo;n hervorming zien we ook in Finland, en liggen
    ver weg van het doembeeld dat rechts ons voorschotelt. <strong>De lat moet niet omlaag, maar het watervalsysteem
        moet weg, en het onderwijs moet de weg op van meer gelijkheid, creativiteit, motivatie en effici&euml;ntie.</strong></p>