<h2 class="subject__title"> Onderwijs voor onze kinderen, die voor hetere vuren staan</h2>
<p>Het debat over onderwijs in Belgi&euml; en Vlaanderen gaat over hoe we de goede naam en de hoge kwaliteit van ons
    onderwijs moeten behouden. Kiezen we voor het Angelsaksische model, of voor een Scandinavisch model? In de
    PISA-onderzoeken scoren we nog steeds hoog, maar we boeren achteruit. De kloof tussen sociale groepen die we eerder
    aanhaalden in ons stuk over gelijkheid is een schandvlek, alsook de grote ongekwalificeerde uitstroom in het
    secundair onderwijs. Het onderwijs kan niet in de toekomst kijken, maar dat onze kinderen voor uitdagingen gaan
    staan die wij als volwassenen niet kennen - &nbsp;sommigen zullen zeggen: waar wij verantwoordelijk voor zijn -
    lijdt geen twijfel. Dan hebben we het over de crisis van het economische model, de ecologische crisis, en de
    humanitaire crisissen die deze tot gevolg hebben. Socialisten moeten durven bouwen aan het onderwijs van de
    toekomst, waar gelijkheid en creativiteit centraal staan.</p>