<p>De voornaamste hervorming die hier moet uitgevoerd worden is <strong>de uitschakeling van de fiscale fraude</strong>.
        De omvang van de ontdoken belastingen is hallucinant. In 2012 al bracht Richard Murphy een grote internationale
        studie uit <a href="http://www.socialistsanddemocrats.eu/sites/default/files/120229_richard_murphy_eu_tax_gap_en.pdf"
                matTooltip="Richard Murphy, Closing the European Tax Gap, 2012." matTooltipPosition="above">[102]</a>
        waaruit bleek dat het aandeel van de ondergrondse economie in Belgi&euml; in 2009 21,9% van het BNP besloeg.
        Dit kwam overeen met <strong>33 miljard euro aan ontdoken belastingen</strong>, of 80,7% van de volledige
        uitgaven van de sociale zekerheid voor de gezondheidszorg.</p>

<img src="assets/images/image19.png">
<p>De fiscus had aan het eind van 2009 nog bijna 22 miljard euro belastinggeld niet ge&iuml;nd. Dat bleek uit cijfers
        die Ghislain Vandercapellen, de administrateur-generaal inning en invordering vrijgaf in de Kamercommissie
        Financi&euml;n. Als rekening wordt gehouden met de ruim 10 miljard euro 'totaal niet-invorderbare' of als
        verloren beschouwde belastingschulden bedraagt de fiscale achterstand ruim 32 miljard. <a matTooltipPosition="above"
                matTooltip=" De Morgen, 11/02/10">[103]</a>
        Dit bedrag
        ligt een heel stuk boven het tekort op de begroting. <strong>Dat wil zeggen dat de staat zelfs zonder enige
                nationalisaties of verhoging van vermogensbelastingen al winst kan maken, als ze maar effici&euml;nt de
                fraude zou kunnen bestrijden.</strong> Terwijl men wel de rekening van het redden van de banken en de
        rekening van de crisis op de gewone mensen wil schuiven is deze politieke onwil om de grote vermogens en
        fraudeurs aan te pakken stuitend.</p>
<p>Dat was in de woelige periode na het uitbreken van de wereldwijde financi&euml;le crisis in 2008 waarbij de banken
        met overheidsgeld moesten gered worden. Ondertussen moet het toch al wel beter gesteld zijn met fraude en
        ontduiking?</p>
<h4><em>Offshore Leaks</em></h4>
<p>We schrijven april 2013. Het International Consortium of Investigative Journalists (ISIJ) legt in een stevig rapport
        (later gekend als de Offshore Leaks) uit hoe verschillende bedrijven en individuen 130.000 offshore
        bankrekeningen beheren. Het was een van de grootste aanklachten ooit tegen internationale belastingfraude. Het
        rapport meldde dat er maar liefst 21 tot 31 biljoen dollar (een biljoen is 1000 miljard) verborgen zat in
        belastingparadijzen. Het onderzoek baseerde zich op het uitlekken van circa 2,5 miljoen geheime documenten over
        het offshore-vermogen van mensen uit 170 landen en territoria.</p>
<p>110 Belgische bedrijven werden toen in verbinding gebracht met firma's op belastingparadijzen zoals de
        Kaaimaneilanden of de Britse Maagdeneilanden. Banken zoals KBC en BNP Paribas, bedrijven zoals Solvay waren
        betrokken. Ook de voormalige Belgische premier Paul van Zeeland bleek in 1946 een offshore-maatschappij in
        Panama opgericht te hebben. Bij het uitlekken hiervan in 2013 diende zijn kleindochter, Catherine Van Zeeland,
        die bestuurder van deze vennootschap was, op te stappen als adviseur Gelijke Kansen in het kabinet-Milquet.
        Herinner u de lijst met grootste Belgische bedrijven naar omzet. Politici wereldwijd reageerden met oproepen om
        paal en perk te stellen aan belastingontduiking, dit mocht nooit meer gebeuren.</p>
<h4><em>Luxleaks</em></h4>
<p>Slechts een jaar later volgen in 2014 de zogenaamde Luxleaks. Het ICIJ neemt het belastingregime in ons buurland
        Luxemburg onder de loep. Luxemburg blijkt nu ook zwart op wit verrassend genoeg een belastingparadijs te zijn.</p>
<p>Grote Belgische bedrijven en onze rijkste families hebben in het Groothertogdom verregaande en dubieuze
        belastingconstructies opgezet met postbusbedrijven in belastingparadijzen. 1600 bedrijven zijn zelfs
        geregistreerd op slechts &eacute;&eacute;n adres: 5, rue Guillaume Kroll &ndash; in Luxemburg. De bekendere
        namen waren de familie de Spoelberch, de rijkste familie van het land met nauwe banden in AB Inbev. Andere
        bekende namen: het vroegere Dexia of Accent Jobs. De rijkste Belg Albert Fr&egrave;re kon uiteraard ook niet
        ontbreken. Ons land speelde zo miljarden aan inkomsten kwijt. Herinner u opnieuw de lijst met grootste
        Belgische bedrijven naar omzet.</p>
<p>Het rapport baseerde zich op vertrouwelijke informatie over belastingovereenkomsten van 2002 tot 2010. De huidige
        voorzitter van de Europese Commissie Jean-Claude Juncker, was in deze hele periode premier van Luxemburg.
        <strong>Onder zijn beleid werden dus miljarden aan belastinginkomsten van andere Europese landen afgenomen.</strong>
        Meer dan 300 multinationals hadden in november 2014 een dergelijke fiscaal gunstige overeenkomst. De
        verwevenheid tussen politiek en rijkste laag in de maatschappij is erg problematisch. De klokkenluiders werden
        door hun werkgevers aangeklaagd en kregen voorwaardelijke celstraffen en boetes. Geen multinational werd
        aangeklaagd. De Europese Unie beloofde een plan om belastingontduiking aan te pakken.</p>

<h4><em>Swissleaks</em></h4>
<p><img src="assets/images/image1.png"></p>
<p>Nog een jaar later, in 2015, was er al een nieuw lek: SwissLeaks was de naam van een journalistiek onderzoek naar
        een systeem van belastingfraude. De hoofdrol was deze keer weggelegd voor de Britse bank HSBC en hun Zwitserse
        dochteronderneming HSBC Private Bank. In februari 2015 publiceerde ICIJ een reeks gegevens over Zwitserse
        bankrekeningen. Opnieuw bundelen meer dan 130 journalisten uit 46 landen de krachten. Wat bleek? Op meer dan
        100.000 klantenrekeningen en 20.000 offshorebanken bij HSBC in Gen&egrave;ve zou meer dan 180,6 miljard euro
        zijn gepasseerd. Dit alleen al tussen november 2006 en maart 2007.</p>

<h4><em>Panama Papers</em></h4>
<p>Het jaar nadien, 2016, was het weer prijs. Op 3 april 2016 raakte bekend dat 11,5 miljoen vertrouwde documenten van
        de Panamese juridische en zakelijke dienstverlener Mossack &amp; Fonseca gelekt waren naar de internationale
        pers. De Panama Papers waren geboren.</p>
<p>Deze werden opnieuw onderzocht door ICIJ, alsook door de autoriteiten van diverse landen. Naast (legale)
        belastingontwijking ging het hier ook om belastingfraude en/of andere illegale activiteiten, zoals het omzeilen
        van handelssancties of het afhandelen van omkoping. In heel wat landen staan daar zware straffen op.</p>
<p>In Belgi&euml; zou het gaan om minstens 732 burgers die verbonden zijn aan minstens 1144 buitenlandse ondernemingen
        in elf verschillende belastingparadijzen. Ze zijn vooral actief in sectoren zoals de financi&euml;le sector, de
        diamanthandel en immobili&euml;n. Onder andere de staalmagnaat Lakshmi Mittal, de ondertussen overleden topman
        van Belgacom Didier Bellens, de op een na rijkste Belg Patokh Chodiev (van het Kazachgate-schandaal), de
        hoofdaandeelhouders van AB Inbev (met opnieuw de familie de Spoelberch). Minstens zes van de rijkste Belgische
        families zouden opduiken in de lijst. De enige Belgische politicus die wordt genoemd is Hugo Schiltz
        (Volksunie). De verwevenheid tussen politiek en rijkste laag in de maatschappij is erg problematisch. Herinner
        u opnieuw de lijst met grootste Belgische bedrijven naar omzet.</p>
<p>Een van de hoofdrolspelers in het schandaal was de toenmalige Dexia-dochteronderneming Experta (via Banque
        internationale &agrave; Luxembourg, BIL). Tussen 2002 en 2011 (dus ook nog nadat de bank was gered met
        overheidsgeld in 2008) werden meer dan 1600 offshores opgericht. Het merendeel in Panama, de overige in
        belastingparadijzen als de Bahama's, de Britse Maagdeneilanden en Niue (een eiland van Nieuw-Zeeland niet ver
        van Fiji). Toenmalige leden van de raad van bestuur van de BIL (en dus ook van advieskantoor Experta) waren
        onder meer Jean-Luc Dehaene, Jacques Rogge en voormalige Dexia-toplui Pierre Mariani, <a href="Voormalig dochterbedrijf van Dexia richtte meer dan 1600 offshores op; MO*; 9 april 2016"
                matTooltip="Voormalig dochterbedrijf van Dexia richtte meer dan 1600 offshores op; MO*; 9 april 2016"
                matTooltipPosition="above">[104]</a> Axel Miller, Stefaan Decraene en Fran&ccedil;ois Narmon. Tevens
        lekte dat Exeperta zelfs stroman-directeurs leverde voor de offshores. Dat gebeurde door drie Luxemburgse
        bedrijven, die op hun beurt waren opgezet als offshores op de Britse Maagdeneilanden. Ook KBC, Bank Degroof en
        Fortis werden genoemd. Zo zou Fortis via haar dochteronderneming Intertrust Group niet enkel via Mossack
        Fonseca, maar ook via concurrent Trident Trust offshorestructuren hebben opgericht en beheerd voor haar
        klanten. Zaken- en private bank Degroof (en de overgenomen Banque Nagelmackers Luxembourg) van haar kant liet
        de constructies opzetten in de Seychellen. <a href="http://www.knack.be/nieuws/wereld/panama-papers-fortis-beheerde-duizenden-offshorestructuren/article-longread-695045.html"
                matTooltip=" Panama Papers: Fortis beheerde duizenden offshorestructuren; Knack; 23 april 2016"
                matTooltipPosition="above">[105]</a></p>
<p>Op 11 april 2016 werd bekend dat de Bijzondere Belastinginspectie (BBI) van Gent in een concreet dossier reeds in
        juni 2009 geconfronteerd was met een Panama-constructie die door Dexia vanuit Luxemburg werd georganiseerd.
        Ondanks een verzoek van de Gentse BBI-directeur liet de BBI het echter na om het mechanisme te onderzoeken. De
        toenmalige bankentoezichthouder CBFA zou de constructie wel onderzocht hebben; het zou echter onduidelijk zijn
        wat met de onderzoeksresultaten nadien gebeurde. <a href="http://www.mo.be/nieuws/fiscus-wist-van-panama-route-dexia-maar-pakte-ze-niet-aan"
                matTooltip="Fiscus wist van Panama-route Dexia, maar pakte ze niet aan; MO*; 11 april 2016"
                matTooltipPosition="above">[106]</a></p>
<h4><em>Paradise Papers</em></h4>
<p>In wat op een jaarlijks terugkerende gewoonte lijkt geworden was er in 2017 ook een groot lek, de zogenaamde
        Paradise Papers. De papers verzamelen ca. 13,4 miljoen teksten over internationale belastingontwijking. Uit
        deze teksten is op te maken welke sluiproutes multinationals en enkele van 's werelds rijkste personen
        gebruiken om op hun vermogens zo min mogelijk belasting te betalen.</p>
<p>Opnieuw duiken weer een hele reeks namen op, van Bono tot Madonna, de Britse Queen tot Donald Trumps schoonzoon
        Jared Kushner en minister van Handel Willbur Ross. Bedrijven zoals Apple en Nike doen ook weer gretig mee. In
        ons land zouden Janssen Pharmaceutica en Ageas, de grootste verzekeraar, postbusconstructies hebben. Ageas zou
        er zo een dikke 1,2 miljard euro aan verdiend hebben, zonder &eacute;&eacute;n euro belasting te betalen.
        Herinner u opnieuw de lijst met grootste Belgische bedrijven naar omzet.</p>
<p>Ook de Tijd en le Soir komen na een onderzoek <a matTooltip="De Morgen, De honderd rijkste families van ons land hebben samen 48 miljard euro in Luxemburg staan, 27/03/2018"
                matTooltipPosition="above">[107]</a> van bijna 1,5 miljoen documenten uit het Luxemburgse
        bedrijvenregister tot de conclusie dat de honderd rijkste families van ons land samen ruim 48 miljard euro
        geparkeerd hebben bij meer dan 160 postbusvennootschappen in het Groothertogdom Luxemburg. Ze betalen er
        meestal elk jaar slechts een minimumbelasting van 4.815 euro. Plaatselijke advieskantoren regelen alle
        verplichtingen.</p>
<p>Van de vijftig rijkste zakenfamilies in ons land blijken acht op de tien financi&euml;le en fiscale constructies in
        Luxemburg te hebben. Meer dan de helft van de families (56 procent) gebruikt daarvoor enkel een
        postbusvennootschap. Van de honderd rijkste families zijn nog altijd zes op de tien in Luxemburg aanwezig. Vier
        op de tien hebben er weinig meer dan een postbusadres, terwijl in totaal meer dan 48 miljard euro eigen
        vermogen in die postbusvennootschappen zit. Opmerkelijk is dat ook Yves Leterme (CD&amp;V) opduikt. De
        oud-premier was er jarenlang betrokken bij een postbusconstructie achter het Duitse kabelbedrijf Tele Columbus.
        Leterme ziet geen graten in zijn betrokkenheid bij de constructie, die intussen is opgedoekt. Hij ziet ook geen
        conflict met zijn vorige topmandaat bij de OESO, hoewel die organisatie juist de strijd aanbond tegen zulke
        internationale belastingconstructies. De verwevenheid tussen politiek en rijkste laag in de maatschappij is erg
        problematisch.</p>
<p>De fiscale fraude is niet alleen ethisch ontoelaatbaar en strijdig met het principe dat iedereen belastingen moet
        betalen in verhouding tot zijn inkomen, ze onttrekt ook een enorme som aan de gemeenschap en is <strong>een
                permanente diefstal</strong>. Onderzoek wijst uit dat het vooral de werknemers zijn die benadeeld
        worden, terwijl de grote bedrijfsleider, de agro-industrie kapitalisten, de vrije beroepen en de
        kapitaalkrachtigen de profiteurs zijn: <strong>een transfer tussen werkenden en kapitaalkrachtigen.</strong></p>
<p>Maatregelen dienen genomen te worden om de fiscale fraude uit te schakelen: <strong>als eerste de afschaffing waar
                mogelijk van forfaitaire stelsels <a matTooltip="Een forfaitair stelsel houdt geen rekening met het werkelijke inkomen, maar belast enkel een vooraf afgesproken bedrag. Een forfaitaire belasting is vaak veel lager dan wanneer het werkelijke inkomen belast zou worden."
                        matTooltipPosition="above">[108]</a></strong><strong> en hun vervanging door directe taxatie</strong>.
        Ook moet er een <strong>verscherping van de strafwettelijke vervolging</strong> komen: er is een tekort aan
        speurders en een gebrek aan expertise om complexe fraudezaken aan te pakken. Jaar na jaar luidt justitie de
        alarmbel over het tekort aan magistraten om fraudeurs, witwassers en andere witteboordencriminelen te
        vervolgen.</p>
<p>Ook moet er <strong>internationaal samengewerkt worden</strong>, belastingsfraude is steeds meer een internationaal
        fenomeen en maatregelen om belastingsvlucht te voorkomen moeten genomen worden. Het spreekt vanzelf dat met de
        bedragen die vermeld worden in de diverse lekken hierboven beschreven er een prioriteit moet zijn om de
        belastingsdienst opnieuw te bemannen en van middelen te voorzien. Met name &nbsp;fondsen vrijmaken voor
        onderzoek naar het gebruik van belastingparadijzen lijkt ons iets waarbij de gemeenschap alleen maar baat kan
        hebben. Ook zien wij heil in het oprichten van een gespecialiseerde eenheid bij de fiscus om <strong>belastingontduiking
                via belastingparadijzen aan te pakken</strong>. Die gespecialiseerde eenheid, al dan niet onderdeel van
        de bijzondere belastingsinspectie, moet constructies met belastingparadijzen in kaart brengen en maatregelen
        ontwikkelen om zulke constructies tegen te gaan. Daarnaast moet ze systemen op poten zetten om personen die
        belastingparadijzen gebruiken te kunnen identificeren. In Ierland heeft men zo'n dienst opgericht en in het
        eerste volle jaar na haar oprichting heeft die 650 miljoen euro opgebracht. In de nasleep van alle schandalen
        hierboven beloofden politici wereldwijd, dus ook in ons land, maatregelen om de fiscale fraude aan te pakken.
        <strong>Deze engagementen zijn echter nog niet nagekomen.</strong></p>
<p><br />Een andere belangrijk maatregel die genomen moet worden is de <strong>opheffing van het bankgeheim</strong>
        voor fiscale administraties zodat er een werkelijk zicht op de geldstromen kan komen. Indien we de cijfers
        zouden kennen van de belastingen die effectief betaald zijn, zouden we waarschijnlijk grote verschillen zien
        tussen burgers met vergelijkbare inkomsten. Hoewel de wet voor alle Belgen gelijk is, kunnen de rijken beter
        gebruik maken van ontwijkingen dan anderen. Maar in Belgi&euml; zijn die individuele cijfers geheim, en moeten
        we ons behelpen met een gemiddelde. Een gemiddelde verbergt de grote verschillen tussen families. Dit in
        tegenstelling tot Finland waar elkeen inzage kan vragen van andermans fiscaal dossier. Bij ons zijn alleen de
        loonschalen openbaar van werknemers van overheids- en priv&eacute;bedrijven die in Belgi&euml; sociale
        zekerheid afdragen.</p>