<p><img src="assets/images/image2.png" alt="" /></p>
<p>Ten eerste stellen wij <strong>het verhogen van de roerende voorheffingen</strong> <a matTooltip="De roerende voorheffing is een voorschot op de inkomstenbelasting die geheven wordt op inkomsten uit roerende goederen. De roerende inkomsten bestaan voornamelijk uit intresten en dividenden."
        matTooltipPosition="above">[109]</a> tot een grotere aanslagvoet voor. Uit de bovenstaande tabel <a href="http://stat.nbb.be/Index.aspx?lang=nl&SubSessionId=398a9bc8-427b-4560-8a73-554b073cbe25&themetreeid=23#"
        matTooltip="Dataset van de Nationale Bank van België: Niet-financiële rekening van de overheid"
        matTooltipPosition="above">[110]</a> blijkt dat de kapitaalsbelastingen in Belgi&euml; zeer laag zijn ten
    opzichte van de andere belastingcategorie&euml;n en in 2016 1,8% uitmaakte van de totale fiscale inkomsten.
    Bedrijven moesten in 2016 14,9 miljard euro aan belastingen betalen, huishoudens 52,6 miljard euro, terwijl de
    belastingen op vermogen welgeteld 3,3 miljard euro opbrachten. Dit is ruwweg 16 keer minder dan gewone gezinnen.
    Dan zwijgen we nog over al het geld dat nooit belast wordt en in een van de belastingparadijzen zit. Wij volgen het
    ABVV in haar voorstel dat alle inkomens worden belast volgens een progressief principe.</p>

<p>Ten tweede moet de verhouding tussen directe en indirecte belasting bekeken worden. Voor elke euro directe
    belastingen was er in 2016 80 cent aan indirecte belastingen. Het argument dat ten gunste van indirecte belastingen
    wordt aangevoerd, namelijk dat deze belasting onbewust betaald wordt door de consument in de vorm van BTW en dus
    psychologisch makkelijker te verteren is, is ronduit zwak en van de rechterzijde. Het weegt niet op tegen <strong>de
        nadelen van indirecte belastingen</strong>, namelijk het feit dat deze <strong>de gezinnen met lagere inkomens
        relatief het zwaarste treffen</strong>. Het gaat hier immers om een vlaktaks die voor iedereen ongeacht inkomen
    dezelfde is. Wil men een werkelijk progressief belastingstelsel, dan moet het aandeel van de directe belastingen
    aanzienlijk stijgen en het aandeel van de indirecte belasting aanzienlijk dalen.</p>

<p>Ten derde moet ook het stelsel van belastingen op de inkomsten van particulieren volledig worden herzien. Vanaf een
    bepaald vermogen dient de belastingdruk zeer scherp en progressief toe te nemen, wat in feite neerkomt op een
    <strong>maximumvermogen</strong>. Wij stellen in navolging van de PvdA 1 miljoen euro roerend vermogen (dit is dus
    geld op de rekening) en 500 000 euro onroerend vermogen (de eerste woonst) voor. Uiteraard treft deze maatregel
    alleen de superrijken. <strong>In een maatschappij als de onze, waar er nog zoveel tekorten en noden zijn (15%
        leeft in armoede), is een vermogen boven een bepaald peil niet alleen moreel onaanvaardbaar, het doet ook nog
        eens meer kwaad dan goed</strong>. Voor dit soort belastingen moet bovendien ook een belastingvrij minimum
    worden ingesteld om de kleine man niet te treffen, en moeten de belastingsschalen automatisch ge&iuml;ndexeerd
    worden.</p>
<p>Ten vierde willen wij strijden voor een volwaardige belasting op beurstransacties en winsten bij beurstransactie, op
    Europees niveau als het kan, op Belgisch niveau als het moet.</p>
<p>De media, de rechterzijde en zelfs een deel van de linkerzijde roepen dan graag dat deze maatregelen vooral de
    middenklasse zouden treffen. <strong>Wie is deze middenklasse waarmee heel Belgi&euml; zich vereenzelvigd
        eigenlijk? </strong>Toch niet die mensen die een vermogen van 1 miljoen euro of meer hebben? Volgens
    onderzoekers Ive Marx en Sarah Kuypers <a matTooltip="De Standaard, Belgische ‘one percent’ bezit helft aandelen, 09/06/2016."
        matTooltipPosition="above">[111]</a> zijn zowel aandelen als obligaties vooral in handen van de meest
    vermogende Belgen. <strong>De &eacute;&eacute;n procent meest vermogende Belgen bezit ruim de helft van de
        beursgenoteerde aandelen en bijna een derde van de obligaties. Kijken we naar de tien procent welvarendste
        Belgen, dan bezit die tot 85 en 86 procent van de aandelen en obligaties.</strong> Die top tien procent bezit
    ook de bulk van het vastgoed naast de eigen woning (65,5 procent). <strong>Alle huishoudens die meer dan 702.000
        euro netto vermogen hebben &ndash; dus na aftrek van schulden &ndash; behoren tot die tien procent rijkste
        Belgen.</strong></p>
<p><strong>Omgekeerd bezit de minst vermogende helft van de Belgen nauwelijks obligaties (0,7 procent), aandelen (1
        procent) of een tweede woning (5 procent).</strong> Dat zijn huishoudens met minder dan 206.000 euro netto
    vermogen. <strong>Het gevolg is dat de inkomsten uit aandelen, obligaties en verhuur van vastgoed vooral
        terechtkomen bij de tien procent meest vermogende Belgen.</strong></p>
<p>Laten we ineens van dat woordspelletje afstappen en deze groep van 10% meest vermogenden niet bij de middenklasse
    rekenen maar wel &ldquo;de rijken&rdquo; noemen, ter onderscheid van &ldquo;de superrijken&rdquo;, in navolging van
    de Amerikaanse socioloog Leonard Beeghley. <a matTooltip="Beeghley, L., Structure of Social Stratification in the United States, 2007."
        matTooltipPosition="above">[112]</a> Bernie Sanders spreekt in die context van <em>the one percent of the one
        percent</em>. Vast staat dat de sociale zekerheid en de maatschappij er alleen maar bij kan winnen wanneer we
    deze toplaag niet langer ontzien.</p>
<p><br /></p>
<p>Ten vijfde moet de belastingvermindering bij de belasting van winsten drastisch worden ingeperkt. Dit is immers ook
    een vorm van belastingontduiking, met als kroonstuk de notionele interestaftrek, tot onze grote schande mee in het
    leven geroepen door de socialistische partijen. Bedrijven mogen een percentage van hun eigen vermogen aftrekken van
    hun belastbare winst. Dat zorgde voor een opstoot van kapitaalverhogingen, iets waar vooral multinationals ten
    nadele van Belgische KMO&rsquo;s gebruik van maakten.</p>
<p>Bij de lancering van de notionele-intrestaftrek in 2005 verklaarde toenmalig minister van Financi&euml;n Didier
    Reynders (MR) dat de maatregel jaarlijks 566 miljoen euro zou kosten aan de begroting. In 2009 liepen de
    brutokosten al op tot 5,3 miljard euro, bijna tien keer meer dan wat Reynders had voorspeld. Volgens een
    uitgebreide fact check van de VRT <a href="http://deredactie.be/cm/vrtnieuws/VK14-formatie/Fact%2BCheck/2.32892"
        matTooltip="De Redactie, Wat levert de notionele interestaftrek ons op?" matTooltipPosition="above">[113]</a>
    in 2014 waren de kosten voor de begroting in 2012 opgelopen tot net geen 6,2 miljard euro. Deze 6,2 miljard is het
    bedrag dat de staat misloopt door het gebruik van de notionele-intrestaftrek. Het totaal te recupereren bedrag ligt
    echter lager omdat men ervan uit moet gaan dat een deel van de bedrijven hun hoofdkwartier zal verhuizen: als de
    notionele-intrestaftrek afgeschaft wordt, vertrekken (opnieuw volgens de VRT) er minstens 245 financi&euml;le
    bedrijven uit ons land. Er gaan minstens 6.000 plaatsen voor hoogopgeleiden en stafmedewerkers verloren. De
    opbrengst voor de begroting bedraagt maximaal 2,9 miljard euro, maar ligt waarschijnlijk een stuk lager. Hoe langer
    we de lijst vertrekkende bedrijven maken, hoe lager de opbrengst voor de schatkist.</p>
<p>De notionele-intrestaftrek heeft een voorloper. Van 1982 tot 2005 gold in Belgi&euml; het "speciale taxatieregime
    voor co&ouml;rdinatiecentra". Gedurende meer dan 20 jaar waren dochterondernemingen van multinationals in
    Belgi&euml; helemaal vrijgesteld van vennootschapsbelasting. &nbsp;Enige voorwaarde: de dochterondernemingen
    moesten erkend zijn als "co&ouml;rdinatiecentra". Om erkend te worden als co&ouml;rdinatiecentrum mochten deze
    dochterondernemingen een beperkt aantal functies uitvoeren: bijvoorbeeld enkel financi&euml;le diensten,
    boekhouding of onderzoek uitvoeren voor andere dochterondernemingen van de multinational. In 2003 oordeelde de
    Europese Commissie dat het speciaal regime voor co&ouml;rdinatiecentra neerkwam op verboden staatssteun. Het was
    discriminerend: slechts een selecte groep van bedrijven kon genieten van een belastingvoordeel. Belgi&euml; werd
    verplicht eenzelfde belasting opleggen aan alle bedrijven. Om de massale vlucht van financi&euml;le centra en
    kapitaal tegen te houden, werd in 2005 de notionele-intrestaftrek in het leven geroepen.</p>
<p>"De notionele-intrestaftrek werd zo ontworpen dat ze kon worden opgelegd aan alle bedrijven van het land &eacute;n
    de financi&euml;le centra van multinationale groepen hun vrijstelling konden behouden. Twee vliegen in
    &eacute;&eacute;n klap", vertelt de fiscale adviseur op het kabinet van toenmalig vicepremier Johan Vande Lanotte.</p>
<p>Michel Maus beaamt: "Door de notionele-intrestaftrek krijgt &eacute;&eacute;n bepaald segment van de bedrijven een
    enorm cadeau: de multinationals. De kmo's - die vaak niet over voldoende grote vermogens beschikken - blijven
    gebukt gaan onder een zware belastingdruk en kunnen maar beperkt gebruik maken van de notionele-intrestaftrek."</p>
<p>We herhalen hier wat we al eerder aanhaalden: Belgi&euml; telt 36 bedrijven met meer dan 1 miljard euro omzet. Samen
    hadden ze in 2016 een omzet van 144 miljard euro. Laat ons nu even een aanname maken, en dat van deze omzet er 10%
    netto winst overblijft, het geld dat overblijft na de uitbetaling van dividenden, bonussen en toplonen: 14,4
    miljard euro per jaar. Gezien de enorme sommen geld die door de Panama Papers en Luxleaks in de belastingparadijzen
    zijn teruggevonden is dit eerder een conservatieve schatting, maar u begrijpt dat de rijken het al zo moeilijk
    hebben.</p>
<p>Ter vergelijking: volgens de Nationale Bank had Belgi&euml; in 2016 214,6 miljard euro aan ontvangsten (voornamelijk
    belastingen, waarvan de volle 3,3 miljard kapitaalsbelastingen en 14,9 miljard vennootsschapsbelasting) en 225,1
    miljard euro aan uitgaven (voornamelijk de sociale zekerheid met als uitschieters 29,1 miljard voor de
    ziekteverzekering en 44 miljard voor de pensioenen). <strong>Het structurele overheidstekort in 2016 bedroeg dus
        14,8 miljard euro.</strong></p>
<p>Indien we bij deze twee cijfers het afschaffen van de notionele interest voegen, en conservatief schatten dat dit
    ons land jaarlijks 1,5 miljard euro oplevert zien we dat veel van de structurele tekorten in ons land best goed op
    te lossen zijn mits iedereen &ndash; lees de rijken &ndash; gewoon eens hun belastingen zouden betalen en
    accepteren dat de tijd van de fiscale gunstregimes moreel en economisch niet meer te rechtvaardigen zijn.</p>
<p>Ten zesde willen we de belasting op <strong>successierechten</strong> grondig hervormen: ook hier is het
    uitgangspunt tot een grotere maatschappelijke gelijkheid te komen. Ook hier moet het principe van een
    belastingsvrij minimum gelden om te voorkomen dat de middenklasse getroffen wordt. Het is perfect mogelijk om het
    tarief voor kleine erfenissen, in directe lijn, te verminderen, en scherp te verhogen voor grote erfenissen in
    indirecte lijn. Misschien is een bepaalde ongelijkheid op het vlak van inkomen uit werk wenselijk of
    onvermijdelijk, <strong>een ongelijkheid die voortkomt uit de eenvoudige overdracht van rijkdom en bezit is dat
        niet!</strong> Dit dient slechts om de bevoorrechte positie van bepaalde families en klassen te handhaven en
    kan vanuit democratisch perspectief niet meer worden geduld.</p>
<p>Tot slot willen wij ook een lans breken over hoe we sociale verplichtingen kunnen linken aan fiscale innovatie. Er
    valt volgens ons dan ook niet te ontsnappen aan het feit dat indien we de sociale noden willen kunnen financieren
    er nood zal zijn aan een soort van belasting op de waarde van grond. Dit soort belastingen valt veel moeilijker te
    ontduiken. Moderne ontwikkelde landen genereren een steeds hogere prijs voor land en vastgoed: voor de
    landeigenaars, vastgoedverhuurders en huiseigenaars is de toename in de waarde van hun grond een onverdiende
    toename want ze is het resultaat van de sociale ontwikkeling en investering door de maatschappij die alle
    infrastructuur voorziet. Vermits de maatschappij deze onverdiende toename realiseert is het maar eerlijk dat dit
    belast wordt, en dat dit geld kan dienen voor een herverdeling tussen Belgen onderling en een uitbouw van en
    investering in alle sleuteldomeinen die leiden tot een beschaafde maatschappij. Wij willen dit soort belastingen
    onderzoeken, bekijken welke impact dit kan hebben op de maatschappelijke deelvlakken en welke belastingen we kunnen
    laten zakken in ruil voor de invoer van een land &ndash;en villataks.</p>