<p>Compromisdenken en kleine accentverschuivingen zullen niet langer volstaan. Een maatregel die in sommige kringen
    goed in de markt ligt, maar volgens ons niet radicaal genoeg is, is het subsidi&euml;ren van duurzame productie, of
    het verlagen van de BTW voor milieuvriendelijke dan wel verhogen voor milieuvervuilende producten. Een bekend
    voorbeeld hiervan is het produceren en kopen van spaarlampen tegenover gewone lampen. Hoe komt het dat we jarenlang
    met "slechte" lampen hebben zitten werken, lampen die dan ook nog eens relatief snel kapot gingen? Voor bedrijven
    is het niet interessant natuurlijk om zeer duurzame lampen te maken omdat ze er dan minder verkopen en dus minder
    winst maken. Ook zullen deze bedrijven het graag zien dat ze subsidies (&ldquo;incentives&rdquo; om het met een
    duur woord te zeggen) krijgen voor duurzame productie: hoewel dit een stap in de goede richting is betaalt de
    maatschappij daar dus een te hoge prijs voor, dan doet we het beter zelf. Dan rekenen we er alle voordelen die
    bedrijven al hebben er nog niet bij. Welke garantie is er trouwens dat groene belastingen niet gewoon aan de
    eindgebruiker doorgerekend worden? Wie voor kapitalisme kiest kan niet voor regulering kiezen: bedrijfsleiders
    zullen gewoonweg weigeren te investeren en hun bedrijf relokaliseren naar landen waar geen regelgeving is, en waar
    staan we dan?</p>
<p><strong>Het is niet duurzaam om de private sector te stimuleren tot een oplossing voor een probleem waar zij zelf
        verantwoordelijk voor zijn</strong> door systematische winstmaximalisatie, en dan nog eens een oplossing
    waarbij hun winsten gesubsidieerd worden uit de zakken van gewone mensen: die groene lampen worden immers bij hen
    gekocht. Overigens zal ook hier hetzelfde proces van winstmaximalisatie spelen: de dag dat de overheid dit niet
    meer subsidieert rekenen de bedrijven de meerkost door aan de burger. Het doet zelfs een beetje denken aan het
    boycotten van de slechte kapitalisten en het steunen van de goede kapitalisten. <strong>Socialisten moeten niet
        door meer regulatie de beste managers van het kapitalisme proberen te spelen.</strong> Dat kan geen oplossing
    zijn, zeker niet als de productiemethode inherent uitbuitend is zoals wij al eerder argumenteerden.</p>
<p>Een andere populaire hefboom voor het stimuleren van duurzame productie is het selectief verlagen of verhogen van de
    BTW op bepaalde producten. Door de teloorgang van de politieke vorming in de partij beseffen we niet meer dat de
    BTW inherent asociaal is. Het is een vlaktaks, waardoor de laagste inkomens relatief gezien meer betalen.
    BTW-verhogingen treffen daarom vooral de zwaksten.</p>
<p>Het verbruik van de gezinnen kan enkel op een betekenisvolle en sociale (dus zonder te raken aan het niveau van de
    levenskwaliteit) manier verminderd worden door dat verbruik te verduurzamen. Dit betekent dat gezonde en duurzame
    alternatieven binnen het bereik gebracht moeten worden van de lagere inkomens. Een <strong>groene index</strong> is
    daar een voorbeeld van: de indexkorf zou niet mogen worden samengesteld uit doorsnee-producten, maar uit producten
    die aan vooraf vastgelegde sociale-, ecologische- en gezondheidsnormen voldoen. &nbsp;</p>
<p>Hoe dan ook blijft het onderliggende, aanbod gedreven productiepatroon bepalend voor ons nefast consumptiepatroon.
    De werkelijke vraag of behoeften (bijvoorbeeld zuiver drinkwater in Afrika) blijven hierin buiten beeld, en kunnen
    enkel gelenigd worden door economische planning. Opnieuw zijn wij niet de enigen die deze idee&euml;n opperen: het
    <em>Intergovernmental Panel For Climate Change&nbsp;</em><a href="http://www.ipcc.ch/pdf/assessment-report/ar5/syr/AR5_SYR_FINAL_SPM.pdf"
        matTooltip="IPCC, Climate Change 2014 Synthesis Report, p.26-31." matTooltipPosition="above">[86]</a> stelt een
    aantal dingen voor, een lijst waarin we veel uitdrukkingen als nationale planning, openbare initiatieven en
    regulatie. Dit toont de juiste richting aan, maar het botst natuurlijk met deregulatie, economische anarchie,
    &nbsp;winstmaximalisatie, kortzichtigheid, internationale conflicten... Dat het een document is van de Verenigde
    Naties hoeft ons niet te verbazen, de VN hebben namelijk geen macht en kunnen dit dus zonder problemen zeggen. Het
    zal hoogstens de marktadept misschien verbazen dat concepten als economische planning in VN-documenten te vinden
    zijn. Nochtans is de milieuproblematiek &nbsp;precies zo dreigend voor de hele planeet door de irrationaliteit en
    de anarchie van het kapitalisme, en dit geldt nog meer voor de armste gebieden in de wereld. Oneven ontwikkeling op
    wereldvlak (de noord-zuid kloof) betekent dat de armste gebieden, die het meeste zullen te lijden hebben onder
    klimaatverandering, ook net diegenen zijn die het minst voorbereid zijn om zich aan te passen aan de komende
    problemen.</p>