<p>Binnen het markteconomische denken wordt emissiehandel naar voren geschoven als voornaamste oplossing voor de
    klimaatopwarming. Het idee, gesteund door de VN, is simpel en past de principes van marktwerking toe op de
    emissiedoelen waaraan alle landen moeten voldoen volgens het Kyoto-protocol. In een notendop komt het erop neer dat
    elke staat uitstootrechten krijgt, gebaseerd op die doelen. De staat, of grote multinationale organisaties zoals de
    EU, kunnen dan die uitstootrechten doorgeven aan de bedrijven en daardoor dus een limiet plaatsen op hun uitstoot.
    Willen ze meer kunnen vervuilen, dan moeten ze meer uitstootrechten kopen. Men kan ook uitstootrechten kopen door
    te investeren in projecten die de uitstoot wereldwijd zouden verminderen, bijvoorbeeld herbebossingsprojecten in
    landen als India of China. <strong>Men is er dus in geslaagd om lucht te commercialiseren.</strong>&nbsp;</p>
<p>Dit systeem staat bekend als het Clean Development Mechanism (CDM), en is opgezet onder het Kyoto-protocol.
    Gewoonlijk kent men emissierechten toe op basis van het principe van &ldquo;grandfathering&rdquo;: elke kapitalist
    heeft het recht om zoveel te vervuilen als hij tot nu toe deed, dus wie het meeste vervuilde kreeg een groter deel
    van het nationale totaal aan emissierechten.</p>
<p>Dit systeem heeft zware fouten, en om verschillende redenen. Bij de lancering van het systeem hield de EU een
    gemiddelde prijs van 30 euro per ton CO2 voor ogen, maar die doelstelling werd niet gehaald. Al snel bleek dat er
    te veel emissierechten circuleerden op de markt. Tijdens de crisisjaren groeide dat overschot nog verder aan.
    Daardoor zakte de prijs onder de 10 euro. <strong>Het werd voor bedrijven dus aantrekkelijker om massaal
        emissierechten op te kopen in plaats van hun productie koolstofarm te maken.</strong> De prijs van de
    emissierechten piekt en daalt echter op de golven van de economische conjunctuur en van de olieprijs. In 2018
    bereikte de prijs het historische record van 23 euro per ton. Vervolgens zal er wellicht een daling intreden
    wanneer (o.a. de Oost-Europese) landen zich aan deze hoge koers geroepen voelen om hun rechten te verkopen.
    Emissierechten treden in concurrentie met daadwerkelijke investeringen in schonere productie, en door hun
    wisselvalligheid remmen ze de transitie vaak eerder af dan dat zee deze stimuleren. &nbsp;</p>
<p>In 2020 zullen 750 miljoen ongebruikte &eacute;n 900 miljoen doorgeschoven emissierechten - rechten waarvan de
    verkoop werd uitgesteld - in &eacute;&eacute;n klap op de markt komen.<a matTooltip="De Redactie, (Hoe) werkt de emissiehandel?, 24/02/2015"
        matTooltipPosition="above"> [87] </a> De prijs om te mogen uitstoten zal dus nog verder zakken. <strong>Daardoor
        zullen de Europese klimaatdoelstellingen een onhaalbare kaart worden.</strong> Met zo&rsquo;n resultaat is het
    niet moeilijk te raden dat de grote bedrijven hard gelobbyd hebben bij de Europese Commissie om tot dit systeem te
    komen in de eerste plaats. Bedrijven zoals Shell, Statoil, EDF, GDF-Suez en Unilever, maar ook banken en
    financi&euml;le instellingen zijn erg actief op dat front. Niet verbazingwekkend: zij maken winst met de koop en
    verkoop van emissierechten en allerlei afgeleide producten. Bovendien is het emissiehandelssysteem eigenlijk een
    soort van subsidie aan tal van grote bedrijven. Bedrijven krijgen gratis (en te veel) emissierechten, en indien er
    toch een meerkost is, rekenen ze die gewoon door aan de consument. We herhalen wat we eerder schreven: <strong>de
        graad van subsidi&euml;ring plaatst natuurlijk bedenkingen bij het idee dat enkel de priv&eacute;-sector voor
        werkgelegenheid en welvaart kan zorgen, en dit bovendien veel effici&euml;nter zou doen dan de overheid</strong>.</p>
<p>De prijs van emissierechten is te laag om een echt effect te hebben. Doordat er te veel emissierechten werden
    verdeeld, is de prijs snel gekelderd. Economen menen nochtans dat de prijs zo&rsquo;n 50 euro moet bedragen om
    bedrijven ertoe aan te zetten re&euml;le veranderingen door te voeren. Anderzijds mag de prijs ook niet te hoog
    zijn, want dan dreigt een sociale catastrofe. Yvo de Boer, het voormalige hoofd van de VN-klimaatconventie, pleitte
    in 2013 voor een prijs van 150 euro per ton CO2. Dat is de prijs die nodig is als we verdere klimaatverandering
    willen tegengaan. Zo&rsquo;n prijs betekent echter een ernstige economische schok, waarvan in de huidige context
    vooral de gewone bevolking het gelag zal betalen. <strong>De conclusie is dat het niet zo evident is om de
        transitie te realiseren via marktmechanismen of via de correctie van marktprijzen.</strong></p>
<p>Nog belangrijker: in het emissiehandelssysteem wordt elke vorm van uitstoot aan elkaar gelijk gesteld. <strong>Daardoor
        worden emissies van hun maatschappelijk karakter ontdaan.</strong> Zo kan je bijvoorbeeld CDM-kredieten
    verwerven door te investeren in een windmolenpark, maar ook door een nieuwe steenkoolcentrale te bouwen (die iets
    effici&euml;nter is dan gangbaar). Zelfs als de toekomstige uitstoot die door beide projecten vermeden wordt in
    principe gelijk is, gaat het maatschappelijk gezien om totaal verschillende zaken. De bouw van windmolens is een
    stapje in de richting van een koolstofarme maatschappij, terwijl nieuwe steenkoolcentrales ons verder vast zetten
    in een maatschappijmodel dat gebaseerd is op fossiele brandstoffen.</p>
<p><strong>Emissiehandel veroorzaakt nieuw sociaal onrecht. </strong>Meer dan eens gaan CDM-projecten gepaard met
    mensenrechtenschendingen, gedwongen verplaatsingen, lokale vernietiging van biodiversiteit enzovoort.
    Elektriciteitsbedrijven bij ons rekenen de prijs van de gratis verkregen emissierechten intussen door aan de
    consument. Ook dit is een van de redenen van de gestegen energieprijs (+44,09% in de periode 2007-2016) voor
    Belgische gezinnen sinds de liberalisering van de energiemarkt in 2007. Voor Vlaamse gezinnen gaat het zelfs om
    60,87%, aldus de federale energieregulator Creg.<a matTooltip="De Tijd, Stroomfactuur in Vlaanderen 61 procent hoger dan in 2007, 15/03/2016"
        matTooltipPosition="above"> [88] </a></p>
<p><strong>Emissiehandel is slechts een manier om tijd te winnen (of beter: te verliezen), in plaats van te veranderen
        wat er echt moet veranderen.</strong><em>Offsetting</em>-projecten laten immers toe de bestaande installaties
    op basis van fossiele brandstoffen verder te laten draaien, terwijl men zijn uitstoot zogezegd compenseert door
    projecten in het globale Zuiden op te zetten.</p>
<p><strong>Emissiehandel staat echte oplossingen in de weg.</strong> Door de aard van het emissiehandelssysteem wordt
    het immers moeilijk om bovenop dat systeem nog andere vormen van regulatie op te leggen aan bedrijven. In dat geval
    zouden de emissies immers te sterk dalen, waardoor de prijs keldert en het hele systeem op de helling komt te
    staan. Emissiehandel heeft een logica ge&iuml;nstalleerd die steeds verder gaat en steeds meer absurde proporties
    aanneemt. Denk bijvoorbeeld aan de handel in biodiversiteitsrechten, in rechten op toegang tot proper water, in
    vervuilingsrechten, of breder, de handel in ecosysteemdiensten. De natuur wordt hierdoor steeds verder
    geprivatiseerd en tot koopwaar gemaakt. Tezelfdertijd opent dit nieuwe terreinen voor speculatie: emissiehandel
    genereert gemakkelijke winst, en nieuwe vormen van speculatie. Daarbij opent het de deur voor een heel nieuw
    terrein van financi&euml;le spitstechnologie, inclusief het gebruik van ingewikkelde derivaten.</p>
<p>Bellen en crashes maken deel uit van de financi&euml;le markten. Vroeg of laat zal er een groene bel geblazen
    worden, en vroeg of laat zal deze ook barsten. Zoals dat vroeger al gebeurde met de dotcoms rond 2000 en met de
    ineenstorting van de Amerikaanse huizenmarkt in 2008, die resulteerde in de grote crisis. Grote banken,
    emissiehandelaren en zelfs bedrijven die zich specialiseren in het balanceren van de uitstootrechten wereldwijd
    zijn al aanwezig in de markt. Het speculeren in uitstootrechten is al volop bezig, en zal het debat over de
    opwarming van de aarde en de maatregelen van de overheden corrumperen. <strong>Als er iets is dat de wereld niet
        nodig heeft is het de financi&euml;le sector die beslist hoe we de klimaatverandering gaan oplossen!</strong></p>
<p>Dit handeltje wordt in Europa door vele ecologisten beschouwd als de makkelijkste en meest effici&euml;nte oplossing
    voor gigantische klimaatproblemen, maar het bekijkt enkel de grote industri&euml;le uitstoot in de meest
    geavanceerde gebieden van de wereld, zonder het sociaal- economisch systeem wereldwijd te bekijken. Minder
    ontwikkelde landen worden haast gedwongen om, samen met hun emissierechten ook hun rechten op economische
    ontwikkeling te verkwanselen. Men schenkt dus enkel aandacht aan dat kleine deel van het economische proces waar we
    zicht op hebben, terwijl de connecties met de rest van de wereld verloren gaan: het gevolg is dat de problemen van
    uitstoot verplaatst worden naar activiteiten en landen waar niemand telt, en waar geen straffen zijn. Een bedrijf
    dat in het moederland teveel limieten kent, ontslaat de werknemers en verhuist (een deel van) de productie naar een
    land waar geen uitstootdoelen zijn. Het meest bekende voorbeeld hiervan is ongetwijfeld de belangrijkste
    leverancier van Apple, het Chinese Foxconn, waar het merendeel van de Apple toestellen effectief geassembleerd
    worden. Foxconn zelf heeft ondertussen onderaannemingen in Maleisi&euml;, Mexico, Brazili&euml;, Vietnam en
    Indonesi&euml;, landen waar de regelgeving nog lakser is.<a href="http://theconversation.com/when-some-us-firms-move-production-overseas-they-also-offshore-their-pollution-75371
"
        matTooltip="The conversation, When some US firms move production overseas, they also offshore their pollution"
        matTooltipPosition="above">[89]</a></p>
<p>Misschien nog de grootste misdaad van dit systeem is dat het geen onderzoek en ontwikkeling van schone
    technologie&euml;n in de meeste geavanceerde landen bevordert, laat staan echte economische ontwikkeling in de
    Derde Wereld. De voormalige koloniale wereld wordt betaald om haar economische ontwikkeling af te remmen, terwijl
    het Westen niet investeert in degelijk onderzoek, maar in een korte termijn fix met deze hele handel. Het doet
    bijna denken aan de middeleeuwse handel in aflaten om het geweten te zuiveren.</p>
<p>Dit systeem heeft ook al de naam koolstofkolonialisme meegekregen. Het is belangrijk om op te merken dat de
    ontwikkeling van energie-effici&euml;nte en niet vervuilende productie in Europa, de VS, Australi&euml;, China en
    Japan de beste manier is om de uitstoot van ontwikkelingslanden te beperken. Het is belangrijk dit te onderstrepen,
    omdat men wel eens hoort dat het Westen miljarden moet spenderen aan het verminderen van de uitstoot, terwijl de
    Chinezen lustig vervuilen. Nochtans zal de Chinese overheid tot 2020 niet minder dan 343 miljard euro investeren in
    duurzame energie. Dat is ongeveer evenveel als alle andere landen samen in 2015, en vele malen meer dan Europa.
    Ondertussen is de Chinese CO2-uitstoot nog wel erg hoog in absolute termen, maar per hoofd van de bevolking
    bedraagt deze 7 ton per jaar, tegen 11 ton per Vlaming, 8 ton per Belg en meer dan 20 ton per Amerikaan (2017)<a
        href="https://www.mo.be/nieuws/vlaamse-consument-behoort-tot-grootste-klimaatzondaars-ter-wereld" matTooltip="MO, Vlaamse consument behoort tot grootste klimaatzondaars ter wereld"
        matTooltipPosition="above">[90]</a>.</p>
<p>Er bestaat echter een theorie die stelt dat achtergestelde landen simpelweg niet hetzelfde patroon volgen van de
    meer geavanceerde landen, omdat ze meteen de laatste technologie&euml;n kunnen importeren en een aantal fases
    kunnen overslaan. Als oude fabrieken in Europa groen worden, zullen nieuwe fabrieken in India vanaf dag
    &eacute;&eacute;n groen zijn. Als Europese fabrieken hun verouderde en vervuilende technologie&euml;n houden, maar
    een of andere Indiase speculant betalen om bomen te planten ter compensatie, zullen nieuwe fabrieken in India even
    vervuilend zijn.</p>
<p><strong>Kortom, het bijsturen van het kapitalisme via allerlei maatregelen is ineffectief en oppervlakkig. Als
        socialisten moeten wij hieruit conclusies trekken als we blijven vasthouden aan de Derde Weg. Socialisten
        hebben de plicht om marktgebaseerde oplossingen voor marktgebaseerde problemen aan te vallen en alternatieven
        voor te stellen.</strong></p>