<p>Er zijn bepaalde stromingen binnen de anders- of antiglobalisatiebeweging die flirten met de idee van nulgroei en
    zelfs desindustrialisatie. Dit denken is niet nieuw, en dateert al minstens van Jean-Jacques Rousseau en
    tijdgenoten. Het is vatbaar voor discussie of industrialisatie de menselijke vernietiging van de natuur naar een
    kwalitatief hoger niveau heeft getild zoals sommige moralistische milieuactivisten ons willen doen geloven.
    Kwantitatief gezien is het natuurlijk niet te ontkennen dat de groei van de bevolking op een planeet gedomineerd
    door kapitalisme de potentie van menselijke schade vele malen heeft verhoogd. Ineffici&euml;nte en ecologische
    laakbare praktijken bestonden in het verleden echter ook: Itali&euml; is bijvoorbeeld grotendeels ontbost ten tijde
    van de Romeinen. Als de 6,6 miljard mensen vandaag zouden leven zoals hun voorouders is er geen garantie dat onze
    ecologische voetafdruk kleiner zou zijn&hellip;de enige garantie is dat onze levensverwachting veel lager zou
    liggen!</p>
<p>Vandaag de dag zijn de ontwikkelingslanden zeker geen ecologisch model, integendeel. Er werd berekend dat er
    wereldwijd zo&rsquo;n drie miljard mensen op primitieve wijze koken, het merendeel in de Derde Wereld. Dit gebeurt
    vaak met ineffici&euml;nte fornuizen of stoven, resulteert in een hoog gebruik van hout en een grote co2 uitstoot.
    Natuurlijk ligt die uitstoot niet zo hoog als de westerse industri&euml;le activiteiten, maar ze blijft hoog. Hier
    zijn een aantal uittreksels uit dat rapport:</p>
<p><em>On average, it would cost as little as $6 for families to install stoves that are better ventilated and more
        fuel-efficient. Halving the number of people worldwide still cooking with solid fuels by 2015 would cost $13
        billion, but the economic benefit would be $91 billion annually, largely owing to reduced illness, fewer
        deaths, shorter cooking times, and less time spent collecting firewood and other fuel. With more time
        available, the report says, children would do better in school, while their mothers could engage in childcare,
        agriculture or other income-generating activities to help break the cycle of poverty.</em></p>
<p><em>"It is a travesty that 1.5 million lives a year&mdash;many of those of children whose lives have not even
        started&mdash;are snuffed out every year because of needless exposure to indoor smoke," said Dr Maria Neira,
        WHO's Director for Public Health and Environment. &ldquo;We have simple, affordable solutions; let us ensure
        that they reach the people who can benefit from&mdash;and live by&mdash;using them.&rdquo;</em><a matTooltip="WGO, Fuel For Life: Household Energy and Health, 2006"
        matTooltipPosition="above"> [91] </a></p>
<p>In ontwikkelingslanden wordt er 730 miljoen ton biomassa verbrand per jaar, voornamelijk hout, wat resulteert in
    meer dan 1 miljard ton co2 in de atmosfeer. <a matTooltip="Wereldbank, ‘Household Cookstoves, Environment, Health, and Climate Change: a New Look at an Old Problem, 2011"
        matTooltipPosition="above"> [92] </a> Ontbossing zelf is natuurlijk ook een belangrijke bijdrage aan de
    milieuproblematiek. Objectief gezien is het niet nodig dat deze mensen op deze manier leven. Tot slot, een bedrag
    van 13 miljard dollar (9,6 miljard euro) is peanuts vergeleken bij de omzet en winsten van de grote bedrijven.
    Kortom, een &ldquo;terugkeer naar de natuur&rdquo; is duidelijk uitgesloten en komt regelrecht uit de ideologische
    erfenis van 18e eeuwse conservatieven.</p>
<p>De verdienste van de adepten van de nulgroei of zelfs negatieve groei is echter wel dat ze ons confronteren met een
    feit dat door niemand kan worden geloochend: de fysieke hulpbronnen van onze planeet zijn eindig. Tenzij we ons
    liever willen verliezen in utopie&euml;n over de kolonisatie van andere planeten, zullen we voor dit dilemma een
    oplossing moeten vinden. Die oplossing bevat hoe dan ook een aantal sleutelwoorden uit het vocabularium van het
    socialisme: planning, herverdeling en duurzaamheid. Op een onbestemd punt in de toekomst zullen we toch tot een
    soort evenwichtstoestand moeten komen tussen de menselijke beschaving en het ecosysteem. Er zal dan vooral nog
    sprake zijn van kwalitatieve, intellectuele, artistieke en zelfs spirituele groei. Tenminste, als we tijdig
    ingrijpen, nu handelen en de planeet redden. Zowel de omvang als de urgentie van deze taak kunnen niet voldoende
    worden benadrukt. &nbsp;&nbsp;&nbsp;</p>