<p>Ons menu bevat te veel vlees en voorbewerkte voedsel en te weinig groenten en volkorenproducten. Welvaartsziekten
    die verbonden zijn met een slecht voedingspatroon zijn dan ook in opmars: hart &ndash;en vaatziekten, diabetes,
    maag &ndash;en darmkanker. In de ketens van de voedingsindustrie gebeuren regelmatig ongelukken en schandalen.
    Hieronder een greep uit de twijfelachtige hoogtepunten:</p>
<ul>
    <li>1995: &nbsp;De BSE-crisis, beter gekend als de dolle koeienziekte, houdt Europa jaren in haar greep nadat
        blijkt dat BSE bij mensen de ziekte van Creutzfeldt-Jakob kan veroorzaken.</li>
    <li>1999: In Belgi&euml; komt met dioxine vervuilde minerale olie in de voedselketen terechtkomt, dit is de
        dioxinecrisis.</li>
    <li>2005: In Duitsland worden honderden tonnen bedorven vlees aangetroffen in meerder koelhuizen</li>
    <li>2008: &nbsp;In China blijkt op grote schaal melamine vermengd te zijn met melk om het aanlengen met water te
        verhullen. Tienduizenden kinderen worden ziek.</li>
    <li>2013: &nbsp;In Nederland blijkt op grote schaal paardenvlees vermengd te zijn met rundvlees, zodat het als
        duurder vlees verkocht kan worden.</li>
    <li>2017: Kippeneieren in meerdere Europese landen bevatte op grote schaal de schadelijke insecticide fipronil.</li>
    <li>2018: Vlaams (Vanlommel) en Waals (Veviba) bedrijf komen in opspraak voor het verkopen van bedorven vlees.
        Bovendien vervalste Veviba etiketten om gewoon vlees als biovlees te verkopen, de winstmarges liggen daar hoger
        op.</li>
</ul>
<p><br /><br /></p>
<p>We worden regelmatig opgeschrikt door voedselcrises, vaak in de vleesindustrie. De productie van vlees is een
    langdurig maar zeer winstgevend proces. In de loop van zijn &ldquo;productiecyclus&rdquo; komt een slachtdier met
    allerlei chemische producten in contact. Zware antibiotica moeten ervoor zorgen dat er in de massa stallen waarin
    deze dieren opeengepakt zitten geen ziektes uitbreken. Waterophoudende en hormonale middelen zorgen ervoor dat de
    dieren zo snel mogelijk vet worden. Antidepressiva houden hen kalm. Veevoedersupplementen, een industrie op zich
    die gepaard gaat met massale ontbossing in de wereld, zorgen ervoor dat de dieren sneller slachtrijp zijn. Vaak
    worden daarbij afvalstromen van andere producten in de verwerking gebruikt, en soms gebeuren er ongelukken: de
    zwaar kankerverwekkende dioxines die in het productieproces terechtkomen zijn ongetwijfeld de bekendste.</p>
<img src="assets/images/image15.png">
<p><br /><br /></p>
<p>Deze industrie heeft ervoor gezorgd dat er nieuwe veeziektes ontstonden, maar ook dat de reeds bestaande ziektes
    enorm explodeerden: dolle koeienziekte, blauwtong, varkenspest, vogelgriep,... de manier waarop we ons voeden maakt
    niet alleen mens en dier ziek, het heeft ook een grote impact op het milieu. De globale rundvleessector komt steeds
    meer in het vizier als &eacute;&eacute;n van de minst duurzame (landbouw)sectoren. De ammoniakemissies en druk op
    natuurlijke grondstoffen zijn enkele gekende aandachtspunten: <strong>er is ongeveer 20.000 liter water nodig voor
        de productie van 1 kg rundvlees en tot 45 procent van de wereldproductie van graan om de veestapel te voeden.</strong><a
        href="https://www.ugent.be/bw/nl/onderzoek/ugent-crelanleerstoel/overzicht-artikels/vlees-duurzaam-dierlijke-productie.htm"
        matTooltip="Norah Benmeridja, Assessing sustainability in the beef supply chain, 2015 en Ugent, Duurzame productie van rundvlees of 'consuminderen'?, 2017"
        matTooltipPosition="above">[93]</a> Dat is nauwelijks rationeel te noemen.</p>
<p>Dit is een goed voorbeeld van wat wij bedoelen met een integrale boekhouding, aangezien de prijs van vlees niet de
    werkelijke kosten ervan weerspiegelt. Een groot deel van die werkelijke kost wordt verhaald op de gemeenschap. Er
    wordt geen rekening gehouden met de kosten die we zullen moeten doen om ons te beschermen tegen de gevolgen van de
    klimaatverandering, mee veroorzaakt door de vleesindustrie, noch met de kosten van het zuiveren van door mest
    vervuild grondwater. De gevolgen voor de gezondheid, in de vorm van hart &ndash;en vaatziekten, zijn ook kosten die
    voor de gemeenschap zijn. Het is door deze kosten af te schuiven dat vlees goedkoper is vergeleken met de gezonde
    alternatieven. Dit is een onhoudbare situatie.</p>
<p>Onze overheid is momenteel niet van plan om van vleesmatiging een gezondheids- en milieudoelstelling te maken. Toch
    kan het. In Nederland is vleesmatiging reeds een van de zes pijlers van haar duurzaamheidsbeleid.</p>
<p>Laat ons duidelijk zijn: wat op iemands bord ligt is een individuele keuze en niet de zaak van partijen. Die keuzes
    hebben echter verregaande implicaties, en er moeten genoeg gezonde en betaalbare alternatieven voorhanden zijn. Het
    kan niet de bedoeling zijn mensen voor te schrijven wat ze moeten eten. Het kan ook niet de bedoeling zijn mensen
    als een gewillige en niet ge&iuml;nformeerde afzetmarkt te zien waaraan men winstgevend vlees verkoopt in plaats
    van onbespoten groenten (tenzij er een hoge prijs betaald wordt voor die biogroenten). Vlees moet niet duurder
    gemaakt worden, maar ori&euml;nteer de landbouwsubsidies naar duurzame en gezonde voedingsalternatieven zodat
    gezond en milieuvriendelijker eten een stuk goedkoper wordt. Z&eacute;lfs de N-VA is daar niet op tegen!</p>