<p>Groen brak in 2017 definitief met haar nulgroei-ideologie, en pakte uit met het &nbsp;investeringsplan
    BE.invest2030.<a href="https://www.groen.be/beinvest" matTooltip="BE.invest 2030: een plan voor de toekomst"
        matTooltipPosition="above">[94]</a> Het plan bevat zeer interessante elementen en geeft inderdaad een goed
    beeld van de investeringen die nodig zijn om Belgi&euml; socialer, rechtvaardiger en duurzamer te maken: snelle
    waterwegen, light-rail netwerken rond de grote steden, een batterijfabriek in Charleroi, hoogtechnologische
    maakindustrie in Brabant in plaats van toekomstvretende projecten zoals Uplace, intelligente energienetwerken
    enzovoort.</p>
<p>Zoals we echter al zegden: <strong>een dergelijk ambitieus plan is onmogelijk uit te voeren zonder openbare
        investeringsbank.</strong> Maar Groen nam recent ook nog het voortouw in de strijd tegen de privatisering van
    Belfius. Dit alles doet sterk denken aan de voorstellen die sp.a Rood, de linkervleugel die zich tussen 2006 en
    2012 manifesteerde in de partij, tien jaar geleden al formuleerde.</p>
<p>Onze ecologische kameraden bij Groen zullen het vast als een compliment beschouwen wanneer wij delen uit hun
    be.invest plan opnemen in ons Roodboek.</p>
<h4><em>Nul op de meter</em></h4>
<p><strong>Er is in Belgi&euml; nood aan een krachtig energierenovatie- en opwekkingsprogramma</strong> voor
    residentieel vastgoed (waaronder sociale woningen), commercieel vastgoed en overheidsgebouwen. Het gaat enerzijds
    om energierenovatie, waarbij het energieverbruik van woningen en gebouwen drastisch beperkt wordt: we denken
    hierbij in de eerste plaats aan investeringen in isolatie. Anderzijds gaat het om investeringen in decentrale
    hernieuwbare energieopwekking (zonne-energie, maar ook warmtepompen, miniwarmtekrachtkoppelingen&hellip;). Beide
    luiken samen hebben de bedoeling om&nbsp;woningen, kantoren en andere gebouwen zoveel mogelijk energieneutraal te
    maken (wat betekent dat elk gebouw minimum evenveel energie opwekt als het zelf nodig heeft).</p>
<p><strong>Er wordt gewerkt via onze eerder genoemde volksbank die het geld renteloos voorschiet. </strong>Het gezin
    of&nbsp;het bedrijf betaalt deze over een bepaalde termijn terug en kan er, dankzij de&nbsp;gedaalde
    energiefactuur, vanaf het begin meer geld aan overhouden. Voor lage&nbsp;inkomens en sociale woningen en/of waar
    energierenovatie onvoldoende rendabel&nbsp;is, wordt een sociale correctie uitgevoerd waar nodig.&nbsp;</p>
<p><strong>Ook de overheid zelf kan beter. </strong>De Regie der Gebouwen moet een veel&nbsp;ambitieuzer beleid voeren
    rond de energie-effici&euml;ntie van de gebouwen onder haar beheer. Het milieubeleid moet een speerpunt worden van
    de organisatie. Een startbudget wordt vrijgemaakt door de volksbank voor een rollend investeringsfonds in
    energie-effici&euml;ntie en duurzaam materiaalbeheer: <strong>de uitgespaarde energiekosten van de eerste projecten
        financieren de volgende projecten.</strong> Vanaf 2018 moeten alle nieuwe overheidsgebouwen energie- en
    CO2-neutraal zijn.</p>
<h4><em>Wind op zee en op land</em></h4>
<p><strong>Windenergie is een essenti&euml;le bouwsteen in het energielandschap van morgen en een onontbeerlijke pijler
        in de energiebevoorrading van het post-nucleaire tijdperk.</strong> Momenteel is er 877 MW offshore windenergie
    operationeel. Tegen 2020 zou er nog 1235 MW moeten bijkomen van de drie parken Seastar, Mermaid en Northwester.
    Tegen 2030 heeft Belgi&euml; 2000 MW extra capaciteit nodig, om tot een totale capaciteit van windenergie op zee te
    komen van meer dan 4 GW. De gewesten zijn momenteel verantwoordelijk voor investeringen in wind op land. Tegen 2020
    zou Vlaanderen minstens 1500 MW bijkomende windturbines op land moeten realiseren, en minstens 3000 MW tegen 2030.</p>
<p>We kunnen het risico niet lopen dit over te laten aan het kortetermijndenken van een groepje aandeelhouders. Zoals
    eerder gezegd dient prioriteit gegeven te worden <strong>aan de nationalisatie van de energiesector</strong>: de
    productie en distributie van elektriciteit, de distributie van aardgas, opwekken van kernenergie en de oliesector.
    De beoogde prijsdalingen sinds de liberalisering van de energiemarkt in 2007 zijn totaal mislukt: de energieprijs
    voor Belgische gezinnen is in de periode 2007-2016 met 44,09% gestegen. Voor Vlaamse gezinnen gaat het zelfs om
    60,87% aldus de federale energieregulator Creg.<a matTooltip="De Tijd, Stroomfactuur in Vlaanderen 61 procent hoger dan in 2007, 15/03/2016"
        matTooltipPosition="above"> [95] </a> Ondanks deze gestegen energieprijs is er toch een onder investering in
    onder andere windenergie. Er is weinig uitleg nodig om het falen van de priv&eacute; markt in deze sector aan te
    tonen. <strong>Energie is geen koopwaar</strong>, en enkel de overheid kan de belangen van de gemeenschap via
    research en productie van groene energie laten primeren op de kortzichtige belangen van de priv&eacute;
    aandeelhouders.</p>
<h4><em>Batterijfabriek</em></h4>
<p>Batterijen zullen in de economie van morgen een uiterst belangrijke rol spelen. Elektrische voertuigen zijn aan een
    grote opmars bezig. Deze voertuigen lijken steeds meer incontournable te worden om de mobiliteit fossielvrij te
    maken. <strong>Natuurlijk dient het finale ecologische karakter hiervan afgemeten te worden aan hoe groen de
        elektriciteitsproductie zelf is, anders hebben we enkel de uitstoot verplaatst.</strong></p>
<p>Vandaag worden batterijen voor elektrische voertuigen echter nauwelijks in&nbsp;Europa geproduceerd: ze worden uit
    Azi&euml; en de Verenigde Staten ge&iuml;mporteerd, wat natuurlijk bijdraagt aan de totale
    uitstoot.&nbsp;Belgi&euml; moet er alles aan doen om een Europees voorloper te worden in&nbsp;batterijproductie.
    Ons land beschikt over tal van troeven: werknemers met de vereiste&nbsp;knowhow (Umicore, Solvay&hellip;), de
    productie van elektrische Audi's in Vorst... De&nbsp;overheden in ons land moeten via de volksbank een joint
    venture met de priv&eacute;sector lanceren om&nbsp;een dergelijk bedrijf uit de grond te stampen. Wat de locatie
    van de fabriek betreft,&nbsp;lijkt de verlaten Caterpillar-site ons geschikt.</p>
<p><br /><br /><br /></p>
<h4><em>Watersnelwegen</em></h4>
<p><strong>Waterwegen zijn van groot belang om vrachtwagens van de weg te krijgen.</strong> In Vlaanderen kunnen nog
    een reeks flessenhalzen worden weggewerkt, zoals op het Albertkanaal, de toegang tot de haven van Luik, het
    Zeekanaal, de Seine-Schelde verbinding of de verbinding Antwerpen-Brussel. De waterwegen in Walloni&euml; hebben
    een beperkte capaciteit. Daarom stellen we een verdieping van de bestaande Waalse waterwegen voor in twee stappen.
    Eerst wordt de capaciteit van Pommer&oelig;ul (aan de Franse grens nabij Valenciennes) tot Auvelais (na Charleroi)
    verhoogd om over de gehele Waalse oost-west-as een tonnage van 2000 te garanderen. &nbsp;In een tweede fase wordt
    de Maas van Ivoz-Ramet (nabij Luik) tot Namen verdiept en de Samber van Namen tot Marchienne-au-Pont (bij
    Charleroi), zodat de capaciteit van Luik tot Charleroi naar 5000 neigt. Sluizen en scheepsliften dienen ook 24/7
    bemand te zijn.</p>
<p><strong>Deze plannen zouden de werkloosheid op een serieuze manier terugdringen en bijdragen tot een ecologische
        transitie van onze infrastructuur.</strong></p>
<h4><em>Treinen</em></h4>
<p><strong>In de transitie naar duurzame mobiliteit zijn meer investeringen in het spoor absoluut noodzakelijk, zowel
        voor het reizigers- als voor het goederenverkeer.</strong> Federaal werd er echter de laatste jaren juist zwaar
    bespaard op de investeringen van Infrabel en de NMBS. Het totaal investeringsvolume van Infrabel en NMBS samen ging
    achteruit van 2 miljard naar 1,5 en ten slotte naar 1,35 miljard per jaar. <strong>Dit zijn politieke keuzes waar u
        over kan denken de volgende keer dat u weer langer moet wachten op de trein wegens een defect of storing
        ergens.</strong></p>
<p>In Brussel dient het Brussels Expresnet (BEN) versneld te worden uitgerold. Dit gebeurt in twee fasen. In een eerste
    fase, zonder investering in infrastructuur, wordt enkel de uitbating van de bestaande lijnen en secundaire stations
    verhoogd, ook 's avonds en in het weekend, met frequenties van een kwartier. In een tweede fase worden 6 nieuwe
    stations gecre&euml;erd: Ganshoren, Koninklijke Parken (dat het Albert I-park, het Boudewijnpark en het UZ zou
    bedienen), Laken, Berenkuil, Josaphatpark en Sint-Joost. Tegelijkertijd worden de voorstadsnetten rond de vier
    andere grote agglomeraties (Antwerpen, Gent, Luik, Charleroi - ANGELIC) ontwikkeld.</p>
<p>Parallel hieraan moeten de gewesten investeren in de versterking van de commerci&euml;le snelheid van het openbaar
    vervoer (vertramming, bussen in eigen bedding). Wij laten ons hierbij inspireren door het netwerk van treins,
    trams, metro&rsquo;s en bussen in de regio &Icirc;le-de-France: de Parijse grootstedelijke regio is qua omvang,
    geografie en bevolkingsdichtheid te vergelijken met Vlaanderen, dus waarom zou hier niet kunnen wat er daar kan?</p>
<p>Het bijzonder fijnmazige Belgische spoornetwerk maakt het trouwens mogelijk om een globaal netwerk van
    "aansluitingsknooppunten" in te voeren. Opnieuw laten we ons inspireren door het buitenland, dit keer Zwitserland.
    Dit zou de intermodaliteit van het spoor met andere vervoersmodi aanzienlijk verbeteren. Op de
    aansluitingsknooppunten wordt meermaals per uur een "ontmoeting" georganiseerd tussen de treinen en de andere
    vervoersmiddelen van het openbaar netwerk. Op deze manier kan de reiziger met zo weinig mogelijk tijdverlies
    overstappen en blijven de treinen minder lang in het station. Het gewenste uurrooster dient als startpunt en als
    leidraad voor alle investeringen.</p>
<p>Cruciaal voor het succes van dit model is uiteraard de stiptheid en de verhoging van de snelheid. Daarom dient
    stiptheid prioritair te worden via belangrijke investeringen in het onderhoud en de vernieuwing van de
    infrastructuur en in de beveiliging van gevaarlijke punten. We denken bijvoorbeeld aan de lijn
    Brussel-Namen-Luxemburg, waar de reistijd volledig is ontspoord. Dit alles dient tegen 2030 gerealiseerd worden,
    met een minimale frequentie van een half uur op alle lijnen en van een kwartier op de belangrijkste lijnen. Dit
    plan wordt dan ook de ruggengraat van investeringen in het openbaar vervoer door de Lijn, MIVB en TEC.</p>
<p><strong>De democratisering van vliegreizen op korte afstanden cre&euml;ert een groot milieuprobleem</strong>. Een
    vliegreis stoot immers 10 tot 15 keer meer CO2 per reiziger uit dan dezelfde reis met de hogesnelheidstrein,
    terwijl de reistijd van de hogesnelheidstrein kan concurreren met het vliegtuig op een afstand van minder dan
    1000km. Tegen 2030 moeten reizen met hogesnelheidstrein van minder dan 500km altijd interessanter zijn dan
    vliegreizen. Hiertoe moeten de bestaande Europese hogesnelheidsnetten veel meer integreren. Tegen 2030 zouden alle
    Europese steden van minstens 500.000 inwoners bereikbaar moeten zijn via de trein, op een wijze die qua prijs,
    snelheid, comfort en veiligheid de concurrentie aankan met het vliegtuig. Daarnaast moet de tax shelter waarbinnen
    het internationale luchtvaartverkeer momenteel functioneert, worden afgebouwd. <strong>Ook dit zijn politieke
        keuzes.</strong></p>
<h4><em>Co-working in satellietkantoren</em></h4>
<p><strong>E&eacute;n van de beste manieren om de pendeltijd in te korten is om de pendelafstand&nbsp;sterk terug te
        dringen.</strong> We kunnen ons trouwens afvragen of het nog wel van deze tijd is om dagelijks elke ochtend en
    avond een miljoen mensen naar en van Brussel te sturen terwijl de digitale mogelijkheden zo groot zijn. Deel van
    het probleem hier is de vrij conservatieve managers klasse in het land die nog altijd schijnen te denken dat
    wanneer de manager &ldquo;zijn volk&rdquo; niet kan zien, ze ook niet werken.</p>
<p>De pendelafstand verminderen kan door meer van thuis uit te werken, maar ook door te&nbsp;werken vanuit
    satellietkantoren: gedeelde, flexibele, hypergeconnecteerde kantoren die in het stadsweefsel ge&iuml;ntegreerd
    zijn. Hypergeconnecteerd slaat zowel op het digitale- als het mobiliteitsaspect. &nbsp;Enerzijds beschikken deze
    kantoren over alle noodzakelijke digitale infrastructuur. Anderzijds worden ze uitgebouwd op knooppunten van
    openbaar vervoer. De kantoren worden ge&iuml;ntegreerd met cr&egrave;ches, winkels, horeca, woningen... Ook
    zelfstandigen, freelancers en verenigingen kunnen er gebruik van maken. Zo wordt tegelijk ingezet op duurzame
    mobiliteit, digitalisering, werkbaar werk, energiebesparing, samenwerking en kruisbestuiving van idee&euml;n. Voor
    bedrijven is er dan weer het voordeel dat satellietkantoren hun rekruteringsgebied vergroot.</p>
<p>Satellietkantoren worden prioritair ontwikkeld op plaatsen waar veel langeafstands-pendelaars vertrekken. We denken
    onder meer aan de bestaande satellietkantoren van de gewestelijke en federale overheden die worden opengesteld voor
    externen en aan onderbenutte gebouwen aan IC-, IR- en goed bediende L-stations overal in Belgi&euml;. De
    ontwikkeling van satellietkantoren kan gebeuren via publiek-private samenwerking. NMBS, gewestelijke en federale
    overheden, lokale besturen zijn hierin belangrijke publieke partners. In tientallen Nederlandse stations werden
    intussen al werkplekken ingericht waar pendelaars en andere gebruikers tegen betaling gebruik van kunnen maken. Dit
    "Station2Station"-project is een joint venture tussen een private partner en de Nederlandse spoorwegoperator NS.</p>
<h4><em>Geothermische energie</em></h4>
<p>Diepe geothermie is het verwarmen met warm water uit de diepe ondergrond.&nbsp;Hiervoor is echter een specifieke
    geologische structuur nodig, namelijk een&nbsp;voldoende diepte en een goede doorlaatbaarheid van water. Twee
    streken in&nbsp;Belgi&euml; voldoen hieraan: de Kempen en een deel van Henegouwen. In Mol voert
    de&nbsp;onderzoeksinstelling VITO al een aantal jaren proefprojecten uit. De geothermiecentrale in Mol wordt
    gebouwd sinds oktober 2017&nbsp;(capaciteit 5 MW, 30 miljoen euro). De bedoeling is om in een eerste instantie in
    te&nbsp;zetten op onderzoek en ontwikkeling om de technologie daarna uit te rollen in de&nbsp;twee
    streken.&nbsp;&nbsp;</p>
<h4><em>Warmtenetten</em></h4>
<p>In de komende 20 jaar is het niet meer dan logisch om maximaal gebruik te maken&nbsp;van de grote hoeveelheden
    restwarmte die beschikbaar zijn, m.n. warmte&nbsp;afkomstig van de industrie en van afvalverbrandingsovens.</p>
<p>Een warmtenet is een energieconcept om restwarmte, bijvoorbeeld van een fabriek of verbrandingsoven, of aardwarmte
    van diep onder de grond, te gebruiken voor de centrale opwarming van water. Een netwerk van goed ge&iuml;soleerde
    ondergrondse leidingen brengt dat water tot in woningen en bedrijven in de buurt, voor verwarming en sanitair warm
    water. Energie die anders verloren gaat, wordt zo op een duurzame manier hergebruikt.</p>
<p>Waar warmtenetten in een eerste fase dus vooral kunnen draaien op beschikbare&nbsp;restwarmte, zal men in een
    volgende fase moeten zorgen voor een&nbsp;vergroening van de warmtenetten en ervoor zorgen dat die vooral
    hernieuwbare&nbsp;warmte vervoeren, opgewekt uit 100% hernieuwbare energie (zonnecollectoren,&nbsp;groene stroom,
    kleinschalige projecten voor biogas of biomassa, geothermie). Op&nbsp;plaatsen met een groot potentieel aan
    restwarmte is het aangewezen&nbsp;warmtenetten uit te bouwen die in een eerste periode vooral
    restwarmte&nbsp;vervoeren. Dit dient niet enkel plaats te vinden bij de aanleg van nieuwe wijken,&nbsp;maar ook in
    bestaande wijken waar al een gasnet ligt. In plaats van het volledige&nbsp;gasnet om te vormen van laagcalorisch
    naar hoogcalorisch gas, geven we bij de&nbsp;vervanging van gasleidingen, waar mogelijk en relevant, de voorkeur
    aan de&nbsp;vervanging van gasnetten door warmtenetten.&nbsp;</p>
<p>In de Antwerpse haven zou nog een stuk verder gegaan kunnen worden en zou een cryogenisatie-eenheid voor restgassen
    uit de petrochemie kunnen worden gebouwd, in plaats van deze hoogcalorische gassen nu schaamteloos af te fakkelen.
    De haven van Rotterdam beschikt al over een dergelijke installatie.&nbsp;</p>
<h4><em>Tomas-Instituut</em></h4>
<p>Kernenergie is de energiebron van het verleden. Ten gevolge van de aanwezigheid van uranium in de ondergrond van
    Congo, en de bijzonder grote interesse van de Amerikanen daarvoor, werd ons land mee opgestuwd in het wereldwijde
    kernenergie-verhaal, en ontwikkelden we een gerenommeerde expertise, die nu ten goede kan worden ingezet. Al
    vijftig jaar lang worden er&nbsp;immers oplossingen gezocht voor de problematiek van het kernafval, maar nog steeds
    is&nbsp;er door onze regering geen beleidskeuze gemaakt wat betreft de berging en het&nbsp;beheer het
    hoogradioactief afval. Het Studiecentrum voor Kernenergie (SCK, Mol)&nbsp;en het Nationaal Instituut voor
    Radio-elementen (IRE, Fleurus) fuseren tot &eacute;&eacute;n&nbsp;enkel Instituut voor Nucleaire Veiligheid,
    Ontmanteling en Geneeskunde, dat het&nbsp;Tomas-instituut zal heten, naar de patroonheilige van de
    ingenieurs.&nbsp;&nbsp;</p>
<p>Dit instituut moet uitgroeien tot h&eacute;t toonaangevend expertisecentrum in Europa&nbsp;op het vlak van
    veiligheid, afvalbeheer, ontmanteling van centrales en medische&nbsp;toepassingen. Het instituut wordt ook
    verantwoordelijk voor de operationele&nbsp;uitvoering van kernuitstappen, in de eerste plaats in Belgi&euml;. Op
    die manier wordt&nbsp;de nucleaire tewerkstelling behouden en wordt ingezet op de toekomst. Nu steeds&nbsp;meer
    landen beslissen om kerncentrales te sluiten, vormt dit een ongelooflijke&nbsp;kans op vlak van onderzoek &amp;
    ontwikkeling, innovatie en dus jobcreatie.&nbsp;</p>
<p><br /><br /></p>
<h4><em>Desinvesteren </em></h4>
<p><strong>De energietransitie zal niet enkel verwezenlijkt worden door in hernieuwbare&nbsp;energie en
        energie-effici&euml;ntie te investeren, maar ook door de investeringen in de&nbsp;fossiele en nucleaire sector
        stop te zetten.</strong> Desinvesteren is noodzakelijk om drie&nbsp;redenen. Ten eerste is het een krachtig
    signaal naar de sector en de samenleving&nbsp;als geheel dat de energietransitie onafwendbaar is. Ten tweede
    getuigt desinvestering&nbsp;steeds meer van gezond financieel beheer. In een fossielvrije toekomst
    zijn&nbsp;bedrijven die olie en gas ontginnen en transporteren immers gedoemd om te&nbsp;verdwijnen. Ten derde
    maakt desinvestering middelen vrij die in de sectoren van&nbsp;morgen kunnen worden ingezet.&nbsp;</p>
<p>Concreet betekent dit dat alle overheden hun investeringen in de fossiele en&nbsp;nucleaire energiesector zo snel
    mogelijk afbouwen. Dat geldt ook voor alle&nbsp;entiteiten waarover de publieke sector zeggenschap
    heeft:&nbsp;investeringsmaatschappijen zoals de FPIM, bedrijven waar de overheid&nbsp;meerderheidsaandeelhouder is
    zoals Belfius, pensioenfondsen&hellip;&nbsp;</p>
<p>Desinvesteren kan ook worden aangemoedigd via de pensioenfondsen van de&nbsp;tweede en derde pijler. Deze zijn goed
    voor tientallen miljarden aan activa.&nbsp;Enerzijds dienen de pensioenfondsen die de fondsen in de tweede en derde
    pijler&nbsp;beheren, deze middelen te desinvesteren uit fossiele brandstoffen en kernenergie.&nbsp;Anderzijds
    moeten pensioenfondsen een toenemend deel van hun activa beleggen&nbsp;in duurzame activiteiten.
    Hiertoe&nbsp;baseren zij zich op een permanente evaluatie van duurzame&nbsp;noteringsagentschappen die door de
    federale overheid erkend worden.&nbsp;</p>
<h4><em>Productnormen</em></h4>
<p>Omdat goederen in een kapitalistisch systeem in eerste instantie geproduceerd worden om te worden verkocht moet de
    levensduur ervan worden beperkt. In het bijzonder in de 21e eeuw, waarin de productiviteit zo machtig gegroeid is
    dat de afzetmarkten voortdurend worden bedreigd met oververzadiging, is duurzaamheid de syfilis van het
    kapitalisme. Een smartphone ging in 2008 nog minstens drie jaar mee. In 2018 is die levensduur geslonken tot 15
    maanden. Mocht de hardware het nog langer uithouden, dan zorgt de constructeur er wel voor dat er na verloop van
    tijd geen update van de software meer mogelijk is.<a href="https://www.phonextra.nl/blog/wat-is-de-gemiddelde-levensduur-van-een-smartphone/"
        matTooltip="Peter Otte, Wat is de gemiddelde levensduur van een smartphone?" matTooltipPosition="above">[96]</a>
    De levensduur van goedkope stofzuigers wordt dan weer beperkt door de koolborstels in te korten<a href="https://www.consumentenbond.nl/stofzuiger/test-levensduur-en-repareerbaarheid-stofzuigers"
        matTooltip="Consumentenbond, Onderzoek levensduur en repareerbaarheid stofzuigers" matTooltipPosition="above">[97]</a>,
    enzovoort. Het aanschaffen van duurzame producten is dus iets voor rijke mensen.</p>
<p><br /><br /></p>
<p>Inzake duurzaamheid stelt het kapitalisme ons voor een probleem dat als het ware ingebakken zit in het systeem: met
    duurzame producten die niet kapot gaan kan maar &eacute;&eacute;n keer winst gemaakt worden. &nbsp;Als antwoord
    hierop wordt de levenscyclus van de producten beperkt opdat de markt zich geregeld zou &lsquo;verversen&rsquo;.
    <strong>Dit is onaanvaardbaar, en gezien de planetaire milieucrisis, zelfs sociopathisch gedrag. </strong>Daarom
    stellen wij los van al het voorgaande onmiddellijk ook volgende maatregelen voor:</p>
<ul>
    <li>Het geleidelijk verbod op de verkoop van ineffici&euml;nte stookolieketels;&nbsp;</li>
    <li>Het geleidelijk verbod op de verkoop van ineffici&euml;nte gasketels;&nbsp;</li>
    <li>Het verbod op de verkoop van wagens op fossiele brandstof vanaf 2030;&nbsp;</li>
    <li>De initi&euml;le verlenging van de garantieperiode naar 5 jaar;&nbsp;later naar 10 jaar</li>
    <li>De verplichting om de accessoires en onderdelen bij dure producten&nbsp;gedurende initieel &nbsp;vijf jaar
        beschikbaar te houden; later 10 jaar&nbsp;</li>
    <li>Het verbod op, en zwaar bestraffen van, georganiseerde veroudering;&nbsp;</li>
    <li>De invoering van een productpaspoort, minstens voor alle duurzame&nbsp;goederen die uit onderdelen bestaan. Dat
        paspoort bevat onder meer de lijst&nbsp;met onderdelen, de materialen waaruit deze bestaan en instructies
        voor&nbsp;herstellingen. Alle paspoorten komen in een publieke online databank.&nbsp;</li>
</ul>
<h4><em>Water</em></h4>
<p>Belgi&euml;, en in het bijzonder Vlaanderen, droogt decennium na decennium verder uit. De zomer van 2018 gaf ons een
    voorsmaakje van wat er ons op dat vlak te wachten staat. Professor Patrick Willems van de KU Leuven legde in <em>De
        Morgen </em>van 2 juli 2018 de vinger op de wonde: &ldquo;<em>In Vlaanderen hebben we ongeveer 1500 kubieke
        meter water per persoon per jaar beschikbaar. Dat cijfer wordt bepaald door de hoeveelheid water die we
        beschikbaar hebben, - via de neerslag en deels via de waterlopen - en hoeveel water we nodig hebben, ook voor
        de industrie en de landbouw. Zit je onder de 1000 kubieke meter, dan is er sprake van ernstig watertekort.
        Zoiets zie je bijvoorbeeld in Noord-Afrika en in het Midden-Oosten. Maar alles onder de 2000 is eigenlijk
        problematisch.&rdquo;</em></p>
<p>We vinden het veel te vanzelfsprekend dat er drinkbaar water uit de kraan komt. Maar beeld je de dag in waarop dat
    niet meer het geval is. Om dat doemscenario te vermijden zal een heel palet van maatregelen moeten worden
    doorgevoerd dat -alweer- niet pleit voor nulgroei, maar voor uitgebreide openbare investeringen. We denken dan in
    de eerste plaats aan een grijswater distributienetwerk.</p>
<p>Grijs water wordt geproduceerd door riool- en industriewaterzuiveringsstations. Het is van onvoldoende kwaliteit om
    als drinkwater te fungeren, maar het kan wel worden gebruikt om toiletten door te spoelen, te poetsen, het gazon te
    sproeien of de auto te wassen. Het kent ook tal van industri&euml;le toepassingen. De consumptie van zuiver
    drinkwater kan dan worden beperkt tot hoogwaardige toepassingen zoals het bereiden van voedsel, persoonlijke
    hygi&euml;ne, en natuurlijk om te&hellip; drinken.</p>
<p>Daarnaast moeten we het verharden en ondoordringbaar maken van de bodem stoppen en zelfs terugdringen. Vlaanderen is
    een dichtbebouwde regio met veel asfalt en beton. Het regenwater kan daardoor niet meer in de bodem sijpelen om de
    grondwaterlagen aan te vullen. Deze oppervlakten dienen zoveel mogelijk terug te worden onthard. De daken van
    woningen en bedrijven moeten massaal worden voorzien van regenwaterrecuperatiesystemen.</p>