<p>De huidige politieke structuren moeten worden hervormd, omdat zij noch effici&euml;nt, noch democratisch zijn.
    Nieuwe instellingen worden of werden opgericht onder impuls van de Vlaamse en Waalse bewegingen zonder
    samenhangende visie en vooral zonder dat de overbodig geworden instellingen worden afgeschaft. Dit leidt naar een
    wildgroei aan structuren en parlementen, overlapping en verwarring, en uiteindelijk tot verstarring en immobilisme.
    In theorie zou&nbsp;Belgi&euml;&nbsp;zeven&nbsp;parlementen&nbsp;en zeven regeringen moeten tellen: 3
    gemeenschappen + 3 gewesten + 1 federale overheid =&nbsp;7 parlementen&nbsp;en regeringen. Toch hebben we 'maar'
    zes&nbsp;parlementen en zes regeringen: de Vlaamse Regering bestuurt zowel de Vlaamse Gemeenschap als het Vlaamse
    Gewest.</p>
<p>Dit kluwen is ook het resultaat van een misplaatste identiteitspolitiek: de Vlaamse beweging doet immers alsof een
    gewone werkende Vlaming minder gemeen heeft met een gewone werkende Waal dan met een Marc Coucke of Fernand Huts.
    Het zou nochtans zonneklaar moet zijn dat de gewone werkende mensen aan beide zijden van de taalgrens vooral
    verschillen qua taal, maar voor de rest heel gelijkaardige levens leiden. Een Vlaming heeft dan weer de taal gemeen
    met een Marc Coucke, maar zal voor de rest een heel ander leven leiden.</p>
<p>Onze instellingen zijn ook fundamenteel ondemocratisch wat betreft een aantal dossiers waar een groot deel van de
    bevolking voor is: 85% van de Vlamingen is voorstander van een vermogensbelasting en zo'n 85% vindt dat de regering
    de ongelijkheid moet aanpakken. <a matTooltip="Knack, 85% van de Vlamingen is voorstander van een vermogensbelasting, 09/12/2014
    "
        matTooltipPosition="above">[98]</a> Ondanks de overgrote meerderheid van de bevolking hier voor is wordt
    niets mee gedaan, wel integendeel, de cadeaus voor de rijken zijn nog nooit zo groot geweest, de druk op en
    besparingen voor de werkenden nooit zo hoog. Een grote meerderheid van de Belgen verwerpt ook de verhoging van de
    pensioenleeftijd. <a matTooltip="De Standaard, Grote meerderheid Belgen verwerpt verhoging pensioenleeftijd, 14/10/2016"
        matTooltipPosition="above">[99]</a> Ook hier wordt niets mee gedaan, wel integendeel, langer werken zonder
    uitzonderingen is het credo. Een grote meerderheid van de Belgen concludeert en vindt dan ook dat politici
    gecorrumpeerd zijn. <a matTooltip="Het Nieuwblad, Meerderheid Belgen denkt dat politici gecorrumpeerd zijn, 09/12/2009"
        matTooltipPosition="above">[100]</a> Niet geheel verrassend wordt hier niets mee gedaan, wel integendeel, jaar
    na jaar verkiezen we dezelfde bende omdat politiek ons niet interesseert. Die zullen zeker niet voor zuivere
    politiek staan.</p>
<p>Wat kost deze klucht ons? Het is moeilijk precieze gegevens te vinden over de precieze jaarlijkse kostprijs van onze
    instellingen. In 2016 kwam Alex Tavernier tot volgende cijfers op basis van de begroting van dat jaar. Deze tabel
    is zonder de kostprijs van de regering zelf, laat staan het koningshuis. Alles samengeteld zullen we vlot aan een
    miljard euro per jaar komen puur voor de instellingen.</p>
<p><br /></p>
<p><img src="assets/images/image16.png" alt="" /></p>
<p>Hier dringt zich dus een rationalisatie op, maar vooral ook <strong>een radicale democratisering. </strong></p>
<p>Hiervoor baseren wij ons op Zwitserland waar burgers via referenda en initiatiefrecht aanpassingen voor de grondwet
    kunnen voorstellen, maar ook gewone wetten kunnen aanpassen of lanceren. In sommige kantons kan men ook een
    referendum organiseren over de afzetting van een mandataris. Zwitserland is echter niet het enige gebied waar deze
    componenten van directe democratie bestaan, maar liefst 24 staten in de VS hebben dit ook op staatsniveau. Ook in
    Syrisch Koerdistan, meer bepaald het kanton Rojava, hanteert men een democratisch confederaal model waarbij
    politieke beslissingen via directe democratie op het niveau van de commune worden genomen. Elk niveau vaardigt ook
    afgevaardigden af naar een hoger niveau, maar enkel met zogenaamde imperatieve mandaten: dit wil zeggen dat men
    enkel datgene kan uitvoeren waarvoor men specifiek verkozen is. Doet men dit niet zal de mandataris via het systeem
    van permanente afzetbaarheid worden ontzet uit zijn ambt. Meer dan speciaal is ook dat de meeste functies dubbel
    ingevuld worden door een man en een vrouw.</p>
<p>Kortom, er zijn genoeg voorbeelden te vinden waar directe democratie in meer of mindere mate wordt uitgevoerd. Wij
    stellen dan ook volgende structuur voor:</p>
<p>
    A) <strong>De gemeenten.</strong> Ze lijken ons de beste basis voor politieke democratie omdat de bevolking er
    nauw kan worden betrokken bij de wetgevende &ndash;en uitvoerende macht, terwijl het bestuur het best de lokale
    problemen kent omdat ze er zo dicht bij staan. Op gemeentelijk niveau is de kans op actieve democratie dus het
    grootst.
</p>
<p>Enkele hervormingen zijn nochtans nodig. De mogelijkheid moet gecre&euml;erd worden om gemeenten bestuurlijk te
    fuseren, bijvoorbeeld sommige gemeenten van het huidige Brusselse gewest of nog bestaande kleine gemeenten zoals in
    landelijke en dunbevolkte gebieden. Andere te grote gemeentes moeten dan weer (gedeeltelijk) gedefuseerd kunnen
    worden om een directe democratie mogelijk te maken, zoals in Groot Antwerpen. Het belangrijkste is echter dat de
    gemeentes, als werkbare administratieve eenheden, een offensieve politiek voeren gericht op het totale welzijn van
    de gehele bevolking, en dus maximaal initiatieven moeten nemen om dit welzijn te waarborgen. Nu wordt dit
    initiatiefrecht verlamd door ingewikkelde procedures bij hogere instanties met een feitelijk vetorecht. Om de
    procedures te vereenvoudigen moet de voogdij uitsluitend worden toevertrouwd aan het gewestelijk uitvoerend orgaan.
    Belangrijk is ook dat op gemeentelijk niveau de permanente afzetbaarheid van de mandatarissen moet gelden: indien
    20 procent van het kiespubliek zich via e-handtekening akkoord verklaart moet een referendum over afzetting
    georganiseerd worden. Deze referenda werken met een simpele meerderheid (50+1 procent) en een minimum van 20% van
    het relevante kiespubliek moet er aan deelnemen wil het geldig zijn.</p>
<p>Om een rechtstreeks contact tussen gemeentebestuur en bevolking tot stand te brengen, en een democratische werking
    van die besturen te waarborgen, is een tussenschakel nodig. De <strong>wijk -of buurtcomit&eacute;s</strong>. Deze
    zijn nodig om een regelmatige en uitgebreide raadpleging van de bevolking over de problemen die haar aangaan
    mogelijk te maken, maar ook om de mandatarissen de kans en de plicht te geven zich regelmatig te verantwoorden over
    het gevoerde beleid. De gemeentelijke kieskringen worden behouden en ingeschakeld in dit project. In een
    democratische gemeenschap zijn dergelijke comit&eacute;s de eerste en onmisbare schakel. Hierbij dient ook gewezen
    te worden dat het een oplossing biedt voor het kunstmatig opgeschroefde taalprobleem daar waar een taalgrens loopt,
    en lijkt het ons ook een goed middel om het sociale weefsel te herstellen en samenlevingsproblemen bespreekbaar te
    maken: <strong>met een radicale basisdemocratie is er geen gevaar op verdrukking van gelijk welke bevolkings
        &ndash;of taalgroep</strong>. Deze voorwaarde dient vervuld te zijn voor wij kunnen overgaan tot de
    hervormingen voor de gewesten en gemeenschappen.</p>
<p>
    B) De volgende trap zijn de <strong>gewesten</strong>, Vlaanderen, Walloni&euml; en Brussel.
</p>
<p>In Duitsland zijn de deelstaten de&nbsp;<em>L&auml;nder</em>, in Zwitserland de kantons en in de VS de staten. De
    indeling in deelstaten is duidelijk en strikt gebaseerd op territoriale grenzen. In Belgi&euml; is de indeling van
    de deelstaten echter vooral ingegeven door een indeling naar materie en zijn er twee soorten deelstaten ontstaan
    door de Vlaamse en Waalse beweging. Op vraag van Walloni&euml; werden&nbsp;<em>gewesten</em>&nbsp;opgericht met
    vooral economische, plaatsgebonden bevoegdheden, zoals ruimtelijke ordening. Op vraag van Vlaanderen echter
    werden&nbsp;<em>gemeenschappen</em>&nbsp;opgericht met persoonsgebonden bevoegdheden (in het begin voornamelijk
    taal, cultuur en onderwijs).</p>
<p>Het Vlaams Parlement oefent nu al gemeenschaps- &eacute;n gewestbevoegdheden uit, maar aan Waalse zijde zijn er
    bijvoorbeeld nog steeds 2 afzonderlijke parlementen. Hoewel het fuseren van gemeenschappen en gewesten heel wat
    politieke moed zal vergen, zou het de werking van de Belgische staat enorm vereenvoudigen. <strong>Vlaanderen en
        Walloni&euml; zullen dan wel op politiek vlak hun rechtstreekse band met Brussel wat moeten durven loslaten.
        Indien er spijkerharde garanties zijn voor directe democratie zoals hierboven uitgelegd hoeft dit geen probleem
        te zijn. </strong></p>
<p>Voor de 'zachte' bevoegdheidspakketten, zoals cultuur, sport, jeugd, moeten de gewesten integraal verantwoordelijk
    blijven. Het is tijd voor een grondige, meer objectieve analyse van de voor- en nadelen van (de)centralisatie van
    bepaalde bevoegdheden. Daarna kunnen/zullen bepaalde bevoegdheden verder gedefederaliseerd worden en andere
    bevoegdheden geherfederaliseerd. Ook dit laatste mag geen taboe zijn. Denk bijvoorbeeld aan mobiliteit en
    buitenlandse handel.</p>
<p><strong>Om politieke spelletjes te voorkomen, worden de gewestelijke en federale verkiezingen op dezelfde dag
        georganiseerd, liefst op dezelfde dag als de Europese verkiezingen</strong>. De opkomstplicht blijft behouden.
    Het afschaffen van deze plicht werkt verzaking aan burgerlijke participatie in de hand, en dit bij de zwakste
    groepen eerst; bijgevolg is stemplicht nog steeds te verkiezen boven stemrecht.</p>
<p>Wat de kieskringen betreft kunnen we kort zijn: <strong>wij zijn voorstanders van een federale kieskring voor de
        kamer.</strong> De senaat dient afgeschaft te worden, net als de provinciale instellingen. De huidige indeling
    in meerdere kieskringen leidt tot een democratisch deficit. Bij&nbsp;Vlaamse&nbsp;verkiezingen betekent dit dat
    iemand in bijvoorbeeld Limburg niet kan stemmen voor een kandidaat die opkomt in bijvoorbeeld West-Vlaanderen of
    Vlaams-Brabant. Hetzelfde gebeurt bij de federale verkiezingen: iemand uit een bepaalde provincie kan niet stemmen
    voor een kandidaat uit een andere provincie. Een Limburger kan dus evenmin een West-Vlaamse of Waalse premier
    afstraffen/belonen bij de federale verkiezingen. Theoretisch is er dus geen enkele communautaire kwestie verbonden
    met de indeling in kieskringen.</p>
<p><strong>De federale kieskring laat toe politici over het hele land te verkiezen, waardoor deze dus ook
        verantwoording zijn verschuldigd aan het hele land.</strong> Voor de Europese en gewestelijke verkiezingen zijn
    er drie kieskringen: een Vlaamse, Waalse en Duitstalige kieskring. In de tweetalige gebieden kunnen de bewoners
    vrij een stem uitbrengen op een van de twee lijsten. <strong>Ook zijn wij voor de afschaffing van de kiesdrempel
        van 5 procent</strong>: in een ware democratie mogen geen drempels bestaan. Wij zijn voor een minimum aantal
    stemmen om de representativiteit te behouden, maar 5 procent ligt veel te hoog. In Oostenrijk en Zweden geldt een
    kiesdrempel van 4% en in Griekenland van 3%. Portugal, Zuid-Afrika, Finland en Macedoni&euml; hebben geen
    kiesdrempel. In Nederland is er de facto een kiesdrempel van 0,667%. Het Nederlandse systeem lijkt ons aan te
    bevelen voor maximale democratie te garanderen.</p>
<p>Ook op gewestelijk en federaal niveau geldt de permanente afzetbaarheid van de mandatarissen: indien 20 procent van
    het kiespubliek zich via handtekening akkoord verklaart moet een referendum over afzetting georganiseerd worden.
    Deze referenda werken met een simpele meerderheid (50+1 procent) en een minimum van 20% van het relevante
    kiespubliek moet er aan deel nemen wil het geldig zijn.</p>
<p>Met onze oproep tot radicale directe democratie willen we toestanden als Brussel-Halle-Vilvoorde vermijden: iedereen
    vertelde dat hij er niet wakker van lag en toch blokkeerde het probleem de Belgische politiek. Het zou niet de
    eerste keer zijn dat dit gebeurt door een probleem van tweede en derde garnituur (Voeren!) en ongetwijfeld verbergt
    dit andere tegenstellingen. Toch willen we een poging doen om in te gaan op de echte problemen in BHV. De Vlaamse
    partijen eisten de splitsing van het gerechtelijke en het kiesarrondissement dat toen Brussel en Vlaams Brabant
    omvatte. Het eerste is mogelijk bij gewone wet, voor het tweede is een grondwetsherziening nodig. In feite is de
    kieskring Brussel-Halle-Vilvoorde splitsen een verkeerde oplossing voor een zeer re&euml;el probleem. Natuurlijk
    verdiende het geen schoonheidsprijs dat de inwoners van Vlaams-Brabant voor de (tweetalige) Brusselse lijsten
    konden kiezen en die van Waals-Brabant niet. <strong>Maar het echte probleem is natuurlijk de begrenzing van
        Brussel en de faciliteitengemeenten.</strong> Beter gezegd: het echte probleem is de stelselmatige uitbreiding
    van de grootstad Brussel en de rechtmatige verzuchtingen van de bewoners van de landelijke gemeenten er rond. Het
    is dus vooral een sociale problematiek, die trouwens ook speelt in Waals-Brabant. <strong>Met grote voorsprong het
        belangrijkste probleem is niet het taalprobleem, maar het woningprobleem.</strong> Door de inwijking vanuit
    Brussel zijn de grondprijzen in deze landelijke gemeenten zodanig gestegen dat het voor de jonge bevolking
    onbetaalbaar wordt om er nog te huren, laat staan te bouwen. Velen zien zich gedwongen te emigreren uit hun
    geboortestreek. Enkel een socialistische grond &ndash;en woonpolitiek, die voorziet in verkavelingen voor kleine
    percelen bestemd voor bescheiden woningen en <strong>het aanbieden van voldoende sociale woningen, kan hier een
        oplossing voor bieden. </strong>We zullen hier verder op ingaan in ons stuk over wonen.</p>
<p>Het Brusselse gewest heeft trouwens recht op een betere plaats binnen het Belgische staatsbestel. Economisch het
    sterkste onderdeel van de Belgische staat, wordt Brussel uit Vlaanderen (en ook wel eens uit Walloni&euml;) vooral
    als een probleem bekeken. Wij vinden dat Brussel meer middelen en mogelijkheden moet krijgen. Dat houdt ook de
    territoriale uitbreiding in (met garanties voor de oorspronkelijke bevolking). De situatie van de
    faciliteitengemeenten is soms bedroevend. In deze nominaal &lsquo;Vlaamse gemeenten' spreekt tot 80 procent Frans!
    Volgens veel definities zouden de 20 procent Vlamingen niet eens voldoende in aantal zijn om aanspraak te maken op
    faciliteiten. Laat staan dat zij de &lsquo;meerderheidsgroep' zouden zijn en dat de Franse faciliteiten
    &lsquo;uitdovend' zouden moeten zijn. Een verstandige uitbreiding van (tweetalig) Brussel lijkt de enige
    mogelijkheid, gebaseerd op een democratische stemming in de verschillende randgemeenten volgens de hierboven
    beschreven gemeenteraden en garanties die een directe democratie biedt. In Brussel zelf moet erop worden toegezien
    dat Vlamingen er in hun eigen taal kunnen worden bediend (administratie, ziekenhuizen enzovoort). Meertalig
    personeel moet door bijkomende premies gestimuleerd worden. Gratis taallessen moeten tijdens de diensturen van de
    administratie voorzien en verplicht worden.</p>
<p>
    C) Het nationale niveau, <strong>Belgi&euml;</strong>.
</p>
<p>Een socialistische politiek is gebaseerd op solidariteit, gelijkheid en duurzaamheid. Om deze principes te
    handhaven
    en te versterken, <strong>moeten ze gelijkgesteld worden voor zoveel mogelijk mensen.</strong> Om deze reden
    moeten
    de sociale zekerheid en arbeidsmarktbeleid federaal georganiseerd worden, in afwachting naar een harmonisering
    (uiteraard naar boven toe!) op Europees niveau. <strong>Deze bevoegdheidsdomeinen splitsen leidt tot onderlinge
        concurrentie en een neerwaartse druk op deze verworvenheden, wat ook exact de bedoeling is van de
        communautaire
        rechterzijde.</strong> Op het vlak van woonbeleid zien we dat regionalisering niet noodzakelijk leidt tot
    verbetering. Wat we zelf doen, doen we m.a.w. niet automatisch beter. Sinds een regionaal georganiseerd
    woonbeleid
    een feit is, is het er op het vlak van sociale huisvesting niet bepaald beter op geworden. Een federaal geleid
    arbeidsmarktbeleid neemt niet weg dat er niet gedifferentieerd kan worden gewerkt. Ook vandaag al is er een
    gedifferentieerde aanpak tussen platteland en stad, tussen Antwerpen en Limburg, tussen ambtenaren en mensen
    die
    door herstructurering van de ene dag op de andere op straat belanden. We laten de sociaal-economische
    bevoegdheidspakketten dus integraal federaal, en voorzien een gedifferentieerde aanpak waar nodig, zoals nu al
    het
    geval is.</p>
<p>De Belgische federale staat blijft behouden met gewestoverschrijdende bevoegdheden als buitenland, defensie en
    alle
    bevoegdheden waarvoor solidariteitsmechanismen tussen de gewesten wenselijk zijn, zoals de sociale zekerheid,
    de
    gezondheidszorg, de toepassing van de grondwet, enz. <strong>Wetgevend blijft er een federale Kamer, de Senaat
        wordt afgeschaft</strong>. Zoals het Koningshuis is de Senaat een achterhaalde instelling, ooit bedoeld om
    controle uit te oefenen op de Kamer, maar niet langer relevant.</p>
<p>Aangezien de Senaat sinds de zesde staatshervorming een volwaardige deelstatenkamer is geworden en amper werk
    heeft,
    lijkt dit een geschikte plaats voor de deelstaten om in haar pluchen zetels op een serene manier toekomstige
    stappen voor te bereiden. Zo niet, kan men de deelstatenkamer beter opdoeken en haar rol laten vervullen door
    bijvoorbeeld een commissie in de Kamer of een orgaan dat enkel samenkomt als het nodig is.</p>
<p>Discussies over de grondwet en de beperkte materie die door de kleine Senaat worden behandeld, kunnen evengoed
    in de
    veel representatievere Kamer worden gevoerd. De federale staat wordt geleid door een Eerste Minister, maar het
    aantal ministers wordt beperkt. <strong>Van elke lokale, gewestelijke en federale mandataris moet het mandaat
        door
        een democratische meerderheid en via een referendum herroepen kunnen worden zoals hierboven uitgelegd.</strong></p>
<p>Bij het overlijden of de troonsafstand van de koning wordt een nationaal referendum georganiseerd over het
    behoud
    van een Belgische constitutionele monarchie dan wel de invoering van een Belgische federale republiek. Indien
    de
    eerste optie het haalt, dan wordt deze procedure herhaald bij elk moment dat een troonsopvolging zich aandient.
    Zowel in het geval van een koning als in het geval van een rechtstreeks door het volk verkozen president wordt
    deze
    functie van staatshoofd in ieder geval zuiver protocollair, behalve wat betreft begeleidingsbevoegdheden bij de
    vorming van een federale regering.</p>