<p>Een werkelijke politieke democratie is ondenkbaar zonder degelijke en volledige informatie van de publieke opinie.
    Dat is precies de taak van de massamedia en vooral van de pers. Nochtans vestigen zoals eerder aangetoond de
    financi&euml;le groeperingen steeds steviger hun greep op de pers, en dus op de informatieverstrekking en
    opinievorming van de publieke opinie.</p>
<p>De enige oplossing die op doeltreffende wijze de kapitalistische greep op de pers kan uitschakelen ligt in de
    <strong>onteigening van de bestaande persgroepen en het oprichten door de overheid van dienstverlenende
        persbedrijven en drukkerijen</strong>. Deze zouden gemeenschapsbezit zijn, en worden beheerd door
    vertegenwoordigers van alle betrokken persorganen. Redacties met eigen rechtspersoonlijkheid kunnen gebruik maken
    van deze infrastructuur mits zij voldoen aan een aantal criteria (minimumoppervlakte -of tijd besteed aan degelijke
    informatie, democratische structuur van de redactie,&hellip;). Nieuwe publicaties of zenders zouden beschikken over
    speciale startkansen inzake oplage.</p>

<p>De kosten worden uitsluitend gedekt door abonnementsgelden. De redacties verliezen hun commercieel karakter en
    worden omgevormd tot stichtingen met eigen rechtspersoonlijkheid die een zekere verantwoordelijkheid hebben
    tegenover hun lezers, kijkers en geabonneerden. Deze laatsten vormen een vereniging die het bestuur verkiest, die
    de formule van de krant of zender vaststelt en die de directeur en hoofdredacteur benoemt.</p>
<p>Ook de kapitalistische structuur van de distributie wordt vervangen door een openbare dienst voor persdistributie,
    die waarborgt dat alle kranten en uitzendingen, ook de nieuw opgerichte, op een soortgelijke wijze verdeeld worden.</p>

<p>Radio en TV moeten een openbare dienst blijven met algemene culturele opdracht, gefinancierd door gemeenschapsgeld
    met uitsluiting van iedere reclame. Alle meningen en strekkingen, ook van minderheidsgroeperingen, moeten toegang
    tot het medium hebben. De omroep wordt geleid door een raad waarin de representatieve groepen van de maatschappij
    op de verschillende terreinen vertegenwoordigd zijn volgens wettelijk vastgestelde criteria. Deze raad verkiest een
    raad van beheer die het dagelijkse bestuur waarneemt. Meer tijd moet worden ingeruimd aan zendgemachtigde
    verenigingen die voor een totaalprogramma kunnen instaan, en die, hoewel niet zuiver partijpolitiek gericht, toch
    aansluiten bij een ideologische strekking. Het zijn autonome verenigingen, waarvan de leden het bestuur verkiezen
    en de inhoud der programma&rsquo;s bepalen. Er dient te worden gewezen op het feit dat de openbare omroep momenteel
    helemaal niet of onvoldoende bijdraagt tot informatie en opinievorming, daar waar hij een zeer grote rol zou moeten
    spelen in het proces van democratische besluitvorming dat uiteindelijk tot zelfbeheer moet leiden. In een
    maatschappij die naar zelfbeheer evolueert moet de omroep ten volle zijn informatieve en vormende taak vervullen.</p>

<p>We kunnen niet genoeg de nadruk leggen op het belang van de strijd die gevoerd moet worden op het gebied van de
    massa media. Het komt erop aan ze te onttrekken aan de greep van de kapitalistische belangengroepen, zonder hun
    zelfstandigheid tegenover de staat aan te tasten. Daarvoor moet de directe democratie bij de verschillende kranten
    en zendverenigingen zorgen. Het komt erop aan de massamedia in staat te stellen hun informatieve en vormende taak
    in de beste omstandigheden te vervullen en alle opinies op gelijke voet de kans te geven op verspreiding. <strong>In
        de strijd om een democratische en zelfbeheerde maatschappij vormt het informatiebeleid een essentieel
        onderdeel.</strong></p>