<app-subject [chapters]="chapters" [next]="next" [previous]="previous">
    <ng-template [appTemplate]="'introduction'">
        <div>
            <h2 class="subject__title">Het politieke kader: democratisering is nodig</h2>
            <p>In dit stuk pleiten we voor een rationalisering van onze politieke structuren, en breken we een lans
                voor een radicale democratisering. Wij zien de parlementaire democratie niet als het eindpunt van de
                geschiedenis, maar net als een beginpunt. We pleiten volop voor een decumul en loonmatiging bij
                mandatarissen, maar vooral ook voor een permanente afzetbaarheid zodat democratie meer is dan om de
                paar jaar een bolletje inkleuren. Tot slot pleiten we voor het terugdringen van de commercialisering
                van de pers.
            </p>
        </div>
    </ng-template>
    <ng-template [appTemplate]="chapters[0].title">
        <app-c-1-structuren></app-c-1-structuren>
    </ng-template>
    <ng-template [appTemplate]="chapters[1].title">
        <app-c-2-mandatarissen>
        </app-c-2-mandatarissen>
    </ng-template>
    <ng-template [appTemplate]="chapters[2].title">
        <app-c-3-pers></app-c-3-pers>
    </ng-template>
</app-subject>